<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1432</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-432</integer>
    <key>familyName</key>
    <string>GoogleSansFlexItalic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>xyWXnK599A</string>
        <key>name</key>
        <string>overshoot top</string>
        <key>x</key>
        <integer>445</integer>
        <key>y</key>
        <integer>1443</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>G6vrEP0fEH</string>
        <key>name</key>
        <string>overshoot bottom</string>
        <key>x</key>
        <integer>392</integer>
        <key>y</key>
        <integer>-21</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>opsz18-wdth25-wght400-RON0</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <integer>1020</integer>
  </dict>
</plist>
