<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
