<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>wiggle.medium</key>
    <string>wiggle.medium.glif</string>
  </dict>
</plist>
