<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>eight.numerator</key>
    <string>eight.numerator.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>flig1</key>
    <string>flig1.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>four.numerator</key>
    <string>four.numerator.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>one.numerator</key>
    <string>one.numerator.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>wiggle.medium</key>
    <string>wiggle.medium.glif</string>
    <key>zero.numerator</key>
    <string>zero.numerator.glif</string>
  </dict>
</plist>
