{
displayStrings = (
"μẞŒœČčĎďĚěŇňŘřŠšŤťŮůŽžĲĳȷŸŐőŰűĖėĮįŪūŲųĄąĆćĘęĿŀŁłŃńŚśŹźŻżĂăȘșȚțŢţŞşĹĺĽľŔŕĀāĒēĢģĪīĶķĻļŅņŴŵẀẁẂẃẄẅŶŷĞğİĐđ",
"
‹«»›
‹«»›



ẞ ẞ ẞ
ẞ ẞ ẞ
ẞ ẞ ẞ


d/a.alt/ae.alt e d/a.alt/ae.alt eo d/a.alt/ae.alt  e
d/a.alt/ae.alt e d/a.alt/ae.alt eo d/a.alt/ae.alt  e
d/a.alt/ae.alt e d/a.alt/ae.alt eo d/a.alt/ae.alt  æe

/aacute.alt/abreve.alt/acaron.alt/acircumflex.alt/adieresis.alt/agrave.alt/amacron.alt/a.alt/aogonek.alt  ̊ /aring.alt å/atilde.alt 


˛ ̨  ĮįŲųĄąĘę/aogonek.alt 
˛ ̨ ĮįŲųĄąĘę/aogonek.alt 
˛ ̨ ĮįŲųĄąĘę/aogonek.alt 

percentbar desaparece /percentbar  /zero.dnom.percent  %/zero.dnom.percent  %

[percentbar.tf](http://percentbar.tf)  fraction.tf

zeropercent  zero.numr.percent (componente)  y zero.dnom.percent (original)


",
"ABCDEF̧GTHIJKLMN
OPQRSTUVWXYZ

aceımn
opqrstuvwxyz

ȷg

bdf hlk

ðæoœa/a.alt/ae.alt g/g.alt þ

ÆŒ/strokeshortcomb.case DÐÞ

 ̇   ̀  ́   ̂   ̃   ̄   ̆  ̇   ̈   ̊    ̋      ̌  ̒ 

̇   ̀  ́   ̂   ̃   ̄   ̆  ̇ıiė   ̈   ̊    ̋  Ő    ̌  ̒ 

/caroncomb.alt  

ÀÁÂÃÄAÅÆÇÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜYÝÞßàáâãäåæçèéêëìíîïðñòóôõöøùúûüyýhbþÿıẞŒœČčDĎď ĚěŇňŘřŠšŤ
/caroncomb.alt ťŮůŽžĲĳȷYŸOŐőŰűĖė ̨ĮįŪūŲųĄąĆćĘęĿLŀlŃńŚśŹźŻżĂăȘșȚțŢţŞşĹĺĽ  /caroncomb.alt  llľ /t.001 ŔŕĀāĒēĢģĪīĶķĻļŅņŴŵẀẁẂẃẄẅŶŷĞğİĐđ
/a.alt/aacute.alt/abreve.alt/acaron.alt/acircumflex.alt/adieresis.alt/agrave.alt/amacron.alt/a.alt  ̨/aogonek.alt/aring.alt/atilde.alt/ae.alt/g.alt/gbreve.alt/gcommaaccent.alt/gdotaccent.alt ǎǍċĊġĠħĦōŌŗŖŭŬỳỲ

́    ̀ áàâ

 IĮ ̨̈ ̇įįUŲŲuųAĄaąEĘeę/a.alt/aogonek.alt 


ŲŲŲ Ķ
",
"H0OH1H2H3H4H5H6H7H8H9H
0102030405060708090
00/Placeholder 00HH/Placeholder HH11/Placeholder 11
0H1CJ23456789
/zero.tf/one.tf/two.tf/three.tf/four.tf/five.tf/six.tf/seven.tf/eight.tf/nine.tf 
¼ ½ ¾  ⁄ 
Hn⁰¹²³⁴⁵⁶⁷⁸⁹H/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/nine.denominator  H/zero.numerator/one.numerator/two.numerator/three.numerator/four.numerator/five.numerator/six.numerator/seven.numerator/eight.numerator/nine.numerator 
n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf 
n₀₁₂₃₄₅₆₇₈₉

/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/nine.denominator 
/zero.denominator/zero.denominator/Placeholder/zero.denominator/zero.denominator/one.denominator/one.denominator/Placeholder/one.denominator/one.denominator 
11411511̧",
"
0H1HH2H3H4H5H6H7H8H9
01020304050607080090?
O00/Placeholder 00HH/Placeholder HH11/Placeholder 11
GCO0H1HH2H3H4H5H6H7H8H9H
GCO0H1HH2H3H4H5H6H7H8HH9H
0102030405060708090
0102030405060708090
O00/Placeholder 00HH/Placeholder HH11/Placeholder 11
0HI12?3456789
O0HI1S2?34560789
/zero.tf/one.tf/two.tf/three.tf/four.tf/five.tf/six.tf/seven.tf/eight.tf/nine.tf 
H¼H½H¾H
H¼H½H¾H  /five.numerator ⁄/eight.denominator   /four.numerator/eight.numerator ⁄/eight.denominator 
H⁰¹²³⁴⁵⁶⁷⁸⁹H/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/nine.denominator  H/zero.numerator/one.numerator H/two.numerator/three.numerator/four.numerator/five.numerator/six.numerator/seven.numerator/eight.numerator/nine.numerator H
n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf  
n₀₁₂₃₄₅₆₇₈₉

/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/nine.denominator 
/zero.denominator/zero.denominator/Placeholder/zero.denominator/zero.denominator/one.denominator/one.denominator/Placeholder/one.denominator/one.denominator 

11411511
0010011011",
"H1HH2H3H4H5H6H7H8H9H
0102030405060708090
H1HH2H3H4H5H6H7H8H9H
0102030405060708090
H1HH2H3H4H5H6H7H8H9H
0102030405060708090
H1HH2H3H4H5H6H7H8H9
0102030405060708090",
"H⁰¹²³⁴⁵⁶⁷⁸⁹H⁰¹²³⁴⁵⁶⁷⁸⁹H⁰¹²³⁴⁵⁶⁷⁸⁹
H⁰¹²³⁴⁵⁶⁷⁸⁹H⁰¹²³⁴⁵⁶⁷⁸⁹H⁰¹²³⁴⁵⁶⁷⁸⁹
H⁰¹²³⁴⁵⁶⁷⁸⁹H⁰¹²³⁴⁵⁶⁷⁸⁹H⁰¹²³⁴⁵⁶⁷⁸⁹H
",
"n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf 
n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf 
n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf n/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf",
"S8$3¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf.001 
S8$¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf 
S8$¢c23/dollar.tf/two.tf/cent.tf"
);
}
