<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_right</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B_right</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.C_right</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.E_right</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.Euro_right</key>
    <array>
      <string>Euro</string>
    </array>
    <key>public.kern1.F_right</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.G_right</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.Germandb_right</key>
    <array>
      <string>Germandbls</string>
    </array>
    <key>public.kern1.H_right</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>one</string>
      <string>paragraph</string>
    </array>
    <key>public.kern1.Hbar_right</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern1.J_right</key>
    <array>
      <string>IJ</string>
      <string>J</string>
    </array>
    <key>public.kern1.K_right</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L_right</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.Lcaron_right</key>
    <array>
      <string>Lcaron</string>
    </array>
    <key>public.kern1.Ldot_right</key>
    <array>
      <string>Ldot</string>
    </array>
    <key>public.kern1.O_right</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
    </array>
    <key>public.kern1.P_right</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R_right</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S_right</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.TM_right</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern1.T_right</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern1.Thorn_right</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.U_right</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern1.V_right</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W_right</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.X_right</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y_right</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.Z_right</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a_right</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.ampersand_right</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.asciicircum_right</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern1.asterisk_right</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern1.at_right</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern1.b_slash_right</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern1.bar_right</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.braceleft_right</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.braceright_right</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern1.bracketleft_right</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.bracketright_right</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern1.bullet_right</key>
    <array>
      <string>bullet</string>
    </array>
    <key>public.kern1.c_right</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.cent_right</key>
    <array>
      <string>cent</string>
    </array>
    <key>public.kern1.colon_right</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.currency_right</key>
    <array>
      <string>currency</string>
    </array>
    <key>public.kern1.dash_right</key>
    <array>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.dcroat_right</key>
    <array>
      <string>dcroat</string>
    </array>
    <key>public.kern1.degree_right</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern1.dollar_right</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern1.e_right</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
      <string>ae.alt</string>
    </array>
    <key>public.kern1.eight_de_right</key>
    <array>
      <string>eight.denominator</string>
    </array>
    <key>public.kern1.eight_nu_right</key>
    <array>
      <string>eight.numerator</string>
    </array>
    <key>public.kern1.eight_right</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern1.eight_sinf_right</key>
    <array>
      <string>eightsubscript</string>
      <string>eight.sinf</string>
    </array>
    <key>public.kern1.eight_sup_right</key>
    <array>
      <string>eightsuperscript</string>
    </array>
    <key>public.kern1.equal_right</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
      <string>approxequal</string>
      <string>logicalnot</string>
    </array>
    <key>public.kern1.eth_right</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern1.exclam_d_right</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern1.exclam_right</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.f_right</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>t_f</string>
    </array>
    <key>public.kern1.five_de_right</key>
    <array>
      <string>five.denominator</string>
    </array>
    <key>public.kern1.five_nu_right</key>
    <array>
      <string>five.numerator</string>
    </array>
    <key>public.kern1.five_right</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.five_sinf_right</key>
    <array>
      <string>fivesubscript</string>
      <string>five.sinf</string>
    </array>
    <key>public.kern1.five_sup_right</key>
    <array>
      <string>fivesuperscript</string>
    </array>
    <key>public.kern1.four_de_righ</key>
    <array>
      <string>onequarter</string>
      <string>threequarters</string>
    </array>
    <key>public.kern1.four_de_right</key>
    <array>
      <string>four.denominator</string>
    </array>
    <key>public.kern1.four_nu_right</key>
    <array>
      <string>four.numerator</string>
    </array>
    <key>public.kern1.four_right</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.four_sinf_right</key>
    <array>
      <string>foursubscript</string>
      <string>four.sinf</string>
    </array>
    <key>public.kern1.four_sup_right</key>
    <array>
      <string>foursuperior</string>
      <string>foursuperscript</string>
    </array>
    <key>public.kern1.fraction_right</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern1.g_bi_right</key>
    <array>
      <string>g.alt</string>
      <string>gbreve.alt</string>
      <string>gcommaaccent.alt</string>
      <string>gdotaccent.alt</string>
      <string>g.ss03</string>
      <string>gbreve.ss03</string>
      <string>gcommaaccent.ss03</string>
      <string>gdotaccent.ss03</string>
    </array>
    <key>public.kern1.g_right</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.germandb_right</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.greater_right</key>
    <array>
      <string>greater</string>
      <string>greaterequal</string>
    </array>
    <key>public.kern1.guilsingl_l_right</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilsingl_r_right</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen_right</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.i_right</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>ij</string>
      <string>j</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_i</string>
      <string>f_j</string>
    </array>
    <key>public.kern1.k_right</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>f_f_k</string>
      <string>f_k</string>
    </array>
    <key>public.kern1.l_right</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>f_f_l</string>
      <string>f_l</string>
    </array>
    <key>public.kern1.l_slash_right</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern1.lcaron_right</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.less_right</key>
    <array>
      <string>multiply</string>
      <string>less</string>
      <string>lessequal</string>
      <string>plusminus</string>
    </array>
    <key>public.kern1.minus_right</key>
    <array>
      <string>minus</string>
      <string>asciitilde</string>
    </array>
    <key>public.kern1.mu_right</key>
    <array>
      <string>mu</string>
      <string>micro</string>
    </array>
    <key>public.kern1.n_right</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>f_f_h</string>
      <string>f_h</string>
    </array>
    <key>public.kern1.nine_de_right</key>
    <array>
      <string>nine.denominator</string>
    </array>
    <key>public.kern1.nine_nu_right</key>
    <array>
      <string>nine.numerator</string>
    </array>
    <key>public.kern1.nine_right</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.nine_sinf_right</key>
    <array>
      <string>ninesubscript</string>
      <string>nine.sinf</string>
    </array>
    <key>public.kern1.nine_sup_right</key>
    <array>
      <string>ninesuperscript</string>
    </array>
    <key>public.kern1.numbersign_right</key>
    <array>
      <string>numbersign</string>
    </array>
    <key>public.kern1.o_right</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>f_b</string>
      <string>f_f_b</string>
    </array>
    <key>public.kern1.one_de_right</key>
    <array>
      <string>one.denominator</string>
    </array>
    <key>public.kern1.one_nu_right</key>
    <array>
      <string>one.numerator</string>
    </array>
    <key>public.kern1.one_sinf_right</key>
    <array>
      <string>onesubscript</string>
      <string>one.sinf</string>
    </array>
    <key>public.kern1.one_sup_right</key>
    <array>
      <string>onesuperior</string>
      <string>onesuperscript</string>
    </array>
    <key>public.kern1.ord_a_right</key>
    <array>
      <string>ordfeminine</string>
    </array>
    <key>public.kern1.ord_o_right</key>
    <array>
      <string>ordmasculine</string>
    </array>
    <key>public.kern1.parenleft_right</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.parenright_right</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern1.percent_right</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern1.period_c_right</key>
    <array>
      <string>ldot</string>
      <string>periodcentered</string>
    </array>
    <key>public.kern1.period_right</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>horizontalelipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.plus_right</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern1.q_right</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question_d_right</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern1.question_right</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.quote_right</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.quoteleft_right</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright_right</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r_right</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.round_u_right</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.s_right</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.section_right</key>
    <array>
      <string>section</string>
    </array>
    <key>public.kern1.seven_de_right</key>
    <array>
      <string>seven.denominator</string>
    </array>
    <key>public.kern1.seven_nu_right</key>
    <array>
      <string>seven.numerator</string>
    </array>
    <key>public.kern1.seven_right</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.seven_sinf_right</key>
    <array>
      <string>sevensubscript</string>
      <string>seven.sinf</string>
    </array>
    <key>public.kern1.seven_sup_right</key>
    <array>
      <string>sevensuperscript</string>
    </array>
    <key>public.kern1.six_de_right</key>
    <array>
      <string>six.denominator</string>
    </array>
    <key>public.kern1.six_nu_right</key>
    <array>
      <string>six.numerator</string>
    </array>
    <key>public.kern1.six_right</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.six_sinf_right</key>
    <array>
      <string>sixsubscript</string>
      <string>six.sinf</string>
    </array>
    <key>public.kern1.six_sup_right</key>
    <array>
      <string>sixsuperscript</string>
    </array>
    <key>public.kern1.slash_right</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.space_right</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern1.sterling_right</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern1.t_right</key>
    <array>
      <string>t</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>f_f_t</string>
      <string>f_t</string>
      <string>t_t</string>
    </array>
    <key>public.kern1.tcaron_right</key>
    <array>
      <string>tcaron</string>
    </array>
    <key>public.kern1.three_de_right</key>
    <array>
      <string>three.denominator</string>
    </array>
    <key>public.kern1.three_nu_right</key>
    <array>
      <string>three.numerator</string>
    </array>
    <key>public.kern1.three_right</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern1.three_sinf_right</key>
    <array>
      <string>threesubscript</string>
      <string>three.sinf</string>
    </array>
    <key>public.kern1.three_sup_right</key>
    <array>
      <string>threesuperior</string>
      <string>threesuperscript</string>
    </array>
    <key>public.kern1.two_de_right</key>
    <array>
      <string>two.denominator</string>
      <string>onehalf</string>
    </array>
    <key>public.kern1.two_nu_right</key>
    <array>
      <string>two.numerator</string>
    </array>
    <key>public.kern1.two_right</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.two_sinf_right</key>
    <array>
      <string>twosubscript</string>
      <string>two.sinf</string>
    </array>
    <key>public.kern1.two_sup_right</key>
    <array>
      <string>twosuperior</string>
      <string>twosuperscript</string>
    </array>
    <key>public.kern1.u_right</key>
    <array>
      <string>idotless</string>
      <string>jdotless</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>a.alt</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>acaron.alt</string>
      <string>acircumflex.alt</string>
      <string>adieresis.alt</string>
      <string>agrave.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>atilde.alt</string>
    </array>
    <key>public.kern1.unscore_right</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern1.v_right</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w_right</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.x_right</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y_right</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.yen_right</key>
    <array>
      <string>yen</string>
    </array>
    <key>public.kern1.z_right</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.zero_de_right</key>
    <array>
      <string>zero.denominator</string>
    </array>
    <key>public.kern1.zero_nu_right</key>
    <array>
      <string>zero.numerator</string>
    </array>
    <key>public.kern1.zero_right</key>
    <array>
      <string>zero</string>
      <string>zeroslash</string>
    </array>
    <key>public.kern1.zero_sinf_right</key>
    <array>
      <string>zerosubscript</string>
      <string>zero.sinf</string>
    </array>
    <key>public.kern1.zero_sup_right</key>
    <array>
      <string>zerosuperscript</string>
    </array>
    <key>public.kern2.AE_left</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.A_left</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.Dcroat_Left</key>
    <array>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern2.Euro_left</key>
    <array>
      <string>Euro</string>
    </array>
    <key>public.kern2.Germandb_left</key>
    <array>
      <string>Germandbls</string>
    </array>
    <key>public.kern2.H_left</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.Hbar_left</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern2.J_left</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.Lslash_left</key>
    <array>
      <string>Lslash</string>
    </array>
    <key>public.kern2.O_left</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
    </array>
    <key>public.kern2.S_left</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.TM_left</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern2.T_left</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.U_left</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern2.V_left</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W_left</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X_left</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y_left</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Z_left</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a_left</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.ampersand_left</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.asciicircum_left</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern2.asterisk_left</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.at_left</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern2.b_slash_left</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.bar_left</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.braceleft_left</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.braceright_left</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.bracketleft_left</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.bracketright_left</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.bullet_left</key>
    <array>
      <string>bullet</string>
    </array>
    <key>public.kern2.cent_left</key>
    <array>
      <string>cent</string>
    </array>
    <key>public.kern2.colon_left</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma_left</key>
    <array>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.currency_left</key>
    <array>
      <string>currency</string>
    </array>
    <key>public.kern2.dash_left</key>
    <array>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.degree_left</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern2.dollar_left</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern2.eight_de_left</key>
    <array>
      <string>eight.denominator</string>
    </array>
    <key>public.kern2.eight_left</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.eight_nu_left</key>
    <array>
      <string>eight.numerator</string>
    </array>
    <key>public.kern2.eight_sinf_left</key>
    <array>
      <string>eightsubscript</string>
      <string>eight.sinf</string>
    </array>
    <key>public.kern2.eight_sup_left</key>
    <array>
      <string>eightsuperscript</string>
    </array>
    <key>public.kern2.equal_left</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
      <string>approxequal</string>
    </array>
    <key>public.kern2.eth_left</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern2.exclam_d_left</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern2.exclam_left</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.f_left</key>
    <array>
      <string>f</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_f_t</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f_t</string>
    </array>
    <key>public.kern2.five_de_left</key>
    <array>
      <string>five.denominator</string>
    </array>
    <key>public.kern2.five_left</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.five_nu_left</key>
    <array>
      <string>five.numerator</string>
    </array>
    <key>public.kern2.five_sinf_left</key>
    <array>
      <string>fivesubscript</string>
      <string>five.sinf</string>
    </array>
    <key>public.kern2.five_sup_left</key>
    <array>
      <string>fivesuperscript</string>
    </array>
    <key>public.kern2.four_de_left</key>
    <array>
      <string>four.denominator</string>
    </array>
    <key>public.kern2.four_left</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.four_nu_left</key>
    <array>
      <string>four.numerator</string>
    </array>
    <key>public.kern2.four_sinf_left</key>
    <array>
      <string>foursubscript</string>
      <string>four.sinf</string>
    </array>
    <key>public.kern2.four_sup_left</key>
    <array>
      <string>foursuperior</string>
      <string>foursuperscript</string>
    </array>
    <key>public.kern2.fraction_left</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern2.g_bi_left</key>
    <array>
      <string>g.alt</string>
      <string>gbreve.alt</string>
      <string>gcommaaccent.alt</string>
      <string>gdotaccent.alt</string>
      <string>g.ss03</string>
      <string>gbreve.ss03</string>
      <string>gcommaaccent.ss03</string>
      <string>gdotaccent.ss03</string>
    </array>
    <key>public.kern2.germandb_left</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern2.greater_left</key>
    <array>
      <string>multiply</string>
      <string>greater</string>
      <string>greaterequal</string>
    </array>
    <key>public.kern2.guilsingl_l_left</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilsingl_r_left</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.h_bar</key>
    <array>
      <string>hbar</string>
    </array>
    <key>public.kern2.hyphen_left</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.i_left</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>ij</string>
    </array>
    <key>public.kern2.j_left</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
    </array>
    <key>public.kern2.l_left</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.l_slash_left</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern2.less_left</key>
    <array>
      <string>less</string>
      <string>lessequal</string>
      <string>plusminus</string>
    </array>
    <key>public.kern2.minus_left</key>
    <array>
      <string>minus</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
    </array>
    <key>public.kern2.n_left</key>
    <array>
      <string>idotless</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>mu</string>
      <string>micro</string>
    </array>
    <key>public.kern2.nine_de_left</key>
    <array>
      <string>nine.denominator</string>
    </array>
    <key>public.kern2.nine_left</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.nine_nu_left</key>
    <array>
      <string>nine.numerator</string>
    </array>
    <key>public.kern2.nine_sinf_left</key>
    <array>
      <string>ninesubscript</string>
      <string>nine.sinf</string>
    </array>
    <key>public.kern2.nine_sup_left</key>
    <array>
      <string>ninesuperscript</string>
    </array>
    <key>public.kern2.numbersign_left</key>
    <array>
      <string>numbersign</string>
    </array>
    <key>public.kern2.o_left</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>a.alt</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>acaron.alt</string>
      <string>acircumflex.alt</string>
      <string>adieresis.alt</string>
      <string>agrave.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>atilde.alt</string>
      <string>ae.alt</string>
    </array>
    <key>public.kern2.one_de_left</key>
    <array>
      <string>one.denominator</string>
    </array>
    <key>public.kern2.one_left</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.one_nu_left</key>
    <array>
      <string>one.numerator</string>
      <string>onehalf</string>
      <string>onequarter</string>
    </array>
    <key>public.kern2.one_sinf_left</key>
    <array>
      <string>onesubscript</string>
      <string>one.sinf</string>
    </array>
    <key>public.kern2.one_sup_left</key>
    <array>
      <string>onesuperior</string>
      <string>onesuperscript</string>
    </array>
    <key>public.kern2.ord_a_left</key>
    <array>
      <string>ordfeminine</string>
    </array>
    <key>public.kern2.ord_o_left</key>
    <array>
      <string>ordmasculine</string>
    </array>
    <key>public.kern2.p_left</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.paragraph_left</key>
    <array>
      <string>paragraph</string>
    </array>
    <key>public.kern2.parenleft_left</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern2.parenright_left</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.percent_left</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern2.period_c_left</key>
    <array>
      <string>periodcentered</string>
    </array>
    <key>public.kern2.period_left</key>
    <array>
      <string>period</string>
      <string>horizontalelipsis</string>
    </array>
    <key>public.kern2.plus_left</key>
    <array>
      <string>plus</string>
      <string>divide</string>
    </array>
    <key>public.kern2.question_d_left</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern2.question_left</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.quote_left</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.quoteleft_left</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright_left</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.round_u_left</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern2.s_left</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.section_left</key>
    <array>
      <string>section</string>
    </array>
    <key>public.kern2.seven_de_left</key>
    <array>
      <string>seven.denominator</string>
    </array>
    <key>public.kern2.seven_left</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.seven_nu_left</key>
    <array>
      <string>seven.numerator</string>
    </array>
    <key>public.kern2.seven_sinf_left</key>
    <array>
      <string>sevensubscript</string>
      <string>seven.sinf</string>
    </array>
    <key>public.kern2.seven_sup_left</key>
    <array>
      <string>sevensuperscript</string>
    </array>
    <key>public.kern2.six_de_left</key>
    <array>
      <string>six.denominator</string>
    </array>
    <key>public.kern2.six_left</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.six_nu_left</key>
    <array>
      <string>six.numerator</string>
    </array>
    <key>public.kern2.six_sinf_left</key>
    <array>
      <string>sixsubscript</string>
      <string>six.sinf</string>
    </array>
    <key>public.kern2.six_sup_left</key>
    <array>
      <string>sixsuperscript</string>
    </array>
    <key>public.kern2.slash_left</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.space_left</key>
    <array>
      <string>space</string>
    </array>
    <key>public.kern2.sterling_left</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern2.t_left</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_f</string>
      <string>t_t</string>
    </array>
    <key>public.kern2.three_de_left</key>
    <array>
      <string>three.denominator</string>
    </array>
    <key>public.kern2.three_left</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern2.three_nu_left</key>
    <array>
      <string>three.numerator</string>
      <string>threequarters</string>
    </array>
    <key>public.kern2.three_sinf_left</key>
    <array>
      <string>threesubscript</string>
      <string>three.sinf</string>
    </array>
    <key>public.kern2.three_sup_left</key>
    <array>
      <string>threesuperior</string>
      <string>threesuperscript</string>
    </array>
    <key>public.kern2.two_de_left</key>
    <array>
      <string>two.denominator</string>
    </array>
    <key>public.kern2.two_left</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.two_nu_left</key>
    <array>
      <string>two.numerator</string>
    </array>
    <key>public.kern2.two_sinf_left</key>
    <array>
      <string>twosubscript</string>
      <string>two.sinf</string>
    </array>
    <key>public.kern2.two_sup_left</key>
    <array>
      <string>twosuperior</string>
      <string>twosuperscript</string>
    </array>
    <key>public.kern2.u_left</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern2.unscore_left</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern2.v_left</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w_left</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.x_left</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y_left</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.yen_left</key>
    <array>
      <string>yen</string>
    </array>
    <key>public.kern2.z_left</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.zero_de_left</key>
    <array>
      <string>zero.denominator</string>
    </array>
    <key>public.kern2.zero_left</key>
    <array>
      <string>zero</string>
      <string>zeroslash</string>
    </array>
    <key>public.kern2.zero_nu_left</key>
    <array>
      <string>zero.numerator</string>
    </array>
    <key>public.kern2.zero_sinf_left</key>
    <array>
      <string>zerosubscript</string>
      <string>zero.sinf</string>
    </array>
    <key>public.kern2.zero_sup_left</key>
    <array>
      <string>zerosuperscript</string>
    </array>
  </dict>
</plist>
