<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.tf</key>
    <string>E_uro.tf.glif</string>
    <key>H-bar</key>
    <string>H_-bar.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>Oslash.rvrn</key>
    <string>O_slash.rvrn.glif</string>
    <key>Q.rvrn</key>
    <string>Q_.rvrn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>minus.tf</key>
    <string>minus.tf.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>wiggle.medium</key>
    <string>wiggle.medium.glif</string>
  </dict>
</plist>
