<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.tf</key>
    <string>E_uro.tf.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>minus.tf</key>
    <string>minus.tf.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
  </dict>
</plist>
