{
displayStrings = (
"hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
adhesion
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld",
"hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld",
lfO,
"/Oslash-bar Ø",
"%/zero.numr.percent ⁄/zero.dnom.percent",
"HAMBURGEFONTSIVCLD
hamburgefontsivcld",
"ďcaron,á’
ďcaron,á’
ďcaron,á’"
);
}
