<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eth-bar</key>
    <string>E_th-bar.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H-bar</key>
    <string>H_-bar.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>diagonalbarl-lc</key>
    <string>diagonalbarl-lc.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam-top</key>
    <string>exclam-top.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>greaterequal-stroke</key>
    <string>greaterequal-stroke.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>horizontalbarlc</key>
    <string>horizontalbarlc.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>notequal-slash</key>
    <string>notequal-slash.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percentbar</key>
    <string>percentbar.glif</string>
    <key>percentbar.tf</key>
    <string>percentbar.tf.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
