<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>wiggle.medium</key>
    <string>wiggle.medium.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
  </dict>
</plist>
