<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Engeng</key>
    <string>E_ngeng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dot-composite-top</key>
    <string>dot-composite-top.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>flig1</key>
    <string>flig1.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>percentbar.tf</key>
    <string>percentbar.tf.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
  </dict>
</plist>
