<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>question-top</key>
    <string>question-top.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
  </dict>
</plist>
