<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>question-top</key>
    <string>question-top.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
