gftools
drawbot-skia>=0.4.8
sh>=1.14.2
bumpfontversion>=0.2.0
matplotlib
font-v

# Latest stable version, for importing from .glyphs/.glyphspackage sources
# 6.7.1 has a bugfix that is mandatory to build GS Flex correctly:
# https://github.com/googlefonts/glyphsLib/pull/985
glyphslib>=6.7.1
