<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1432.0</real>
    <key>capHeight</key>
    <real>1432.0</real>
    <key>copyright</key>
    <string>Copyright 2015 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <real>-432.0</real>
    <key>familyName</key>
    <string>GoogleSansFlex</string>
    <key>guidelines</key>
    <array/>
    <key>note</key>
    <string># Adjustment notes

- All legacy marks have been made out of components to reduce the repetition in hinting
- All accent marks have been slightly modified in height and position to align better. This is true in ALL optical sizes

- Numbers (0123456789) (+tf variants) jump at optical size 14 to avoid a form morphing in interim steps (Angled to straight forms), which can look strange.


– symbols – fixed minor spacing errors (tabular forms in the period.tf comma.tf colon.tf)

– tcommaaccent.alt had an incorrect form 
– tcedilla.alt was missing. Added in!
– jdotless.alt jcircumflex.alt added
– t_f t_f.alt – changed the f terminal to be inline with all of the other f components

</string>
    <key>openTypeHeadCreated</key>
    <string>2017/07/06 05:41:44</string>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Google Sans Authors</string>
    <key>openTypeNameLicense</key>
    <string>Google offers many fonts on open source terms. Google Sans is not one of them. Please see google.com/fonts for alternatives.</string>
    <key>openTypeNameManufacturer</key>
    <string>Google LLC</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://design.google</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>11</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WeightClass</key>
    <integer>1</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>510</integer>
      <integer>526</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>opsz144-wdth100-wght1-ROND100</string>
    <key>trademark</key>
    <string>Google Sans is a trademark of Google.</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>3</integer>
    <key>xHeight</key>
    <real>1020.0</real>
  </dict>
</plist>
