<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1432</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-432</integer>
    <key>familyName</key>
    <string>GoogleSansFlexItalicASCIIAlpha</string>
    <key>guidelines</key>
    <array/>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>weight_400.00_width_50.00_optical_18.00</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>xHeight</key>
    <integer>1020</integer>
  </dict>
</plist>
