<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
