<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>Engeng</key>
    <string>E_ngeng.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>Oslash.rvrn</key>
    <string>O_slash.rvrn.glif</string>
    <key>Q.rvrn</key>
    <string>Q_.rvrn.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.denominator</key>
    <string>five.denominator.glif</string>
    <key>flig1</key>
    <string>flig1.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>four.denominator</key>
    <string>four.denominator.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine.denominator</key>
    <string>nine.denominator.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>notequal-slash</key>
    <string>notequal-slash.glif</string>
    <key>notequal.tf</key>
    <string>notequal.tf.glif</string>
    <key>one.denominator</key>
    <string>one.denominator.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>question-top</key>
    <string>question-top.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.denominator</key>
    <string>seven.denominator.glif</string>
    <key>six.denominator</key>
    <string>six.denominator.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.denominator</key>
    <string>three.denominator.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.denominator</key>
    <string>two.denominator.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
  </dict>
</plist>
