{
displayStrings = (
"UC & lc 
HAVMBHURGEFONTSIVCLD
HAMBURGCOEFONTISIVCLD HOHOHONOHOHNH
OCJURPBDO/_tail.Q QZKNVWK  XVYXV HOHOHOH
OCGJURPBOQZKMNVWK HXHVYV HOHOHOH
haoJOAmbubrgeftontsıivcld
hacesahadumıinburgefonmntsivcld
ıiȷfnhbpdqbkvnvwk >> kxnyvftz hohohoh
ocjrpbqzkvwkXxvy elkano examenz",
"punctuation 
 .,:;….¡! ¿S?S·•Hon*#8VH///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–—_(){}[]‚„“”‘’«»‹›\"'
don.nod,don:nod;dn…nd ¡nd!¿nd?O dn¿nd·dn•nd*#///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–M—_  (){}[]    H‚H„H“H”H‘H’H'H\" 5'29\" «non» ‹non› 
¡OHI! ¿DOC? H
(DH){DH}[DH] 
self-respect  H-–—n m ????
‚DON‘„NOAH“ “BH” ‘H’
«Din» ‹Bin› \"OH\" 'SI' 5' 7\" 
L·L •ping-pong* #85 H//H/backslash H",
"Lat. Extended 
AÆdŒÞPBẞẞDCGDÐĐĦaeædðdđhħȷoœepþon 
ßBbnpqd/a.alt/ae.alt  /g.alt BªBº/a.alt 
AÆBCDEĘFGHIJKLMNOŒPÞRSẞßTUVWXYZ
aæbcdðeęfghıȷklmnoœpþqrsßtuvwxyz/a.alt/ae.alt a/g.alt eªºμu",
"Diacritics: 
̈  ̆  ̇  ̀ ́  ̋   ̂  ̌  ̆  ̊  ̆  ̃  ̆  ̄  ̆  ̒   ̦  ̧  ̨ o

ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü
ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü
ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü    ",
"Numerals: 
0monto101203040253002708306590 2065 1973 BI2849CU
O/zero.denominator/one.denominator/zero.denominator/two.denominator/zero.denominator/three.denominator/zero.denominator/four.denominator/zero.denominator/five.denominator/zero.denominator/six.denominator/zero.denominator/seven.denominator/zero.denominator/eight.denominator/zero.denominator/nine.denominator/zero.denominator 
⁄  ½¼¾  /zero.dnom.percent/zero.numr.percent   %/percent.tf",
"ă",
"aæbcdðefghıȷklmnoœpþqrsßtuvwxyz/a.alt/ae.alt/g.alt μ
AÆBCDEFGHIJKLMNOŒPÞRSẞTUVWXYZ",
"AÆBCDEFGHIJKLMNOŒPÞRSẞTUVWXYZ",
"̧CÇSŞŢçştţ¸",
"/caroncomb.alt"
);
}
