{
displayStrings = (
"UC & lc 
HAVMBHURGEFONTSIVCLD
HAMBURGCOEFONTISIVCLD HOHOHONOHOHNH
OCJURPBDO/_tail.Q QZKNVWK  XVYXV HOHOHOH
OCGJURPBOQZKMNVWK HXHVYV HOHOHOH
haoJOAmbubrgeftontsıivcld
hacesahadumıinburgefonmntsivcld
ıiȷfnhbpdqbkvnvwk >> kxnyvftz hohohoh
ocjrpbqzkvwkXxvy elkano examenz",
"punctuation 
 .,:;….¡! ¿S?S·•Hon*#8VH///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–—_(){}[]‚„“”‘’«»‹›\"'
don.nod,don:nod;dn…nd ¡nd!¿nd?O dn¿nd·dn•nd*#///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–M—_  (){}[]    H‚H„H“H”H‘H’H'H\" 5'29\" «non» ‹non› 
¡OHI! ¿DOC? H
(DH){DH}[DH] 
self-respect  H-–—n m ????
‚DON‘„NOAH“ “BH” ‘H’
«Din» ‹Bin› \"OH\" 'SI' 5' 7\" 
L·L •ping-pong* #85 H//H/backslash H",
"Lat. Extended 
AÆdŒÞPBẞẞDCGDÐĐĦaeædðdđhħȷoœepþon 
ßBbnpqd/a.alt/ae.alt  /g.alt BªBº/a.alt 
AÆBCDEĘFGHIJKLMNOŒPÞRSẞßTUVWXYZ
aæbcdðeęfghıȷklmnoœpþqrsßtuvwxyz/a.alt/ae.alt a/g.alt eªºμu",
"Diacritics: 
̈  ̆  ̇  ̀ ́  ̋   ̂  ̌  ̆  ̊  ̆  ̃  ̆  ̄  ̆  ̒   ̦  ̧  ̨ o

ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü
ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü
ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü    ",
"Numerals: 
0monto101203040253002708306590 2065 1973 BI2849CU
01020/zero.denominator/three.denominator 3040/five.denominator 5/five.denominator 0/six.denominator 6070/eight.denominator 8/eight.denominator 090
n/one.sinf n/zero.denominator 
o/zero.denominator/one.denominator/zero.denominator/two.denominator/zero.denominator/three.denominator/zero.denominator/four.denominator/zero.denominator/five.denominator/zero.denominator/six.denominator/zero.denominator/zero.denominator/zero.denominator/seven.denominator/zero.denominator/eight.denominator/zero.denominator/nine.denominator/zero.denominator 

⁄  ½¼¾  /zero.dnom.percent/zero.numr.percent   %/percent.tf",
"Fractions: 
½¼¾
8½ 8¼ 8¾
8/one.numerator ⁄/two.denominator  8/one.numerator ⁄/four.denominator  8/three.numerator ⁄/four.denominator  
/eight.numerator ⁄/eight.denominator  /two.numerator ⁄/seven.denominator   ⁄

½ ½ ½ ½ ½ ½ 
88½   ⁄ ⁄ ⁄ ⁄ ⁄ ⁄ ⁄ ⁄ ⁄
½ ½ ½
/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/nine.denominator 
/zero.numerator/one.numerator/two.numerator/three.numerator/four.numerator/five.numerator/six.numerator/seven.numerator/eight.numerator/nine.numerator 
/zero.denominator/one.denominator/zero.denominator/two.denominator/zero.denominator/three.denominator/zero.denominator/four.denominator/zero.denominator/five.denominator/zero.denominator/six.denominator/zero.denominator/seven.denominator/zero.denominator/eight.denominator/zero.denominator/nine.denominator/zero.denominator",
"Symbols Small: 
O©®TM™°C

 /_c-copyright O©            /_c-copyright O©          /_c-copyright O©
/_c-copyright O©    /_c-copyright O©    /_c-copyright O©
/_c-copyright O© /_c-copyright O© /_c-copyright O©

 O®            O®          O®
O®    O®    O®
O® O® O®

 °C          °C         °C
°C   °C    °C
°C °C °C
",
"O /_c-copyright  ©",
"Correcciones:
25-1: dðb,;. HJH OJO  menos altura ̈  ̆  ̇  ̀ ́  ̋   ̂  ̌  ̆  ̊  ̆  ̃  ̆  ̄  ̆  ̒   ̦  ̧  ̨
25-400: PÞSnosaßbuufnoØø
25-1000: ßtKHẞHO  

100-1: PÞ coŀlegi Ş
100-1000: oßt ẞqueso ĿLŁ 

151-1: ẞnvxy AÁ̆Ă̌Ǎ̂Â̈ÄÀ̄Ā ̃ ÑÃCÃÃ Æ OHOH?OH
151-400: SẞB AÁ̆Ă̌Ǎ̂Â̈ÄÀ̄Ā ̃ ÑÃCÃÃ pþqY
151-1000: dðdefg osßt vxy VWXYZ Q ̨ĄĮŲ AÁ̆Ă̌Ǎ̂Â̈ÄÀ̄Ā ̃ ÑÃCÃÃOŐ",
"LĹĽĻĿŁĹĽĻĿŁ
lĺľļŀłﬄﬂ
dďđ
tťţț/f_f_t/f_t/t_t",
"/slashlongcomb.case OØø̸  Ø̸ø  Øø
Øø  /slashlongcomb.case Ø̸ø  Øø
Øø Øø Øø

/slashshortcomb.case LŁ ̷lł",
"n,.:;",
"/zero.tf/one.tf/zero.tf/two.tf/zero.tf/three.tf/zero.tf/four.tf/zero.tf/five.tf/zero.tf/six.tf/zero.tf/seven.tf/zero.tf/eight.tf/zero.tf/nine.tf/zero.tf  ",
"H?O    H?O    H?O
H?O  H?O  H?O
H?O H?O H?O",
"Ø",
"n/backslash n^n$S H/backslash H^H",
"^"
);
}
