{
displayStrings = (
"UC & lc 
HAVMBHURGEFONTSIVCLD
HAMBURGCOEFONTISIVCLD HOHOHONOHOHNH
OCJURPBDO/_tail.Q QZKNVWK  XVYXV HOHOHOH
OCGJURPBOQZKMNVWK HXHVYV HOHOHOH
haoJOAmbubrgeftontsıivcld
hacesahadumıinburgefonmntsivcld
ıiȷfnhbpdqbkvnvwk >> kxnyvftz hohohoh
ocjrpbqzkvwkXxvy elkano examenz",
"punctuation 
 .,:;….¡! ¿S?S·•Hon*#8VH///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–—_(){}[]‚„“”‘’«»‹›\"'
don.nod,don:nod;dn…nd ¡nd!¿nd?O dn¿nd·dn•nd*#///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–M—_  (){}[]    H‚H„H“H”H‘H’H'H\" 5'29\" «non» ‹non› 
¡OHI! ¿DOC? H
(DH){DH}[DH] 
self-respect  H-–—n m ????
‚DON‘„NOAH“ “BH” ‘H’
«Din» ‹Bin› \"OH\" 'SI' 5' 7\" 
L·L •ping-pong* #85 H//H/backslash H",
"Lat. Extended 
AÆdŒÞPBẞẞDCGDÐĐĦaeædðdđhħȷoœepþon 
ßBbnpqd/a.alt/ae.alt  /g.alt BªBº/a.alt 
AÆBCDEĘFGHIJKLMNOŒPÞRSẞßTUVWXYZ
aæbcdðeęfghıȷklmnoœpþqrsßtuvwxyz/a.alt/ae.alt a/g.alt eªº",
"Diacritics: 
̈  ̆  ̇  ̀ ́  ̋   ̂  ̌  ̆  ̊  ̆  ̃  ̆  ̄  ̆  ̒   ̦  ̧  ̨ o",
"̀ÀÈÌÒÙẀỲàèìòùẁỳ/agrave.alt `
́AÁĆÉÍĹŃÓŔŚÚẂÝŹ ́ áćé ́ áćéíĺńóŕśúẃýź/aacute.alt ´ 
̋ ŐŰőű˝ 
̈ ÄËÏÖÜẄŸäëïöüẅÿ/a.alt/adieresis.alt ¨  
̇ ĊĖĠİŻċėgġiįjż/g.alt/gdotaccent.alt ˙  
̂ AÂÊÎÔÛŴŶ ̂ âàêîôûŵŷ/acircumflex.alt ˆ  
̌ ǍČĎĚŇŘŠŤŽǎčěňřšž/acaron.alt ˇ  
̆ ĂĞŬăğŭ/abreve.alt/gbreve.alt ˘  
̊ ÅŮåů/aring.alt ˚̊ ÅŮåů/aring.alt ˚  
 ̃ ÃÑÕãnñõ/atilde.alt ˜  
̄ ĀĒĪŌŪāēīōū/amacron.alt ¯
̒ gģ/g.alt/gcommaaccent.alt   
̦ ĢĶĻŅŖȘȚķļņŗșț  
̧ CÇŞŢçşţ¸
 ̨ ĄĘĮŲąęįų/aogonek.alt ˛ ",
"AÆBCDEFGHIJKLMNOŒPÞRSẞTUVWXYZaæbcdðefhıklmnoœrsßtuvwxyz

gȷpþq",
"́AÁĆÉÍĹŃÓŔŚÚẂÝŹá́ćéíĺńóŕśúẃýź/aacute.alt ´
̀ÀÈÌÒÙẀỲàèìòùẁỳ/agrave.alt `
̋ ŐŰőű˝

̂̂ÂÊÎÔÛŴŶaâêîôûŵŷ/acircumflex.alt ˆ 
̆ĂĞŬăğŭ/abreve.alt/gbreve.alt ˘



̊ÅŮåů/aring.alt ˚",
"ĆÔŘÄăîńüĆÔŘÄ ăîńüĆÔŘÄăîńü
ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü
ĆÔŘÄăîńüĆÔŘÄăîńüĆÔŘÄăîńü    "
);
}
