<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>exclam-top</key>
    <string>exclam-top.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
  </dict>
</plist>
