{
displayStrings = (
"UC & lc 
HAMBURGEFONTSIVCLD
HAMBURGEFONTSIVCLD
OCJURPBOQZKNVWK  XVYXV HOHOHOH
OCJURPBOQZKNVWK HXHVYV HOHOHOH
hamburgefontsıivcld
hamburgefontsivcld
ıiȷnhbpdqbkvnvwk >> kxnyvftz hohohoh
ocjrpbqzkvwkXxvy elkano examen",
"punctuation 
 .,:;….¡! ¿S?S·•Hon*#8VH///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–—_(){}[]‚„“”‘’«»‹›\"'
don.nod,don:nod;dn…nd ¡nd!¿nd?O dn¿nd·dn•nd*#///backslash/period.tf/comma.tf/colon.tf/semicolon.tf/numbersign.tf/colon.time -­–M—_  (){}[]    H‚H„H“H”H‘H’H'H\" 5'29\" «non» ‹non› 
¡OHI! ¿DOC? H
(DH){DH}[DH] 
self-respect  H-–—n m ????
‚DON‘„NOAH“ “BH” ‘H’
«Din» ‹Bin› \"OH\" 'SI' 5' 7\" 
L·L •ping-pong* #85 H//H/backslash H",
"AÆBCDEĘFGHIJKLMNOŒPÞRSẞTUVWXYZ
aæbcdðeęfghıȷklmnoœpþqrsßtuvwxyz/a.alt/ae.alt/g.alt ªº",
"Fables should be taught as fables, myths as myths, and mıiracles as poetic fantasies. To teach superstitions as truths is a most terrible thing. The child mind accepts and believes them, AND ONLY THROUGH GREAT PAIN AND PERHAPS TRAGEDY can he be in after years relieved of them. In fact men will fight for a superstition quite as quickly as for a living truth - often more so, since a superstition is so intangible you cannot get at it to refute it, but truth is a point of view, and so is changeable. Life is an unfoldment, and the further we travel the more truth we can comprehend. To understand the things that are at our door is the best preparation for understanding those that lie beyond. All formal dogmatic religions are fallacious and must never be accepted by self-respecting persons as final.",
"HEMATOMA hematoma
HEMATOMA hematoma
HEMATOMA hematoma",
"well-being no-one  
well-being no-one     
well-being no-one 
well-being no-one 
well-being no-one 
well-being no-one 
well-being no-one 
well-being no-one 
well-being no-one   ",
"–ndash– blue moon 
–ndash– blue moon
–ndash– blue moon
–ndash– blue moon
–ndash– blue moon
–ndash– blue moon
–ndash– blue moon
–ndash– blue moon
–ndash– blue moon  ",
"—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon 
—mdash— blue moon  ",
"«  »  › ‹",
"ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz",
G
);
}
