<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>wiggle.medium</key>
    <string>wiggle.medium.glif</string>
  </dict>
</plist>
