<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
  </dict>
</plist>
