<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.numerator</key>
    <string>eight.numerator.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>four.numerator</key>
    <string>four.numerator.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>one.numerator</key>
    <string>one.numerator.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
  </dict>
</plist>
