<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>AE</key>
      <real>-13.333333333333329</real>
      <key>V</key>
      <real>-9.999999999999996</real>
      <key>X</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.A_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.T_left</key>
      <real>-18.33333333333333</real>
      <key>public.kern2.W_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.Y_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.period_left</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>E</key>
    <dict>
      <key>O</key>
      <integer>0</integer>
    </dict>
    <key>Euro</key>
    <dict>
      <key>four</key>
      <real>-9.999999999999996</real>
      <key>one</key>
      <real>-13.333333333333329</real>
      <key>three</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>F</key>
    <dict>
      <key>AE</key>
      <real>-109.99999999999999</real>
      <key>J</key>
      <real>-133.33333333333331</real>
      <key>public.kern2.A_left</key>
      <real>-46.66666666666666</real>
      <key>public.kern2.a_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.f_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.period_left</key>
      <real>-83.33333333333333</real>
      <key>public.kern2.quotes_right</key>
      <real>9.999999999999996</real>
      <key>public.kern2.t_left</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>G</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>0</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>AE</key>
      <integer>-130</integer>
      <key>J</key>
      <real>-146.66666666666666</real>
      <key>X</key>
      <real>-16.666666666666664</real>
      <key>ampersand</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.A_left</key>
      <real>-56.66666666666666</real>
      <key>public.kern2.Z_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.period_left</key>
      <integer>-180</integer>
      <key>public.kern2.quotes_right</key>
      <real>26.666666666666657</real>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>J</key>
      <real>-23.33333333333333</real>
      <key>X</key>
      <integer>-40</integer>
      <key>public.kern2.A_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.T_left</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.Y_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.Z_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.period_left</key>
      <real>-96.66666666666667</real>
    </dict>
    <key>V</key>
    <dict>
      <key>AE</key>
      <real>-93.33333333333331</real>
      <key>J</key>
      <real>-83.33333333333331</real>
      <key>public.kern2.A_left</key>
      <integer>-40</integer>
      <key>public.kern2.a_left</key>
      <integer>-34</integer>
      <key>public.kern2.hyphen_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.n_left</key>
      <real>-23.333333333333336</real>
      <key>public.kern2.o_left</key>
      <real>-53.33333333333333</real>
      <key>public.kern2.period_left</key>
      <integer>-70</integer>
      <key>public.kern2.s_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.u_left</key>
      <real>-16.666666666666668</real>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.O_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.f_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.hyphen_left</key>
      <integer>-60</integer>
      <key>public.kern2.o_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.t_left</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.W_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.Y_left</key>
      <real>-19.999999999999993</real>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>four</key>
      <real>-39.999999999999986</real>
      <key>public.kern2.A_left</key>
      <real>-49.999999999999986</real>
      <key>public.kern2.a_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.period_left</key>
      <real>-53.333333333333314</real>
      <key>six</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>backslash</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-39.999999999999986</real>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>four</key>
      <real>-33.33333333333333</real>
      <key>one</key>
      <real>-26.666666666666657</real>
      <key>six</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>four</key>
      <real>-39.999999999999986</real>
      <key>one</key>
      <real>-13.333333333333329</real>
      <key>six</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>copyright</key>
    <dict>
      <key>four</key>
      <real>-26.666666666666657</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
      <key>six</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>currency</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-19.999999999999993</real>
    </dict>
    <key>degree</key>
    <dict>
      <key>four</key>
      <real>-46.66666666666666</real>
      <key>public.kern2.period_left</key>
      <real>-53.333333333333314</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>divide</key>
    <dict>
      <key>one</key>
      <real>-26.666666666666657</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>dollar</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-13.333333333333329</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
      <key>six</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>-9.999999999999996</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>eight</key>
    <dict>
      <key>four</key>
      <real>-13.333333333333329</real>
      <key>fraction</key>
      <real>73.33333333333331</real>
      <key>one</key>
      <real>-9.999999999999996</real>
      <key>ordfeminine</key>
      <real>-6.666666666666664</real>
      <key>question</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>equal</key>
    <dict>
      <key>one</key>
      <real>-26.666666666666657</real>
      <key>seven</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>J</key>
      <real>-6.666666666666664</real>
      <key>four</key>
      <real>-19.999999999999993</real>
      <key>one</key>
      <real>-39.999999999999986</real>
      <key>public.kern2.T_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.W_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.Y_left</key>
      <real>-13.333333333333329</real>
      <key>seven</key>
      <real>-13.333333333333329</real>
      <key>three</key>
      <real>-13.333333333333329</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.hyphen_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.period_left</key>
      <real>-26.666666666666657</real>
    </dict>
    <key>five</key>
    <dict>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>degree</key>
      <real>-6.666666666666664</real>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>fraction</key>
      <real>66.66666666666666</real>
      <key>one</key>
      <real>-16.666666666666664</real>
      <key>ordmasculine</key>
      <real>-13.333333333333329</real>
      <key>percent</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.colon_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.t_left</key>
      <real>-6.666666666666664</real>
      <key>question</key>
      <real>-16.666666666666664</real>
      <key>three</key>
      <real>-16.666666666666664</real>
    </dict>
    <key>four</key>
    <dict>
      <key>cent</key>
      <real>-6.666666666666664</real>
      <key>currency</key>
      <real>-6.666666666666664</real>
      <key>fraction</key>
      <real>69.99999999999997</real>
      <key>minus</key>
      <real>-6.666666666666664</real>
      <key>nine</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-13.333333333333329</real>
      <key>ordfeminine</key>
      <real>-6.666666666666664</real>
      <key>ordmasculine</key>
      <real>-9.999999999999996</real>
      <key>percent</key>
      <real>-16.666666666666664</real>
      <key>plus</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.t_left</key>
      <real>-16.666666666666664</real>
      <key>question</key>
      <real>-13.333333333333329</real>
      <key>three</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>fraction</key>
    <dict>
      <key>eight</key>
      <real>59.999999999999986</real>
      <key>five</key>
      <real>59.999999999999986</real>
      <key>four</key>
      <real>-9.999999999999996</real>
      <key>nine</key>
      <real>73.33333333333331</real>
      <key>one</key>
      <real>86.66666666666666</real>
      <key>seven</key>
      <real>113.33333333333331</real>
      <key>three</key>
      <real>76.66666666666666</real>
      <key>two</key>
      <real>79.99999999999997</real>
      <key>zero</key>
      <real>53.333333333333314</real>
    </dict>
    <key>greater</key>
    <dict>
      <key>one</key>
      <real>-39.999999999999986</real>
      <key>seven</key>
      <real>-9.999999999999996</real>
      <key>three</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>less</key>
    <dict>
      <key>four</key>
      <real>-16.666666666666664</real>
      <key>one</key>
      <real>-33.33333333333333</real>
      <key>seven</key>
      <real>-13.333333333333329</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>minus</key>
    <dict>
      <key>one</key>
      <real>-26.666666666666657</real>
      <key>seven</key>
      <real>-13.333333333333329</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>nine</key>
    <dict>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>braceright</key>
      <real>-6.666666666666664</real>
      <key>bracketright</key>
      <real>-6.666666666666664</real>
      <key>cent</key>
      <real>-6.666666666666664</real>
      <key>four</key>
      <real>-29.999999999999993</real>
      <key>one</key>
      <real>-9.999999999999996</real>
      <key>parenright</key>
      <real>-6.666666666666664</real>
      <key>plus</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.period_left</key>
      <real>-26.666666666666657</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
      <key>six</key>
      <real>-13.333333333333329</real>
      <key>slash</key>
      <real>-9.999999999999996</real>
      <key>three</key>
      <real>-16.666666666666664</real>
      <key>two</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>four</key>
      <real>-19.999999999999993</real>
      <key>one</key>
      <real>-19.999999999999993</real>
      <key>seven</key>
      <real>-13.333333333333329</real>
      <key>six</key>
      <real>-9.999999999999996</real>
      <key>three</key>
      <real>-9.999999999999996</real>
      <key>two</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>one</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>fraction</key>
      <real>86.66666666666666</real>
      <key>public.kern2.t_left</key>
      <real>-9.999999999999996</real>
      <key>question</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>ordmasculine</key>
    <dict>
      <key>four</key>
      <real>-26.666666666666657</real>
      <key>six</key>
      <real>-19.999999999999993</real>
    </dict>
    <key>paragraph</key>
    <dict>
      <key>one</key>
      <real>-19.999999999999993</real>
      <key>two</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>four</key>
      <real>-19.999999999999993</real>
      <key>one</key>
      <real>-39.999999999999986</real>
      <key>six</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-33.33333333333333</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-13.333333333333329</real>
      <key>x</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>plus</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-33.33333333333333</real>
      <key>seven</key>
      <real>-9.999999999999996</real>
      <key>three</key>
      <real>-13.333333333333329</real>
      <key>two</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>public.kern1.A_right</key>
    <dict>
      <key>J</key>
      <real>9.999999999999996</real>
      <key>V</key>
      <integer>-40</integer>
      <key>asterisk</key>
      <real>-49.999999999999986</real>
      <key>public.kern2.T_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.W_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.Y_left</key>
      <real>-59.99999999999999</real>
      <key>public.kern2.f_left</key>
      <real>-24.333333333333332</real>
      <key>public.kern2.hyphen_left</key>
      <real>-26.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_left</key>
      <real>-40.00000000000001</real>
      <key>public.kern2.quotes_right</key>
      <real>-96.66666666666666</real>
      <key>public.kern2.quotes_straight_left</key>
      <real>-83.33333333333333</real>
      <key>public.kern2.s_left</key>
      <integer>22</integer>
      <key>public.kern2.t_left</key>
      <real>-18.33333333333333</real>
      <key>public.kern2.w_left</key>
      <integer>-30</integer>
      <key>public.kern2.y_left</key>
      <real>-43.33333333333333</real>
      <key>v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.C_right</key>
    <dict>
      <key>V</key>
      <real>9.999999999999996</real>
      <key>public.kern2.A_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.O_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.W_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.Y_left</key>
      <real>9.999999999999996</real>
      <key>public.kern2.f_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.quotes_right</key>
      <real>23.33333333333333</real>
      <key>public.kern2.t_left</key>
      <real>3.3333333333333357</real>
    </dict>
    <key>public.kern1.E_right</key>
    <dict>
      <key>J</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.f_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.period_left</key>
      <real>20.000000000000004</real>
      <key>public.kern2.y_left</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.G_right</key>
    <dict>
      <key>AE</key>
      <real>-9.999999999999996</real>
      <key>J</key>
      <real>9.999999999999996</real>
      <key>V</key>
      <real>6.666666666666664</real>
      <key>public.kern2.S_left</key>
      <real>16.666666666666664</real>
      <key>public.kern2.T_left</key>
      <real>9.999999999999996</real>
      <key>public.kern2.W_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.Y_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.Z_left</key>
      <real>6.666666666666664</real>
    </dict>
    <key>public.kern1.K_right</key>
    <dict>
      <key>J</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.O_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.a_left</key>
      <real>-8.333333333333332</real>
      <key>public.kern2.f_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.hyphen_left</key>
      <real>-56.66666666666667</real>
      <key>public.kern2.o_left</key>
      <real>-8.333333333333332</real>
      <key>public.kern2.w_left</key>
      <real>-33.333333333333336</real>
      <key>public.kern2.y_left</key>
      <real>-33.333333333333336</real>
      <key>v</key>
      <real>-33.333333333333336</real>
    </dict>
    <key>public.kern1.L_right</key>
    <dict>
      <key>V</key>
      <real>-39.999999999999986</real>
      <key>public.kern2.O_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.S_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.T_left</key>
      <real>-63.33333333333333</real>
      <key>public.kern2.W_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.Y_left</key>
      <real>-53.33333333333333</real>
      <key>public.kern2.f_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.hyphen_left</key>
      <real>-13.333333333333336</real>
      <key>public.kern2.period_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.quotes_right</key>
      <real>-29.999999999999993</real>
      <key>public.kern2.quotes_straight_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.s_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.t_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.w_left</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.y_left</key>
      <real>-26.666666666666664</real>
      <key>v</key>
      <real>-26.666666666666664</real>
    </dict>
    <key>public.kern1.O_right</key>
    <dict>
      <key>AE</key>
      <real>-33.33333333333333</real>
      <key>J</key>
      <real>-13.333333333333329</real>
      <key>X</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.T_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.Y_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.period_left</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>public.kern1.R_right</key>
    <dict>
      <key>public.kern2.o_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.quotes_right</key>
      <real>19.999999999999993</real>
    </dict>
    <key>public.kern1.S_right</key>
    <dict>
      <key>V</key>
      <real>20.000000000000004</real>
      <key>X</key>
      <real>20.000000000000004</real>
      <key>public.kern2.A_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.S_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.T_left</key>
      <real>6.666666666666664</real>
      <key>public.kern2.W_left</key>
      <real>20.000000000000004</real>
      <key>public.kern2.Y_left</key>
      <real>6.666666666666671</real>
      <key>public.kern2.Z_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.f_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.quotes_right</key>
      <real>13.333333333333329</real>
      <key>public.kern2.t_left</key>
      <real>20.000000000000004</real>
    </dict>
    <key>public.kern1.T_right</key>
    <dict>
      <key>AE</key>
      <real>-103.33333333333333</real>
      <key>J</key>
      <real>-89.99999999999999</real>
      <key>public.kern2.A_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.O_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.S_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.a_left</key>
      <real>-57.33333333333333</real>
      <key>public.kern2.colon_left</key>
      <real>-26.66666666666667</real>
      <key>public.kern2.f_left</key>
      <real>-23.33333333333333</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.guillemetright</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.hyphen_left</key>
      <real>-59.99999999999999</real>
      <key>public.kern2.n_left</key>
      <integer>-70</integer>
      <key>public.kern2.o_left</key>
      <real>-66.66666666666666</real>
      <key>public.kern2.period_left</key>
      <real>-63.33333333333333</real>
      <key>public.kern2.s_left</key>
      <real>-49.99999999999999</real>
      <key>public.kern2.t_left</key>
      <real>-23.33333333333333</real>
      <key>public.kern2.u_left</key>
      <real>-33.333333333333336</real>
      <key>public.kern2.w_left</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.y_left</key>
      <real>-26.666666666666664</real>
      <key>public.kern2.z_left</key>
      <real>-53.33333333333333</real>
      <key>question</key>
      <real>20.000000000000004</real>
      <key>v</key>
      <real>-23.333333333333332</real>
      <key>x</key>
      <real>-33.33333333333333</real>
    </dict>
    <key>public.kern1.W_right</key>
    <dict>
      <key>AE</key>
      <real>-73.33333333333333</real>
      <key>J</key>
      <real>-59.999999999999986</real>
      <key>ampersand</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.A_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.a_left</key>
      <real>-37.33333333333333</real>
      <key>public.kern2.hyphen_left</key>
      <real>-20.000000000000004</real>
      <key>public.kern2.n_left</key>
      <real>-20.000000000000004</real>
      <key>public.kern2.o_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.period_left</key>
      <real>-76.66666666666666</real>
      <key>public.kern2.s_left</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.Y_right</key>
    <dict>
      <key>AE</key>
      <real>-113.33333333333333</real>
      <key>J</key>
      <real>-63.333333333333314</real>
      <key>ampersand</key>
      <real>-9.999999999999996</real>
      <key>germandbls</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.A_left</key>
      <real>-59.99999999999999</real>
      <key>public.kern2.O_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.S_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.a_left</key>
      <real>-73.33333333333333</real>
      <key>public.kern2.colon_left</key>
      <real>-13.333333333333336</real>
      <key>public.kern2.f_left</key>
      <real>-26.666666666666657</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.guillemetright</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.hyphen_left</key>
      <real>-43.33333333333333</real>
      <key>public.kern2.n_left</key>
      <real>-56.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-89.99999999999999</real>
      <key>public.kern2.period_left</key>
      <real>-76.66666666666666</real>
      <key>public.kern2.s_left</key>
      <real>-53.33333333333333</real>
      <key>public.kern2.t_left</key>
      <real>-26.666666666666657</real>
      <key>public.kern2.u_left</key>
      <real>-33.333333333333336</real>
      <key>public.kern2.w_left</key>
      <real>-13.333333333333336</real>
      <key>public.kern2.y_left</key>
      <real>-13.333333333333336</real>
      <key>public.kern2.z_left</key>
      <integer>-25</integer>
      <key>v</key>
      <real>-13.333333333333336</real>
      <key>x</key>
      <real>-20.000000000000004</real>
    </dict>
    <key>public.kern1.Z_right</key>
    <dict>
      <key>public.kern2.A_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.S_left</key>
      <real>20.000000000000004</real>
      <key>public.kern2.f_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.t_left</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>public.kern1.a_right</key>
    <dict>
      <key>asterisk</key>
      <real>-6.666666666666664</real>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.quotes_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.w_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.y_left</key>
      <real>-6.666666666666664</real>
      <key>registered</key>
      <real>-6.666666666666664</real>
      <key>v</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.c_right</key>
    <dict>
      <key>J</key>
      <real>-6.666666666666664</real>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>periodcentered</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.T_left</key>
      <real>-26.666666666666657</real>
      <key>public.kern2.W_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_left</key>
      <real>9.999999999999996</real>
      <key>public.kern2.quotes_right</key>
      <real>13.333333333333329</real>
      <key>public.kern2.s_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.t_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.w_left</key>
      <integer>20</integer>
      <key>public.kern2.y_left</key>
      <integer>20</integer>
      <key>public.kern2.z_left</key>
      <real>6.666666666666664</real>
      <key>registered</key>
      <real>-6.666666666666664</real>
      <key>v</key>
      <integer>20</integer>
      <key>x</key>
      <real>6.666666666666664</real>
    </dict>
    <key>public.kern1.colon_right</key>
    <dict>
      <key>five</key>
      <real>-6.666666666666664</real>
      <key>four</key>
      <real>-13.333333333333329</real>
      <key>one</key>
      <real>-29.999999999999993</real>
      <key>public.kern2.T_left</key>
      <real>-26.66666666666667</real>
      <key>public.kern2.Y_left</key>
      <real>-13.333333333333336</real>
      <key>public.kern2.w_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.y_left</key>
      <real>-6.666666666666664</real>
      <key>six</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.e_right</key>
    <dict>
      <key>asterisk</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.y_left</key>
      <real>-6.666666666666664</real>
      <key>question</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.f_right</key>
    <dict>
      <key>backslash</key>
      <real>6.666666666666664</real>
      <key>periodcentered</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.a_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.colon_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.guillemetright</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.o_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.quotes_left</key>
      <real>33.33333333333333</real>
      <key>public.kern2.quotes_right</key>
      <real>39.999999999999986</real>
      <key>public.kern2.s_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.w_left</key>
      <real>17.66666666666667</real>
      <key>public.kern2.y_left</key>
      <real>26.66666666666667</real>
      <key>public.kern2.z_left</key>
      <real>20.000000000000004</real>
      <key>question</key>
      <real>-6.666666666666664</real>
      <key>v</key>
      <real>26.66666666666667</real>
      <key>x</key>
      <real>20.000000000000004</real>
    </dict>
    <key>public.kern1.g_right</key>
    <dict>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>question</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>public.kern1.guillemetleft_right</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>-46.66666666666666</real>
      <key>public.kern2.T_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.Y_left</key>
      <real>-9.999999999999996</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.guillemetright_right</key>
    <dict>
      <key>one</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.T_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.Y_left</key>
      <real>-13.333333333333329</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>public.kern1.hyphen_right</key>
    <dict>
      <key>J</key>
      <real>-26.66666666666667</real>
      <key>V</key>
      <real>-33.33333333333333</real>
      <key>X</key>
      <integer>-60</integer>
      <key>one</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.A_left</key>
      <real>-26.666666666666664</real>
      <key>public.kern2.T_left</key>
      <real>-59.99999999999999</real>
      <key>public.kern2.W_left</key>
      <real>-20.000000000000004</real>
      <key>public.kern2.Y_left</key>
      <real>-43.33333333333333</real>
      <key>three</key>
      <real>-9.999999999999996</real>
      <key>two</key>
      <real>-13.333333333333329</real>
      <key>x</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.k_right</key>
    <dict>
      <key>ampersand</key>
      <real>-6.666666666666664</real>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>periodcentered</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.guillemetright</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.hyphen_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.o_left</key>
      <real>-8.333333333333332</real>
      <key>question</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>public.kern1.n_right</key>
    <dict>
      <key>asterisk</key>
      <real>-6.666666666666664</real>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.T_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.quotes_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.quotes_straight_left</key>
      <real>-6.666666666666664</real>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotesingle</key>
      <integer>0</integer>
      <key>registered</key>
      <real>-6.666666666666664</real>
      <key>v</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>public.kern1.o_right</key>
    <dict>
      <key>asterisk</key>
      <real>-6.666666666666664</real>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>copyright</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.f_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_left</key>
      <real>-23.33333333333333</real>
      <key>public.kern2.y_left</key>
      <real>-13.333333333333329</real>
      <key>question</key>
      <real>-19.999999999999993</real>
      <key>registered</key>
      <real>-6.666666666666664</real>
      <key>v</key>
      <real>-8.333333333333332</real>
      <key>x</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.period_right</key>
    <dict>
      <key>J</key>
      <real>-13.333333333333329</real>
      <key>V</key>
      <integer>-70</integer>
      <key>four</key>
      <real>-26.666666666666657</real>
      <key>one</key>
      <real>-46.66666666666666</real>
      <key>public.kern2.O_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.T_left</key>
      <real>-63.33333333333333</real>
      <key>public.kern2.W_left</key>
      <real>-76.66666666666666</real>
      <key>public.kern2.Y_left</key>
      <real>-76.66666666666666</real>
      <key>public.kern2.w_left</key>
      <real>-19.999999999999993</real>
    </dict>
    <key>public.kern1.quotes_base_right</key>
    <dict>
      <key>V</key>
      <real>-66.66666666666666</real>
      <key>X</key>
      <real>39.999999999999986</real>
      <key>public.kern2.A_left</key>
      <real>26.666666666666657</real>
      <key>public.kern2.T_left</key>
      <real>-73.33333333333333</real>
      <key>public.kern2.W_left</key>
      <real>-83.33333333333333</real>
      <key>public.kern2.Y_left</key>
      <real>-76.66666666666666</real>
      <key>public.kern2.w_left</key>
      <real>-9.999999999999996</real>
      <key>v</key>
      <real>-19.999999999999993</real>
      <key>x</key>
      <real>16.666666666666664</real>
    </dict>
    <key>public.kern1.quotes_left</key>
    <dict>
      <key>J</key>
      <real>-73.33333333333334</real>
      <key>public.kern2.A_left</key>
      <real>-46.66666666666667</real>
    </dict>
    <key>public.kern1.quotes_right</key>
    <dict>
      <key>J</key>
      <integer>-120</integer>
      <key>public.kern2.A_left</key>
      <real>-96.66666666666666</real>
      <key>public.kern2.a_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-19.999999999999993</real>
    </dict>
    <key>public.kern1.quotes_straight_right</key>
    <dict>
      <key>J</key>
      <real>-106.66666666666666</real>
      <key>four</key>
      <real>-53.333333333333314</real>
      <key>public.kern2.A_left</key>
      <real>-83.33333333333333</real>
      <key>six</key>
      <real>-23.33333333333333</real>
    </dict>
    <key>public.kern1.r_right</key>
    <dict>
      <key>ampersand</key>
      <real>-13.333333333333329</real>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>braceright</key>
      <real>-16.666666666666664</real>
      <key>bracketright</key>
      <real>-6.666666666666664</real>
      <key>parenright</key>
      <real>-13.333333333333329</real>
      <key>periodcentered</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.a_left</key>
      <real>-7.333333333333332</real>
      <key>public.kern2.colon_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.f_left</key>
      <real>16.666666666666668</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.guillemetright</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.hyphen_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.o_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.period_left</key>
      <real>-49.999999999999986</real>
      <key>public.kern2.quotes_left</key>
      <real>49.999999999999986</real>
      <key>public.kern2.quotes_right</key>
      <real>43.33333333333333</real>
      <key>public.kern2.t_left</key>
      <real>26.66666666666667</real>
      <key>question</key>
      <real>-13.333333333333329</real>
      <key>slash</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>public.kern1.s_right</key>
    <dict>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>copyright</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_right</key>
      <real>29.999999999999993</real>
      <key>public.kern2.t_left</key>
      <real>20.000000000000004</real>
      <key>public.kern2.z_left</key>
      <real>13.333333333333336</real>
      <key>question</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>public.kern1.t_right</key>
    <dict>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>periodcentered</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.colon_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.hyphen_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_left</key>
      <real>23.33333333333333</real>
      <key>public.kern2.s_left</key>
      <real>13.333333333333336</real>
      <key>public.kern2.z_left</key>
      <real>20.000000000000004</real>
      <key>question</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>public.kern1.w_right</key>
    <dict>
      <key>public.kern2.a_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.colon_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.f_left</key>
      <real>16.666666666666668</real>
      <key>public.kern2.period_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.quotes_left</key>
      <real>19.999999999999993</real>
      <key>public.kern2.quotes_right</key>
      <real>13.333333333333329</real>
      <key>public.kern2.t_left</key>
      <real>20.000000000000004</real>
      <key>question</key>
      <real>-19.999999999999993</real>
    </dict>
    <key>public.kern1.y_right</key>
    <dict>
      <key>ampersand</key>
      <real>-6.666666666666664</real>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>periodcentered</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.a_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.colon_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.f_left</key>
      <real>16.666666666666668</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.guillemetright</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.hyphen_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.period_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.quotes_left</key>
      <real>19.999999999999993</real>
      <key>public.kern2.quotes_right</key>
      <real>33.33333333333333</real>
      <key>public.kern2.t_left</key>
      <real>20.000000000000004</real>
      <key>question</key>
      <real>-19.999999999999993</real>
      <key>slash</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>public.kern1.z_right</key>
    <dict>
      <key>backslash</key>
      <real>-6.666666666666664</real>
      <key>periodcentered</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.quotes_right</key>
      <real>39.999999999999986</real>
      <key>public.kern2.s_left</key>
      <real>20.000000000000004</real>
      <key>public.kern2.t_left</key>
      <real>26.66666666666667</real>
      <key>question</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>X</key>
      <real>-23.33333333333333</real>
      <key>Y</key>
      <integer>0</integer>
      <key>eight</key>
      <real>-26.666666666666657</real>
      <key>five</key>
      <real>-26.666666666666657</real>
      <key>four</key>
      <real>-53.333333333333314</real>
      <key>nine</key>
      <real>-49.999999999999986</real>
      <key>one</key>
      <real>-79.99999999999997</real>
      <key>public.kern2.H_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.O_left</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.S_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.T_left</key>
      <real>-46.66666666666666</real>
      <key>public.kern2.W_left</key>
      <real>-36.66666666666666</real>
      <key>public.kern2.Y_left</key>
      <real>-46.66666666666666</real>
      <key>public.kern2.a_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.f_left</key>
      <real>-23.33333333333333</real>
      <key>public.kern2.h_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.i_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.o_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.s_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.t_left</key>
      <real>-26.666666666666657</real>
      <key>public.kern2.w_left</key>
      <real>-43.33333333333333</real>
      <key>public.kern2.y_left</key>
      <real>-23.33333333333333</real>
      <key>public.kern2.z_left</key>
      <real>-16.666666666666664</real>
      <key>seven</key>
      <real>-56.66666666666666</real>
      <key>six</key>
      <real>-26.666666666666657</real>
      <key>three</key>
      <real>-33.33333333333333</real>
      <key>two</key>
      <real>-23.33333333333333</real>
      <key>x</key>
      <real>-16.666666666666664</real>
      <key>zero</key>
      <real>-33.33333333333333</real>
    </dict>
    <key>section</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>Euro</key>
      <real>-13.333333333333329</real>
      <key>braceright</key>
      <real>-6.666666666666664</real>
      <key>cent</key>
      <real>-13.333333333333329</real>
      <key>currency</key>
      <real>-13.333333333333329</real>
      <key>divide</key>
      <real>-26.666666666666657</real>
      <key>equal</key>
      <real>-19.999999999999993</real>
      <key>five</key>
      <real>-16.666666666666664</real>
      <key>four</key>
      <real>-56.66666666666666</real>
      <key>greater</key>
      <real>-19.999999999999993</real>
      <key>less</key>
      <real>-26.666666666666657</real>
      <key>minus</key>
      <real>-13.333333333333329</real>
      <key>nine</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>33.33333333333333</real>
      <key>paragraph</key>
      <real>-6.666666666666664</real>
      <key>parenright</key>
      <real>-6.666666666666664</real>
      <key>periodcentered</key>
      <real>-19.999999999999993</real>
      <key>plus</key>
      <real>-26.666666666666657</real>
      <key>public.kern2.colon_left</key>
      <real>-16.666666666666664</real>
      <key>public.kern2.guillemetleft_left</key>
      <real>-39.999999999999986</real>
      <key>public.kern2.guillemetright</key>
      <real>-39.999999999999986</real>
      <key>public.kern2.hyphen_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.period_left</key>
      <real>-73.33333333333331</real>
      <key>public.kern2.t_left</key>
      <real>-9.999999999999996</real>
      <key>question</key>
      <real>-13.333333333333329</real>
      <key>section</key>
      <real>-19.999999999999993</real>
      <key>six</key>
      <real>-56.666666666666664</real>
      <key>slash</key>
      <real>-26.666666666666657</real>
      <key>two</key>
      <real>11.999999999999996</real>
      <key>zero</key>
      <real>-9.999999999999996</real>
    </dict>
    <key>six</key>
    <dict>
      <key>degree</key>
      <real>-6.666666666666664</real>
      <key>five</key>
      <real>-13.333333333333336</real>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>fraction</key>
      <real>73.33333333333331</real>
      <key>nine</key>
      <real>-20.000000000000004</real>
      <key>one</key>
      <real>-19.999999999999993</real>
      <key>ordfeminine</key>
      <real>-19.999999999999993</real>
      <key>ordmasculine</key>
      <real>-13.333333333333329</real>
      <key>paragraph</key>
      <real>-6.666666666666664</real>
      <key>percent</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.t_left</key>
      <real>-6.666666666666664</real>
      <key>question</key>
      <real>-19.999999999999993</real>
      <key>seven</key>
      <real>-13.333333333333336</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>four</key>
      <real>-33.33333333333333</real>
      <key>public.kern2.a_left</key>
      <real>-19.999999999999993</real>
      <key>public.kern2.n_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.s_left</key>
      <real>-13.333333333333329</real>
      <key>public.kern2.t_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.y_left</key>
      <real>-9.999999999999996</real>
      <key>public.kern2.z_left</key>
      <real>-6.666666666666664</real>
      <key>slash</key>
      <real>-6.666666666666664</real>
      <key>x</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>sterling</key>
    <dict>
      <key>eight</key>
      <real>-19.999999999999993</real>
      <key>five</key>
      <real>-6.666666666666664</real>
      <key>four</key>
      <real>-26.666666666666657</real>
      <key>nine</key>
      <real>-19.999999999999993</real>
      <key>one</key>
      <real>-23.33333333333333</real>
      <key>seven</key>
      <real>-13.333333333333329</real>
      <key>three</key>
      <real>-13.333333333333329</real>
      <key>two</key>
      <real>-6.666666666666664</real>
      <key>zero</key>
      <real>-13.333333333333329</real>
    </dict>
    <key>three</key>
    <dict>
      <key>four</key>
      <real>-6.666666666666664</real>
      <key>fraction</key>
      <real>79.99999999999997</real>
      <key>percent</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>13.333333333333336</real>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <real>-23.333333333333332</real>
      <key>fraction</key>
      <real>99.99999999999997</real>
      <key>less</key>
      <real>-6.666666666666664</real>
      <key>one</key>
      <real>13.333333333333336</real>
      <key>public.kern2.t_left</key>
      <real>-9.999999999999996</real>
      <key>seven</key>
      <real>33.333333333333336</real>
      <key>three</key>
      <real>13.333333333333336</real>
    </dict>
    <key>v</key>
    <dict>
      <key>public.kern2.a_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.f_left</key>
      <real>16.666666666666668</real>
      <key>public.kern2.o_left</key>
      <real>-8.333333333333332</real>
      <key>public.kern2.quotes_left</key>
      <real>19.999999999999993</real>
      <key>public.kern2.quotes_right</key>
      <real>33.33333333333333</real>
      <key>public.kern2.t_left</key>
      <real>20.000000000000004</real>
    </dict>
    <key>x</key>
    <dict>
      <key>backslash</key>
      <real>-13.333333333333329</real>
      <key>periodcentered</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.a_left</key>
      <real>-13.333333333333336</real>
      <key>public.kern2.hyphen_left</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.o_left</key>
      <real>-21.333333333333332</real>
      <key>public.kern2.quotes_left</key>
      <real>19.999999999999993</real>
      <key>public.kern2.quotes_right</key>
      <real>33.33333333333333</real>
      <key>question</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>four</key>
      <real>-16.666666666666664</real>
      <key>six</key>
      <real>-6.666666666666664</real>
      <key>three</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
    <key>zero</key>
    <dict>
      <key>four</key>
      <real>-16.666666666666664</real>
      <key>fraction</key>
      <real>53.333333333333314</real>
      <key>one</key>
      <real>-9.999999999999996</real>
      <key>ordfeminine</key>
      <real>-6.666666666666664</real>
      <key>public.kern2.t_left</key>
      <real>-6.666666666666664</real>
      <key>seven</key>
      <real>-6.666666666666664</real>
      <key>two</key>
      <real>-6.666666666666664</real>
    </dict>
  </dict>
</plist>
