<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
  </dict>
</plist>
