<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1492</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-360</integer>
    <key>familyName</key>
    <string>GoogleSansFlex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>kiHgqHy0vn</string>
        <key>name</key>
        <string>baseline</string>
        <key>x</key>
        <integer>480</integer>
        <key>y</key>
        <integer>502</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Va4hd8bAf0</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>799</integer>
        <key>y</key>
        <integer>491</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>KhHWhaDn4s</string>
        <key>name</key>
        <string>overshoot top</string>
        <key>x</key>
        <integer>701</integer>
        <key>y</key>
        <integer>1451</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cGVUfGiSx7</string>
        <key>x</key>
        <integer>18</integer>
        <key>y</key>
        <integer>1561</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>aLYFtxZIHf</string>
        <key>x</key>
        <integer>90</integer>
        <key>y</key>
        <integer>1308</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Dc7545miC9</string>
        <key>x</key>
        <integer>148</integer>
        <key>y</key>
        <integer>715</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>xIZk5nP1jp</string>
        <key>name</key>
        <string>top</string>
        <key>x</key>
        <integer>28</integer>
        <key>y</key>
        <integer>1561</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>Pxobp2UBrd</string>
        <key>x</key>
        <integer>1381</integer>
        <key>y</key>
        <integer>1065</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>1932</integer>
    <key>openTypeHheaDescender</key>
    <integer>-572</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>612</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>168</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>1932</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-572</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>1</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>510</integer>
      <integer>526</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-320</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>168</integer>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleName</key>
    <string>opsz6-wdth100-wght1-ROND0</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>xHeight</key>
    <integer>1086</integer>
  </dict>
</plist>
