<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1437</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-426</integer>
    <key>familyName</key>
    <string>Temp opsz</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>0</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>332</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>91</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>0</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>0</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>1</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>1</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>510</integer>
      <integer>526</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <real>-173.33333333333334</real>
    <key>postscriptUnderlineThickness</key>
    <integer>91</integer>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleName</key>
    <string>optical_17.00</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>xHeight</key>
    <real>1025.5</real>
  </dict>
</plist>
