<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
