<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>R</key>
    <string>R_.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
  </dict>
</plist>
