<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>O</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>AE</key>
      <integer>-110</integer>
      <key>J</key>
      <integer>-133</integer>
      <key>public.kern2.A_left</key>
      <real>-46.99999999999999</real>
      <key>public.kern2.period_left</key>
      <integer>-83</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>0</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>AE</key>
      <integer>-130</integer>
      <key>J</key>
      <integer>-147</integer>
      <key>public.kern2.A_left</key>
      <real>-56.99999999999999</real>
      <key>public.kern2.period_left</key>
      <integer>-180</integer>
      <key>public.kern2.quotes_right</key>
      <real>26.999999999999993</real>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>J</key>
      <real>-23.000000000000007</real>
      <key>X</key>
      <integer>-40</integer>
      <key>public.kern2.T_left</key>
      <integer>-47</integer>
      <key>public.kern2.period_left</key>
      <integer>-97</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>AE</key>
      <real>-92.99999999999999</real>
      <key>J</key>
      <real>-82.99999999999999</real>
      <key>public.kern2.A_left</key>
      <integer>-40</integer>
      <key>public.kern2.a_left</key>
      <integer>-34</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-33</integer>
      <key>public.kern2.n_left</key>
      <integer>-23</integer>
      <key>public.kern2.o_left</key>
      <real>-53.00000000000001</real>
      <key>public.kern2.period_left</key>
      <integer>-70</integer>
      <key>public.kern2.s_left</key>
      <real>-22.999999999999996</real>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.hyphen_left</key>
      <integer>-60</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.Y_left</key>
      <integer>-20</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>four</key>
      <integer>-40</integer>
      <key>public.kern2.A_left</key>
      <integer>-50</integer>
      <key>public.kern2.period_left</key>
      <real>-52.999999999999986</real>
    </dict>
    <key>backslash</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>four</key>
      <real>-33.00000000000001</real>
      <key>one</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>four</key>
      <integer>-40</integer>
    </dict>
    <key>copyright</key>
    <dict>
      <key>four</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>currency</key>
    <dict>
      <key>one</key>
      <integer>-20</integer>
    </dict>
    <key>degree</key>
    <dict>
      <key>four</key>
      <real>-47.000000000000014</real>
      <key>public.kern2.period_left</key>
      <real>-52.999999999999986</real>
    </dict>
    <key>divide</key>
    <dict>
      <key>one</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>eight</key>
    <dict>
      <key>fraction</key>
      <integer>73</integer>
    </dict>
    <key>equal</key>
    <dict>
      <key>one</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-40</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.hyphen_left</key>
      <integer>0</integer>
      <key>public.kern2.period_left</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>five</key>
    <dict>
      <key>fraction</key>
      <real>67.00000000000001</real>
    </dict>
    <key>four</key>
    <dict>
      <key>fraction</key>
      <integer>70</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>eight</key>
      <integer>60</integer>
      <key>five</key>
      <integer>60</integer>
      <key>nine</key>
      <integer>73</integer>
      <key>one</key>
      <integer>87</integer>
      <key>seven</key>
      <real>113.00000000000003</real>
      <key>three</key>
      <integer>77</integer>
      <key>two</key>
      <integer>80</integer>
      <key>zero</key>
      <real>52.999999999999986</real>
    </dict>
    <key>greater</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
    </dict>
    <key>less</key>
    <dict>
      <key>one</key>
      <real>-33.00000000000001</real>
    </dict>
    <key>minus</key>
    <dict>
      <key>one</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <integer>-30</integer>
      <key>public.kern2.period_left</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-20</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>fraction</key>
      <integer>87</integer>
    </dict>
    <key>ordmasculine</key>
    <dict>
      <key>four</key>
      <real>-26.999999999999993</real>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>paragraph</key>
    <dict>
      <key>one</key>
      <integer>-20</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-40</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>one</key>
      <real>-33.00000000000001</real>
    </dict>
    <key>plus</key>
    <dict>
      <key>one</key>
      <real>-33.00000000000001</real>
    </dict>
    <key>public.kern1.A_right</key>
    <dict>
      <key>V</key>
      <integer>-40</integer>
      <key>asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.T_left</key>
      <integer>-33</integer>
      <key>public.kern2.W_left</key>
      <integer>-33</integer>
      <key>public.kern2.Y_left</key>
      <integer>-60</integer>
      <key>public.kern2.f_left</key>
      <integer>-24</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-27</integer>
      <key>public.kern2.quotes_left</key>
      <integer>-40</integer>
      <key>public.kern2.quotes_right</key>
      <integer>-97</integer>
      <key>public.kern2.quotes_straight_left</key>
      <integer>-83</integer>
      <key>public.kern2.s_left</key>
      <integer>22</integer>
      <key>public.kern2.t_left</key>
      <real>-27.999999999999996</real>
      <key>public.kern2.w_left</key>
      <integer>-30</integer>
      <key>public.kern2.y_left</key>
      <integer>-43</integer>
      <key>v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.C_right</key>
    <dict>
      <key>public.kern2.quotes_right</key>
      <real>23.000000000000007</real>
    </dict>
    <key>public.kern1.E_right</key>
    <dict>
      <key>public.kern2.period_left</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.K_right</key>
    <dict>
      <key>public.kern2.hyphen_left</key>
      <integer>-57</integer>
      <key>public.kern2.w_left</key>
      <integer>-33</integer>
      <key>public.kern2.y_left</key>
      <integer>-33</integer>
      <key>v</key>
      <integer>-33</integer>
    </dict>
    <key>public.kern1.L_right</key>
    <dict>
      <key>V</key>
      <integer>-47</integer>
      <key>public.kern2.T_left</key>
      <real>-62.999999999999986</real>
      <key>public.kern2.W_left</key>
      <integer>-40</integer>
      <key>public.kern2.Y_left</key>
      <real>-53.00000000000001</real>
      <key>public.kern2.quotes_right</key>
      <integer>-30</integer>
      <key>public.kern2.quotes_straight_left</key>
      <integer>-20</integer>
      <key>public.kern2.w_left</key>
      <integer>-23</integer>
      <key>public.kern2.y_left</key>
      <integer>-27</integer>
      <key>v</key>
      <integer>-27</integer>
    </dict>
    <key>public.kern1.O_right</key>
    <dict>
      <key>AE</key>
      <real>-33.00000000000001</real>
    </dict>
    <key>public.kern1.R_right</key>
    <dict>
      <key>public.kern2.quotes_right</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.S_right</key>
    <dict>
      <key>V</key>
      <integer>20</integer>
      <key>X</key>
      <integer>23</integer>
      <key>public.kern2.W_left</key>
      <integer>20</integer>
      <key>public.kern2.t_left</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.T_right</key>
    <dict>
      <key>AE</key>
      <integer>-103</integer>
      <key>J</key>
      <integer>-90</integer>
      <key>public.kern2.A_left</key>
      <integer>-33</integer>
      <key>public.kern2.a_left</key>
      <real>-56.99999999999999</real>
      <key>public.kern2.colon_left</key>
      <integer>-27</integer>
      <key>public.kern2.f_left</key>
      <real>-23.000000000000007</real>
      <key>public.kern2.guillemetleft_left</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-60</integer>
      <key>public.kern2.n_left</key>
      <integer>-70</integer>
      <key>public.kern2.o_left</key>
      <integer>-67</integer>
      <key>public.kern2.period_left</key>
      <real>-63.00000000000001</real>
      <key>public.kern2.s_left</key>
      <integer>-50</integer>
      <key>public.kern2.t_left</key>
      <real>-23.000000000000007</real>
      <key>public.kern2.u_left</key>
      <integer>-33</integer>
      <key>public.kern2.w_left</key>
      <integer>-23</integer>
      <key>public.kern2.y_left</key>
      <integer>-27</integer>
      <key>public.kern2.z_left</key>
      <real>-53.00000000000001</real>
      <key>question</key>
      <integer>20</integer>
      <key>v</key>
      <integer>-23</integer>
      <key>x</key>
      <integer>-33</integer>
    </dict>
    <key>public.kern1.W_right</key>
    <dict>
      <key>AE</key>
      <integer>-73</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>public.kern2.A_left</key>
      <integer>-33</integer>
      <key>public.kern2.a_left</key>
      <integer>-37</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-20</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-33</integer>
      <key>public.kern2.period_left</key>
      <integer>-77</integer>
    </dict>
    <key>public.kern1.Y_right</key>
    <dict>
      <key>AE</key>
      <real>-112.99999999999999</real>
      <key>J</key>
      <real>-62.999999999999986</real>
      <key>germandbls</key>
      <integer>0</integer>
      <key>public.kern2.A_left</key>
      <integer>-60</integer>
      <key>public.kern2.a_left</key>
      <integer>-73</integer>
      <key>public.kern2.f_left</key>
      <real>-26.999999999999993</real>
      <key>public.kern2.hyphen_left</key>
      <integer>-43</integer>
      <key>public.kern2.n_left</key>
      <real>-56.99999999999999</real>
      <key>public.kern2.o_left</key>
      <integer>-90</integer>
      <key>public.kern2.period_left</key>
      <integer>-77</integer>
      <key>public.kern2.s_left</key>
      <real>-53.00000000000001</real>
      <key>public.kern2.t_left</key>
      <real>-26.999999999999993</real>
      <key>public.kern2.u_left</key>
      <integer>-33</integer>
      <key>public.kern2.z_left</key>
      <integer>-25</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Z_right</key>
    <dict>
      <key>public.kern2.S_left</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.c_right</key>
    <dict>
      <key>public.kern2.T_left</key>
      <real>-26.999999999999993</real>
      <key>public.kern2.w_left</key>
      <integer>20</integer>
      <key>public.kern2.y_left</key>
      <integer>20</integer>
      <key>v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.colon_right</key>
    <dict>
      <key>one</key>
      <integer>-30</integer>
      <key>public.kern2.T_left</key>
      <integer>-27</integer>
    </dict>
    <key>public.kern1.f_right</key>
    <dict>
      <key>public.kern2.guillemetleft_left</key>
      <integer>-20</integer>
      <key>public.kern2.quotes_left</key>
      <real>33.00000000000001</real>
      <key>public.kern2.quotes_right</key>
      <integer>40</integer>
      <key>public.kern2.y_left</key>
      <integer>23</integer>
      <key>public.kern2.z_left</key>
      <integer>20</integer>
      <key>v</key>
      <integer>27</integer>
    </dict>
    <key>public.kern1.guillemetleft_right</key>
    <dict>
      <key>one</key>
      <real>-47.000000000000014</real>
    </dict>
    <key>public.kern1.guillemetright_right</key>
    <dict>
      <key>one</key>
      <real>-33.00000000000001</real>
      <key>public.kern2.T_left</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen_right</key>
    <dict>
      <key>J</key>
      <integer>-27</integer>
      <key>V</key>
      <integer>-33</integer>
      <key>X</key>
      <integer>-60</integer>
      <key>one</key>
      <real>-33.00000000000001</real>
      <key>public.kern2.A_left</key>
      <integer>-27</integer>
      <key>public.kern2.T_left</key>
      <integer>-60</integer>
      <key>public.kern2.W_left</key>
      <integer>-20</integer>
      <key>public.kern2.Y_left</key>
      <integer>-43</integer>
    </dict>
    <key>public.kern1.n_right</key>
    <dict>
      <key>public.kern2.T_left</key>
      <integer>-20</integer>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.o_right</key>
    <dict>
      <key>public.kern2.quotes_left</key>
      <real>-23.000000000000007</real>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.period_right</key>
    <dict>
      <key>V</key>
      <integer>-70</integer>
      <key>four</key>
      <real>-26.999999999999993</real>
      <key>one</key>
      <real>-47.000000000000014</real>
      <key>public.kern2.T_left</key>
      <real>-63.00000000000001</real>
      <key>public.kern2.W_left</key>
      <integer>-77</integer>
      <key>public.kern2.Y_left</key>
      <integer>-77</integer>
      <key>public.kern2.w_left</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quotes_base_right</key>
    <dict>
      <key>V</key>
      <integer>-67</integer>
      <key>X</key>
      <integer>40</integer>
      <key>public.kern2.A_left</key>
      <real>26.999999999999993</real>
      <key>public.kern2.T_left</key>
      <integer>-73</integer>
      <key>public.kern2.W_left</key>
      <integer>-83</integer>
      <key>public.kern2.Y_left</key>
      <integer>-77</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quotes_left</key>
    <dict>
      <key>J</key>
      <integer>-73</integer>
      <key>public.kern2.A_left</key>
      <integer>-47</integer>
    </dict>
    <key>public.kern1.quotes_right</key>
    <dict>
      <key>J</key>
      <integer>-120</integer>
      <key>public.kern2.A_left</key>
      <integer>-97</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quotes_straight_right</key>
    <dict>
      <key>J</key>
      <integer>-107</integer>
      <key>four</key>
      <real>-52.999999999999986</real>
      <key>public.kern2.A_left</key>
      <integer>-83</integer>
      <key>six</key>
      <real>-23.000000000000007</real>
    </dict>
    <key>public.kern1.r_right</key>
    <dict>
      <key>public.kern2.guillemetleft_left</key>
      <integer>-20</integer>
      <key>public.kern2.period_left</key>
      <integer>-50</integer>
      <key>public.kern2.quotes_left</key>
      <integer>50</integer>
      <key>public.kern2.quotes_right</key>
      <integer>43</integer>
      <key>public.kern2.t_left</key>
      <integer>27</integer>
    </dict>
    <key>public.kern1.s_right</key>
    <dict>
      <key>public.kern2.quotes_right</key>
      <integer>30</integer>
      <key>public.kern2.t_left</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.t_right</key>
    <dict>
      <key>public.kern2.quotes_left</key>
      <real>23.000000000000007</real>
      <key>public.kern2.z_left</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.w_right</key>
    <dict>
      <key>public.kern2.period_left</key>
      <integer>-20</integer>
      <key>public.kern2.quotes_left</key>
      <integer>20</integer>
      <key>public.kern2.t_left</key>
      <integer>20</integer>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.y_right</key>
    <dict>
      <key>public.kern2.period_left</key>
      <real>-33.00000000000001</real>
      <key>public.kern2.quotes_left</key>
      <integer>20</integer>
      <key>public.kern2.quotes_right</key>
      <real>33.00000000000001</real>
      <key>public.kern2.t_left</key>
      <integer>20</integer>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.z_right</key>
    <dict>
      <key>public.kern2.quotes_right</key>
      <integer>40</integer>
      <key>public.kern2.s_left</key>
      <integer>20</integer>
      <key>public.kern2.t_left</key>
      <integer>27</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>X</key>
      <real>-23.000000000000007</real>
      <key>Y</key>
      <integer>0</integer>
      <key>eight</key>
      <real>-26.999999999999993</real>
      <key>five</key>
      <real>-26.999999999999993</real>
      <key>four</key>
      <real>-52.999999999999986</real>
      <key>nine</key>
      <integer>-50</integer>
      <key>one</key>
      <integer>-80</integer>
      <key>public.kern2.O_left</key>
      <real>-33.00000000000001</real>
      <key>public.kern2.T_left</key>
      <real>-47.000000000000014</real>
      <key>public.kern2.W_left</key>
      <integer>-37</integer>
      <key>public.kern2.Y_left</key>
      <real>-47.000000000000014</real>
      <key>public.kern2.f_left</key>
      <real>-23.000000000000007</real>
      <key>public.kern2.i_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>public.kern2.s_left</key>
      <integer>-20</integer>
      <key>public.kern2.t_left</key>
      <real>-26.999999999999993</real>
      <key>public.kern2.w_left</key>
      <integer>-43</integer>
      <key>public.kern2.y_left</key>
      <real>-23.000000000000007</real>
      <key>seven</key>
      <real>-57.000000000000014</real>
      <key>six</key>
      <real>-26.999999999999993</real>
      <key>three</key>
      <real>-33.00000000000001</real>
      <key>two</key>
      <real>-23.000000000000007</real>
      <key>zero</key>
      <real>-33.00000000000001</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>divide</key>
      <real>-26.999999999999993</real>
      <key>equal</key>
      <integer>-20</integer>
      <key>four</key>
      <real>-56.99999999999999</real>
      <key>greater</key>
      <integer>-20</integer>
      <key>less</key>
      <real>-26.999999999999993</real>
      <key>one</key>
      <integer>33</integer>
      <key>periodcentered</key>
      <integer>-20</integer>
      <key>plus</key>
      <real>-26.999999999999993</real>
      <key>public.kern2.guillemetleft_left</key>
      <integer>-40</integer>
      <key>public.kern2.guillemetright</key>
      <integer>-40</integer>
      <key>public.kern2.period_left</key>
      <integer>-73</integer>
      <key>section</key>
      <integer>-20</integer>
      <key>six</key>
      <real>-56.99999999999999</real>
      <key>slash</key>
      <real>-26.999999999999993</real>
    </dict>
    <key>six</key>
    <dict>
      <key>fraction</key>
      <integer>73</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>ordfeminine</key>
      <integer>-20</integer>
      <key>percent</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>four</key>
      <real>-33.00000000000001</real>
      <key>public.kern2.a_left</key>
      <integer>-20</integer>
    </dict>
    <key>sterling</key>
    <dict>
      <key>eight</key>
      <integer>-20</integer>
      <key>four</key>
      <real>-26.999999999999993</real>
      <key>nine</key>
      <integer>-20</integer>
      <key>one</key>
      <real>-23.000000000000007</real>
    </dict>
    <key>three</key>
    <dict>
      <key>fraction</key>
      <integer>80</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-23</integer>
      <key>fraction</key>
      <integer>100</integer>
      <key>seven</key>
      <integer>33</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>public.kern2.quotes_left</key>
      <integer>20</integer>
      <key>public.kern2.quotes_right</key>
      <real>33.00000000000001</real>
      <key>public.kern2.t_left</key>
      <integer>20</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.o_left</key>
      <integer>-21</integer>
      <key>public.kern2.quotes_left</key>
      <integer>20</integer>
      <key>public.kern2.quotes_right</key>
      <real>33.00000000000001</real>
    </dict>
    <key>zero</key>
    <dict>
      <key>fraction</key>
      <real>52.999999999999986</real>
    </dict>
  </dict>
</plist>
