(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
G.super,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
ij,
j,
jdotless,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
a.alt,
aacute.alt,
abreve.alt,
acaron.alt,
acircumflex.alt,
adieresis.alt,
agrave.alt,
amacron.alt,
aogonek.alt,
aring.alt,
atilde.alt,
ae.alt,
g.alt,
gbreve.alt,
gcommaaccent.alt,
gdotaccent.alt,
f_b,
f_f,
f_f_b,
f_f_h,
f_f_i,
f_f_j,
f_f_k,
f_f_l,
f_f_t,
f_h,
f_i,
f_j,
f_k,
f_l,
f_t,
t_f,
t_t,
ordfeminine,
ordmasculine,
mu,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.denominator,
one.denominator,
two.denominator,
three.denominator,
four.denominator,
five.denominator,
six.denominator,
seven.denominator,
eight.denominator,
nine.denominator,
zero.numerator,
one.numerator,
two.numerator,
three.numerator,
four.numerator,
five.numerator,
six.numerator,
seven.numerator,
eight.numerator,
nine.numerator,
zero.slash,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
fraction,
onehalf,
onequarter,
threequarters,
zero.dnom.percent,
zero.numr.percent,
zero.sinf,
one.sinf,
two.sinf,
three.sinf,
four.sinf,
five.sinf,
six.sinf,
seven.sinf,
eight.sinf,
nine.sinf,
zerosubscript,
onesubscript,
twosubscript,
threesubscript,
foursubscript,
fivesubscript,
sixsubscript,
sevensubscript,
eightsubscript,
ninesubscript,
zerosuperscript,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperscript,
sixsuperscript,
sevensuperscript,
eightsuperscript,
ninesuperscript,
space,
uni00A0,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
thinspace,
hairspace,
zerowidthspace,
uni000D,
.notdef,
space.tf,
period,
comma,
colon,
semicolon,
horizontalelipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
period.tf,
comma.tf,
colon.tf,
semicolon.tf,
numbersign.tf,
colon.time,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
section.tf,
Euro,
cent,
currency,
dollar,
sterling,
yen,
cent.tf,
currency.tf,
dollar.tf,
Euro.tf,
sterling.tf,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
logicalnot.tf,
percent.tf,
uni25CC,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
slashshortcomb,
slashlongcomb,
strokeshortcomb.case,
strokelongcomb.case,
slashshortcomb.case,
slashlongcomb.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
G.logo,
o.logo,
g.logo,
l.logo,
e.logo,
Gsuper,
Google.logo,
"_a-orderfem-borrar",
Engeng,
_ordfeminine_erase_at_the_end,
"dot-composite",
"dot-composite-top",
"exclam-bottom",
"exclam-top",
flig1,
flig2,
foursuperscript,
"greaterequal-stroke",
horizontalbarlc,
"notequal-slash",
onesuperscript,
percentbar,
"question-bottom",
"question-top",
threesuperscript,
tlig,
twosuperscript,
zeroslash,
percentbar.tf,
wiggle.medium,
zeroslash.tf,
_areas,
_tail.Q
)