{
displayStrings = (
"/caroncomb.alt dminiďlľtminiťhth ďn
/caroncomb.alt dminiďlľtťhth ďn
/caroncomb.alt dminiďlľtťh ďn
/caroncomb.alt dminiďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťhth ďn
/caroncomb.alt dminiďlľtťh ďn:.
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťhth ďn:.
/caroncomb.alt dďlľtťltl ďn
/caroncomb.alt dďlľthťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťhth ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn

",
"/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťhth ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťhth ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
dďlľtťhth ďn
dďlľtťhth ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn
/caroncomb.alt dďlľtťh ďn"
);
}
