{
displayStrings = (
"dminiďlľtminiťhth ďn
dminiďlľtťhth ďn
dminiďlľtťh ďn
dminiďlľtťh ďn
dďlľtťh ďn
dďlľtťhth ďn
dminiďlľtťh ďn:.
dďlľtťh ďn
dďlľtťh ďn
dďlľtťhth ďn:.
dďlľtťltl ďn
dďlľthťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťhth ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn

",
"ddLĽHďlľtťh ďn
dďlľtťhth ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťhth ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťhth ďn
dďlľtťhth ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn
dďlľtťh ďn",
"dLĽH dLĽH dLĽH
dltLĽH dltLĽH dLĽH
dLĽH dLĽH dLĽH
dlLĽH dltLĽH dltLĽH
dltLĽH dltLĽH dltLĽH
dltLĽH dltLĽH dltLĽH
dltLĽH dltLĽH dltLĽH
dltLĽH dltLĽH dltLĽH
dltLĽH dltLĽH dltLĽH",
""
);
}
