<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1492</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-360</integer>
    <key>familyName</key>
    <string>GoogleSansFlex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>b6EWJOINsg</string>
        <key>name</key>
        <string>overshoot top</string>
        <key>x</key>
        <integer>385</integer>
        <key>y</key>
        <integer>1458</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>V70wTo1dXw</string>
        <key>name</key>
        <string>overshoot </string>
        <key>x</key>
        <integer>765</integer>
        <key>y</key>
        <integer>481</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>aSCCV6jETP</string>
        <key>name</key>
        <string>baseline</string>
        <key>x</key>
        <integer>569</integer>
        <key>y</key>
        <integer>501</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DtJbBk9KZq</string>
        <key>x</key>
        <integer>340</integer>
        <key>y</key>
        <integer>1318</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>QLGRu0Do4R</string>
        <key>x</key>
        <integer>123</integer>
        <key>y</key>
        <integer>1646</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>1932</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-572</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>612</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>168</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>0</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>1932</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-572</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>1000</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>510</integer>
      <integer>526</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-320</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>168</integer>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleName</key>
    <string>opsz6-wdth100-wght1000-ROND100</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>xHeight</key>
    <integer>1086</integer>
  </dict>
</plist>
