{
displayStrings = (
"HSH^HH|pH¦H
HHH°H
H¶H/_copyright-circle/_registered-R ®™H/_copyright-C ©H
$H€%H&+<=>@^|¦−×~°
ct¢̵ ħđ§¶®©™≠±≤≥¥≈÷",
"KƘƘƘ ƘƘƘ ƘƘƘ
KƘƘƘ KƘƘƘ ƘƘƘ
ƘƘƘ ƘƘƘ ƘƘƘ",
"5/five.tf/five.denominator",
"??",
HHWHOH,
"nn/tlig  n/t_f nn",
"HAMBURGERFONTSIV
hamburgerfontsiv
hamburg erfontsiv
hamburg
HAMBURG",
hambu,
"hamburg
hamburg

"
);
}
