<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>AE</key>
      <real>-20.066666666666666</real>
      <key>V</key>
      <real>-39.96666666666667</real>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A_left</key>
      <integer>-30</integer>
      <key>public.kern2.T_left</key>
      <real>-45.03333333333333</real>
      <key>public.kern2.W_left</key>
      <real>-34.983333333333334</real>
      <key>public.kern2.Y_left</key>
      <integer>-50</integer>
      <key>public.kern2.period_left</key>
      <real>-0.06666666666666643</real>
    </dict>
    <key>Euro</key>
    <dict>
      <key>four</key>
      <integer>-30</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>three</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>AE</key>
      <real>-180.03333333333333</real>
      <key>J</key>
      <real>-165.05</real>
      <key>f</key>
      <real>-30.03333333333333</real>
      <key>public.kern2.A_left</key>
      <real>-109.96666666666667</real>
      <key>public.kern2.S_left</key>
      <real>-19.96666666666667</real>
      <key>public.kern2.a_left</key>
      <real>-54.95</real>
      <key>public.kern2.n_left</key>
      <real>-19.933333333333334</real>
      <key>public.kern2.o_left</key>
      <real>-29.933333333333334</real>
      <key>public.kern2.period_left</key>
      <integer>-110</integer>
      <key>public.kern2.t_left</key>
      <real>-10.033333333333333</real>
    </dict>
    <key>P</key>
    <dict>
      <key>AE</key>
      <real>-115.38333333333333</real>
      <key>J</key>
      <real>-130.1</real>
      <key>X</key>
      <real>-40.03333333333333</real>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>public.kern2.A_left</key>
      <integer>-110</integer>
      <key>public.kern2.Z_left</key>
      <real>-10.033333333333333</real>
      <key>public.kern2.o_left</key>
      <real>-5.016666666666667</real>
      <key>public.kern2.period_left</key>
      <real>-190.3</real>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>J</key>
      <real>-35.11666666666667</real>
      <key>V</key>
      <real>-9.966666666666667</real>
      <key>X</key>
      <real>-64.98333333333333</real>
      <key>public.kern2.A_left</key>
      <integer>-50</integer>
      <key>public.kern2.T_left</key>
      <integer>-60</integer>
      <key>public.kern2.Y_left</key>
      <real>-34.95</real>
      <key>public.kern2.Z_left</key>
      <integer>-20</integer>
      <key>public.kern2.period_left</key>
      <real>-45.15</real>
    </dict>
    <key>V</key>
    <dict>
      <key>AE</key>
      <real>-214.95</real>
      <key>J</key>
      <real>-194.98333333333332</real>
      <key>public.kern2.A_left</key>
      <real>-114.81666666666666</real>
      <key>public.kern2.O_left</key>
      <real>-19.96666666666667</real>
      <key>public.kern2.a_left</key>
      <real>-76.95</real>
      <key>public.kern2.n_left</key>
      <real>-54.88333333333333</real>
      <key>public.kern2.o_left</key>
      <real>-124.95</real>
      <key>public.kern2.period_left</key>
      <real>-134.91666666666666</real>
      <key>public.kern2.s_left</key>
      <real>-59.96666666666667</real>
    </dict>
    <key>X</key>
    <dict>
      <key>J</key>
      <real>14.950000000000001</real>
      <key>f</key>
      <integer>-30</integer>
      <key>public.kern2.O_left</key>
      <real>-44.95</real>
      <key>public.kern2.a_left</key>
      <real>29.900000000000002</real>
      <key>public.kern2.o_left</key>
      <real>-30.066666666666666</real>
      <key>public.kern2.s_left</key>
      <real>49.86666666666667</real>
      <key>public.kern2.t_left</key>
      <integer>-30</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.W_left</key>
      <integer>-40</integer>
      <key>public.kern2.Y_left</key>
      <integer>-60</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>four</key>
      <integer>-120</integer>
      <key>public.kern2.a_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-20</integer>
      <key>public.kern2.period_left</key>
      <integer>-160</integer>
      <key>six</key>
      <integer>-40</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-120</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>four</key>
      <integer>-100</integer>
      <key>one</key>
      <integer>-80</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>four</key>
      <integer>-120</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>copyright</key>
    <dict>
      <key>four</key>
      <integer>-80</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>currency</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-60</integer>
    </dict>
    <key>degree</key>
    <dict>
      <key>four</key>
      <integer>-140</integer>
      <key>public.kern2.period_left</key>
      <integer>-160</integer>
      <key>three</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>divide</key>
    <dict>
      <key>one</key>
      <integer>-80</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>dollar</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>four</key>
      <integer>-40</integer>
      <key>fraction</key>
      <integer>220</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>ordfeminine</key>
      <integer>-20</integer>
      <key>public.kern2.t_left</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>-20</integer>
    </dict>
    <key>equal</key>
    <dict>
      <key>one</key>
      <integer>-80</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>exclamdown</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-60</integer>
      <key>one</key>
      <integer>-120</integer>
      <key>public.kern2.T_left</key>
      <integer>-50</integer>
      <key>public.kern2.W_left</key>
      <integer>-20</integer>
      <key>public.kern2.Y_left</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>three</key>
      <integer>-40</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>20</integer>
      <key>guilsinglleft</key>
      <integer>-60</integer>
      <key>guilsinglright</key>
      <integer>-40</integer>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.a_left</key>
      <integer>-20</integer>
      <key>public.kern2.colon_left</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-40</integer>
      <key>public.kern2.o_left</key>
      <integer>-40</integer>
      <key>public.kern2.period_left</key>
      <integer>-80</integer>
      <key>public.kern2.s_left</key>
      <integer>-12</integer>
      <key>public.kern2.w_left</key>
      <real>-28.495</real>
      <key>public.kern2.y_left</key>
      <real>-29.933333333333334</real>
      <key>question</key>
      <integer>-20</integer>
      <key>v</key>
      <real>-14.950000000000001</real>
      <key>x</key>
      <real>-24.950000000000003</real>
    </dict>
    <key>five</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>degree</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>fraction</key>
      <integer>200</integer>
      <key>one</key>
      <integer>-50</integer>
      <key>ordmasculine</key>
      <integer>-40</integer>
      <key>percent</key>
      <integer>-40</integer>
      <key>public.kern2.colon_left</key>
      <integer>-20</integer>
      <key>public.kern2.t_left</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-50</integer>
      <key>three</key>
      <integer>-50</integer>
      <key>zero</key>
      <integer>-10</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>cent</key>
      <integer>-20</integer>
      <key>currency</key>
      <integer>-20</integer>
      <key>fraction</key>
      <integer>210</integer>
      <key>minus</key>
      <integer>-20</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>ordfeminine</key>
      <integer>-20</integer>
      <key>ordmasculine</key>
      <integer>-30</integer>
      <key>percent</key>
      <integer>-50</integer>
      <key>plus</key>
      <integer>-20</integer>
      <key>public.kern2.t_left</key>
      <integer>-50</integer>
      <key>question</key>
      <integer>-40</integer>
      <key>three</key>
      <integer>-40</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>eight</key>
      <integer>180</integer>
      <key>five</key>
      <integer>180</integer>
      <key>four</key>
      <integer>-30</integer>
      <key>nine</key>
      <integer>220</integer>
      <key>one</key>
      <integer>260</integer>
      <key>seven</key>
      <integer>340</integer>
      <key>three</key>
      <integer>230</integer>
      <key>two</key>
      <integer>240</integer>
      <key>zero</key>
      <integer>160</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>one</key>
      <integer>-120</integer>
      <key>seven</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-10</integer>
    </dict>
    <key>guilsinglleft</key>
    <dict>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-140</integer>
      <key>public.kern2.T_left</key>
      <integer>-40</integer>
      <key>public.kern2.Y_left</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>guilsinglright</key>
    <dict>
      <key>one</key>
      <integer>-100</integer>
      <key>public.kern2.T_left</key>
      <integer>-60</integer>
      <key>public.kern2.Y_left</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-40</integer>
    </dict>
    <key>less</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>one</key>
      <integer>-100</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>minus</key>
    <dict>
      <key>one</key>
      <integer>-80</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>braceright</key>
      <integer>-20</integer>
      <key>bracketright</key>
      <integer>-20</integer>
      <key>cent</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-90</integer>
      <key>guilsinglleft</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>parenright</key>
      <integer>-20</integer>
      <key>plus</key>
      <integer>-20</integer>
      <key>public.kern2.period_left</key>
      <integer>-80</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-50</integer>
      <key>two</key>
      <integer>-30</integer>
      <key>zero</key>
      <integer>-10</integer>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-60</integer>
      <key>one</key>
      <integer>-60</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>six</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-40</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>fraction</key>
      <integer>260</integer>
      <key>public.kern2.s_left</key>
      <integer>-10</integer>
      <key>public.kern2.t_left</key>
      <integer>-30</integer>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>ordmasculine</key>
    <dict>
      <key>four</key>
      <integer>-80</integer>
      <key>six</key>
      <integer>-60</integer>
    </dict>
    <key>paragraph</key>
    <dict>
      <key>one</key>
      <integer>-60</integer>
      <key>two</key>
      <integer>-30</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>four</key>
      <integer>-60</integer>
      <key>one</key>
      <integer>-120</integer>
      <key>six</key>
      <integer>-20</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-100</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>plus</key>
    <dict>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-100</integer>
      <key>seven</key>
      <integer>-30</integer>
      <key>three</key>
      <integer>-40</integer>
      <key>two</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.A_right</key>
    <dict>
      <key>J</key>
      <real>44.95</real>
      <key>V</key>
      <real>-114.81666666666666</real>
      <key>f</key>
      <integer>-23</integer>
      <key>public.kern2.O_left</key>
      <real>-19.96666666666667</real>
      <key>public.kern2.S_left</key>
      <integer>10</integer>
      <key>public.kern2.T_left</key>
      <real>-109.83333333333334</real>
      <key>public.kern2.W_left</key>
      <real>-49.96666666666667</real>
      <key>public.kern2.Y_left</key>
      <real>-149.9</real>
      <key>public.kern2.a_left</key>
      <real>19.933333333333334</real>
      <key>public.kern2.o_left</key>
      <real>-24.983333333333334</real>
      <key>public.kern2.s_left</key>
      <real>44.91666666666667</real>
      <key>public.kern2.t_left</key>
      <real>-50.016666666666666</real>
      <key>public.kern2.w_left</key>
      <real>-39.96666666666667</real>
      <key>public.kern2.y_left</key>
      <real>-84.95</real>
      <key>v</key>
      <real>-69.96666666666667</real>
    </dict>
    <key>public.kern1.C_right</key>
    <dict>
      <key>V</key>
      <real>34.983333333333334</real>
      <key>X</key>
      <real>19.96666666666667</real>
      <key>f</key>
      <real>-20.03333333333333</real>
      <key>public.kern2.A_left</key>
      <integer>20</integer>
      <key>public.kern2.O_left</key>
      <integer>-20</integer>
      <key>public.kern2.T_left</key>
      <real>-5.016666666666667</real>
      <key>public.kern2.W_left</key>
      <real>29.96666666666667</real>
      <key>public.kern2.Y_left</key>
      <real>39.96666666666667</real>
      <key>public.kern2.Z_left</key>
      <real>19.933333333333334</real>
      <key>public.kern2.period_left</key>
      <real>14.916666666666668</real>
      <key>public.kern2.t_left</key>
      <real>-20.03333333333333</real>
    </dict>
    <key>public.kern1.E_right</key>
    <dict>
      <key>J</key>
      <real>-10.033333333333333</real>
      <key>f</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-10</integer>
      <key>public.kern2.t_left</key>
      <integer>-15</integer>
      <key>public.kern2.y_left</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.G_right</key>
    <dict>
      <key>AE</key>
      <real>-15.049999999999999</real>
      <key>J</key>
      <integer>30</integer>
      <key>V</key>
      <real>0.06666666666666643</real>
      <key>X</key>
      <real>-9.966666666666667</real>
      <key>public.kern2.S_left</key>
      <integer>50</integer>
      <key>public.kern2.T_left</key>
      <real>20.03333333333333</real>
      <key>public.kern2.W_left</key>
      <real>10.033333333333333</real>
      <key>public.kern2.Y_left</key>
      <real>0.06666666666666643</real>
      <key>public.kern2.Z_left</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.H_right</key>
    <dict>
      <key>AE</key>
      <real>-44.85</real>
      <key>ordmasculine</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.K_right</key>
    <dict>
      <key>J</key>
      <real>-10.033333333333333</real>
      <key>X</key>
      <integer>-10</integer>
      <key>f</key>
      <real>-20.066666666666666</real>
      <key>public.kern2.O_left</key>
      <real>-69.9</real>
      <key>public.kern2.a_left</key>
      <real>-12.541666666666666</real>
      <key>public.kern2.o_left</key>
      <real>-39.95</real>
      <key>public.kern2.s_left</key>
      <real>19.96666666666667</real>
    </dict>
    <key>public.kern1.L_right</key>
    <dict>
      <key>J</key>
      <real>9.933333333333334</real>
      <key>V</key>
      <real>-129.96666666666667</real>
      <key>f</key>
      <integer>-20</integer>
      <key>public.kern2.A_left</key>
      <integer>-16</integer>
      <key>public.kern2.O_left</key>
      <real>-25.049999999999997</real>
      <key>public.kern2.T_left</key>
      <real>-151.99333333333334</real>
      <key>public.kern2.W_left</key>
      <integer>-100</integer>
      <key>public.kern2.Y_left</key>
      <real>-137.94</real>
      <key>public.kern2.period_left</key>
      <real>-10.033333333333333</real>
      <key>public.kern2.t_left</key>
      <integer>-20</integer>
      <key>public.kern2.w_left</key>
      <real>-34.983333333333334</real>
      <key>public.kern2.y_left</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.O_right</key>
    <dict>
      <key>AE</key>
      <real>-50.166666666666664</real>
      <key>J</key>
      <real>-20.066666666666666</real>
      <key>V</key>
      <real>-19.96666666666667</real>
      <key>X</key>
      <real>-44.95</real>
      <key>public.kern2.A_left</key>
      <real>-19.96666666666667</real>
      <key>public.kern2.T_left</key>
      <real>-29.96666666666667</real>
      <key>public.kern2.Y_left</key>
      <real>-59.96666666666667</real>
      <key>public.kern2.Z_left</key>
      <integer>-15</integer>
      <key>public.kern2.period_left</key>
      <real>-20.066666666666666</real>
    </dict>
    <key>public.kern1.R_right</key>
    <dict>
      <key>V</key>
      <real>-44.85</real>
      <key>public.kern2.S_left</key>
      <real>-9.966666666666667</real>
      <key>public.kern2.T_left</key>
      <real>-54.85</real>
      <key>public.kern2.W_left</key>
      <real>-24.916666666666668</real>
      <key>public.kern2.Y_left</key>
      <real>-52.375</real>
      <key>public.kern2.o_left</key>
      <real>-54.91666666666667</real>
      <key>public.kern2.s_left</key>
      <real>4.983333333333333</real>
      <key>public.kern2.y_left</key>
      <real>-9.966666666666667</real>
    </dict>
    <key>public.kern1.S_right</key>
    <dict>
      <key>X</key>
      <integer>10</integer>
      <key>f</key>
      <real>14.950000000000001</real>
      <key>public.kern2.A_left</key>
      <real>15.016666666666666</real>
      <key>public.kern2.S_left</key>
      <integer>20</integer>
      <key>public.kern2.T_left</key>
      <integer>20</integer>
      <key>public.kern2.Y_left</key>
      <real>-25.049999999999997</real>
      <key>public.kern2.Z_left</key>
      <real>34.88333333333333</real>
      <key>public.kern2.a_left</key>
      <real>29.900000000000002</real>
      <key>public.kern2.o_left</key>
      <real>24.916666666666668</real>
      <key>public.kern2.s_left</key>
      <real>34.88333333333333</real>
      <key>public.kern2.t_left</key>
      <real>24.916666666666668</real>
    </dict>
    <key>public.kern1.T_right</key>
    <dict>
      <key>AE</key>
      <real>-189.93333333333334</real>
      <key>J</key>
      <real>-204.88333333333333</real>
      <key>f</key>
      <real>-55.05</real>
      <key>guilsinglleft</key>
      <integer>-60</integer>
      <key>guilsinglright</key>
      <integer>-40</integer>
      <key>public.kern2.A_left</key>
      <real>-109.83333333333334</real>
      <key>public.kern2.O_left</key>
      <real>-29.96666666666667</real>
      <key>public.kern2.S_left</key>
      <integer>-20</integer>
      <key>public.kern2.a_left</key>
      <real>-109.96666666666667</real>
      <key>public.kern2.n_left</key>
      <integer>-110</integer>
      <key>public.kern2.o_left</key>
      <real>-119.93333333333334</real>
      <key>public.kern2.period_left</key>
      <real>-114.85</real>
      <key>public.kern2.s_left</key>
      <integer>-90</integer>
      <key>public.kern2.t_left</key>
      <real>-45.08333333333333</real>
      <key>public.kern2.w_left</key>
      <integer>-30</integer>
      <key>public.kern2.y_left</key>
      <integer>-40</integer>
      <key>public.kern2.z_left</key>
      <integer>-100</integer>
      <key>v</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.W_right</key>
    <dict>
      <key>AE</key>
      <real>-119.93333333333334</real>
      <key>J</key>
      <real>-160.06666666666666</real>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>public.kern2.A_left</key>
      <real>-49.96666666666667</real>
      <key>public.kern2.a_left</key>
      <real>-57.016666666666666</real>
      <key>public.kern2.o_left</key>
      <real>-49.96666666666667</real>
      <key>public.kern2.period_left</key>
      <real>-75.05</real>
      <key>public.kern2.s_left</key>
      <real>-29.96666666666667</real>
    </dict>
    <key>public.kern1.Y_right</key>
    <dict>
      <key>AE</key>
      <real>-224.91666666666666</real>
      <key>J</key>
      <integer>-190</integer>
      <key>ampersand</key>
      <integer>-30</integer>
      <key>f</key>
      <real>-70.03333333333333</real>
      <key>germandbls</key>
      <integer>-20</integer>
      <key>guilsinglleft</key>
      <integer>-40</integer>
      <key>guilsinglright</key>
      <integer>-30</integer>
      <key>public.kern2.A_left</key>
      <real>-149.9</real>
      <key>public.kern2.O_left</key>
      <real>-59.96666666666667</real>
      <key>public.kern2.S_left</key>
      <real>-35.016666666666666</real>
      <key>public.kern2.a_left</key>
      <integer>-120</integer>
      <key>public.kern2.n_left</key>
      <real>-84.95</real>
      <key>public.kern2.o_left</key>
      <real>-179.96666666666667</real>
      <key>public.kern2.period_left</key>
      <real>-134.91666666666666</real>
      <key>public.kern2.s_left</key>
      <real>-109.96666666666667</real>
      <key>public.kern2.t_left</key>
      <real>-70.03333333333333</real>
      <key>public.kern2.z_left</key>
      <real>-44.96666666666667</real>
    </dict>
    <key>public.kern1.Z_right</key>
    <dict>
      <key>J</key>
      <real>29.900000000000002</real>
      <key>f</key>
      <real>-20.03333333333333</real>
      <key>public.kern2.A_left</key>
      <integer>-20</integer>
      <key>public.kern2.O_left</key>
      <integer>-15</integer>
      <key>public.kern2.S_left</key>
      <real>29.900000000000002</real>
      <key>public.kern2.t_left</key>
      <real>-20.03333333333333</real>
      <key>public.kern2.v_left</key>
      <real>-15.049999999999999</real>
    </dict>
    <key>public.kern1.a_right</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>public.kern2.w_left</key>
      <integer>-20</integer>
      <key>public.kern2.y_left</key>
      <integer>-20</integer>
      <key>registered</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.c_right</key>
    <dict>
      <key>J</key>
      <integer>-20</integer>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>f</key>
      <real>14.950000000000001</real>
      <key>periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.O_left</key>
      <integer>-14</integer>
      <key>public.kern2.T_left</key>
      <integer>-80</integer>
      <key>public.kern2.W_left</key>
      <integer>-20</integer>
      <key>public.kern2.w_left</key>
      <real>29.96666666666667</real>
      <key>public.kern2.y_left</key>
      <integer>20</integer>
      <key>public.kern2.z_left</key>
      <integer>20</integer>
      <key>registered</key>
      <integer>-20</integer>
      <key>v</key>
      <real>29.96666666666667</real>
      <key>x</key>
      <real>29.96666666666667</real>
    </dict>
    <key>public.kern1.colon_right</key>
    <dict>
      <key>five</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-40</integer>
      <key>one</key>
      <integer>-90</integer>
      <key>public.kern2.w_left</key>
      <integer>-20</integer>
      <key>public.kern2.y_left</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.e_right</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.y_left</key>
      <real>-6.545</real>
      <key>question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.g_right</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.hyphen_right</key>
    <dict>
      <key>one</key>
      <integer>-100</integer>
      <key>three</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.k_right</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-20</integer>
      <key>f</key>
      <real>69.76666666666667</real>
      <key>guilsinglleft</key>
      <integer>-40</integer>
      <key>guilsinglright</key>
      <integer>-30</integer>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.h_left</key>
      <real>29.900000000000002</real>
      <key>public.kern2.hyphen_left</key>
      <integer>-40</integer>
      <key>public.kern2.n_left</key>
      <real>24.916666666666668</real>
      <key>public.kern2.o_left</key>
      <real>2.408333333333335</real>
      <key>public.kern2.s_left</key>
      <real>54.81666666666667</real>
      <key>public.kern2.t_left</key>
      <real>69.76666666666667</real>
      <key>public.kern2.w_left</key>
      <real>59.800000000000004</real>
      <key>public.kern2.y_left</key>
      <real>59.800000000000004</real>
      <key>public.kern2.z_left</key>
      <real>59.800000000000004</real>
      <key>question</key>
      <integer>-40</integer>
      <key>v</key>
      <real>59.800000000000004</real>
      <key>x</key>
      <real>59.800000000000004</real>
    </dict>
    <key>public.kern1.n_right</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>public.kern2.T_left</key>
      <integer>-60</integer>
      <key>public.kern2.quote_left</key>
      <integer>-20</integer>
      <key>registered</key>
      <integer>-20</integer>
      <key>v</key>
      <real>-25.049999999999997</real>
    </dict>
    <key>public.kern1.o_right</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>copyright</key>
      <integer>-20</integer>
      <key>f</key>
      <real>-12.524999999999999</real>
      <key>public.kern2.w_left</key>
      <real>-7.016666666666667</real>
      <key>public.kern2.y_left</key>
      <real>-32.026666666666664</real>
      <key>public.kern2.z_left</key>
      <real>-5.016666666666667</real>
      <key>question</key>
      <integer>-60</integer>
      <key>registered</key>
      <integer>-20</integer>
      <key>v</key>
      <real>-20.016666666666666</real>
      <key>x</key>
      <real>-28.983333333333334</real>
    </dict>
    <key>public.kern1.period_right</key>
    <dict>
      <key>J</key>
      <real>-20.066666666666666</real>
      <key>V</key>
      <real>-134.91666666666666</real>
      <key>four</key>
      <integer>-80</integer>
      <key>one</key>
      <integer>-140</integer>
      <key>public.kern2.O_left</key>
      <real>-15.049999999999999</real>
      <key>public.kern2.T_left</key>
      <real>-114.85</real>
      <key>public.kern2.W_left</key>
      <real>-75.05</real>
      <key>public.kern2.Y_left</key>
      <real>-134.91666666666666</real>
      <key>public.kern2.w_left</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.quote_right</key>
    <dict>
      <key>four</key>
      <real>-95.21666666666667</real>
      <key>six</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.r_right</key>
    <dict>
      <key>ampersand</key>
      <integer>-40</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>braceright</key>
      <integer>-50</integer>
      <key>bracketright</key>
      <integer>-20</integer>
      <key>guilsinglleft</key>
      <integer>-60</integer>
      <key>guilsinglright</key>
      <integer>-20</integer>
      <key>parenright</key>
      <integer>-40</integer>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.a_left</key>
      <real>-26.983333333333334</real>
      <key>public.kern2.colon_left</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-40</integer>
      <key>public.kern2.o_left</key>
      <real>-49.93333333333334</real>
      <key>public.kern2.period_left</key>
      <integer>-150</integer>
      <key>question</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.s_right</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
      <key>copyright</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.t_right</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>guilsinglleft</key>
      <integer>-20</integer>
      <key>periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.colon_left</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-20</integer>
      <key>public.kern2.y_left</key>
      <real>-4.983333333333333</real>
      <key>question</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.w_right</key>
    <dict>
      <key>public.kern2.a_left</key>
      <integer>-20</integer>
      <key>public.kern2.colon_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <real>-7.016666666666667</real>
      <key>public.kern2.period_left</key>
      <integer>-60</integer>
      <key>public.kern2.t_left</key>
      <real>9.966666666666667</real>
      <key>public.kern2.w_left</key>
      <real>14.950000000000001</real>
      <key>public.kern2.y_left</key>
      <real>8.97</real>
      <key>question</key>
      <integer>-60</integer>
      <key>v</key>
      <real>14.950000000000001</real>
      <key>x</key>
      <real>14.950000000000001</real>
    </dict>
    <key>public.kern1.y_right</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>guilsinglleft</key>
      <integer>-20</integer>
      <key>guilsinglright</key>
      <integer>-20</integer>
      <key>periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.a_left</key>
      <integer>-20</integer>
      <key>public.kern2.colon_left</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <real>-20.066666666666666</real>
      <key>public.kern2.period_left</key>
      <integer>-100</integer>
      <key>public.kern2.t_left</key>
      <real>14.950000000000001</real>
      <key>public.kern2.w_left</key>
      <real>18.936666666666667</real>
      <key>public.kern2.y_left</key>
      <real>9.966666666666667</real>
      <key>question</key>
      <integer>-60</integer>
      <key>slash</key>
      <integer>-20</integer>
      <key>v</key>
      <real>18.936666666666667</real>
      <key>x</key>
      <real>14.950000000000001</real>
    </dict>
    <key>public.kern1.z_right</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>guilsinglleft</key>
      <integer>-20</integer>
      <key>periodcentered</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-30</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
      <key>eight</key>
      <integer>-80</integer>
      <key>f</key>
      <integer>-70</integer>
      <key>five</key>
      <integer>-80</integer>
      <key>four</key>
      <integer>-160</integer>
      <key>nine</key>
      <integer>-150</integer>
      <key>one</key>
      <integer>-240</integer>
      <key>public.kern2.H_left</key>
      <integer>-40</integer>
      <key>public.kern2.O_left</key>
      <integer>-100</integer>
      <key>public.kern2.S_left</key>
      <integer>-40</integer>
      <key>public.kern2.T_left</key>
      <integer>-140</integer>
      <key>public.kern2.W_left</key>
      <integer>-110</integer>
      <key>public.kern2.Y_left</key>
      <integer>-140</integer>
      <key>public.kern2.a_left</key>
      <integer>-40</integer>
      <key>public.kern2.h_left</key>
      <integer>-40</integer>
      <key>public.kern2.i_left</key>
      <integer>-60</integer>
      <key>public.kern2.o_left</key>
      <integer>-60</integer>
      <key>public.kern2.s_left</key>
      <integer>-60</integer>
      <key>public.kern2.t_left</key>
      <integer>-80</integer>
      <key>public.kern2.w_left</key>
      <integer>-130</integer>
      <key>public.kern2.y_left</key>
      <integer>-70</integer>
      <key>public.kern2.z_left</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-170</integer>
      <key>six</key>
      <integer>-80</integer>
      <key>three</key>
      <integer>-100</integer>
      <key>two</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-50</integer>
      <key>zero</key>
      <integer>-100</integer>
    </dict>
    <key>section</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-20</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>Euro</key>
      <integer>-40</integer>
      <key>braceright</key>
      <integer>-20</integer>
      <key>cent</key>
      <integer>-40</integer>
      <key>currency</key>
      <integer>-40</integer>
      <key>divide</key>
      <integer>-80</integer>
      <key>equal</key>
      <integer>-60</integer>
      <key>five</key>
      <integer>-50</integer>
      <key>four</key>
      <integer>-120</integer>
      <key>fraction</key>
      <integer>-10</integer>
      <key>greater</key>
      <integer>-60</integer>
      <key>guilsinglleft</key>
      <integer>-120</integer>
      <key>guilsinglright</key>
      <integer>-120</integer>
      <key>less</key>
      <integer>-80</integer>
      <key>minus</key>
      <integer>-40</integer>
      <key>nine</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>paragraph</key>
      <integer>-20</integer>
      <key>parenright</key>
      <integer>-20</integer>
      <key>periodcentered</key>
      <integer>-60</integer>
      <key>plus</key>
      <integer>-80</integer>
      <key>public.kern2.colon_left</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-40</integer>
      <key>public.kern2.period_left</key>
      <integer>-220</integer>
      <key>public.kern2.t_left</key>
      <integer>-30</integer>
      <key>question</key>
      <integer>-40</integer>
      <key>section</key>
      <integer>-60</integer>
      <key>six</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>-80</integer>
      <key>three</key>
      <integer>-50</integer>
      <key>two</key>
      <integer>-24</integer>
      <key>zero</key>
      <integer>-30</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>degree</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-20</integer>
      <key>fraction</key>
      <integer>220</integer>
      <key>one</key>
      <integer>-60</integer>
      <key>ordfeminine</key>
      <integer>-60</integer>
      <key>ordmasculine</key>
      <integer>-40</integer>
      <key>paragraph</key>
      <integer>-20</integer>
      <key>percent</key>
      <integer>-60</integer>
      <key>public.kern2.t_left</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>-60</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>four</key>
      <integer>-100</integer>
      <key>public.kern2.a_left</key>
      <integer>-60</integer>
      <key>public.kern2.n_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <integer>-40</integer>
      <key>public.kern2.s_left</key>
      <integer>-40</integer>
      <key>public.kern2.t_left</key>
      <integer>-20</integer>
      <key>public.kern2.y_left</key>
      <integer>-30</integer>
      <key>public.kern2.z_left</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>sterling</key>
    <dict>
      <key>eight</key>
      <integer>-60</integer>
      <key>five</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-80</integer>
      <key>nine</key>
      <integer>-60</integer>
      <key>one</key>
      <integer>-70</integer>
      <key>seven</key>
      <integer>-40</integer>
      <key>three</key>
      <integer>-40</integer>
      <key>two</key>
      <integer>-20</integer>
      <key>zero</key>
      <integer>-40</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>fraction</key>
      <integer>240</integer>
      <key>percent</key>
      <integer>-20</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-40</integer>
      <key>fraction</key>
      <integer>300</integer>
      <key>less</key>
      <integer>-20</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>public.kern2.t_left</key>
      <integer>-30</integer>
      <key>six</key>
      <integer>-5</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>public.kern2.a_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <real>-20.016666666666666</real>
      <key>public.kern2.t_left</key>
      <real>9.966666666666667</real>
      <key>public.kern2.w_left</key>
      <real>14.950000000000001</real>
      <key>public.kern2.y_left</key>
      <real>8.97</real>
      <key>v</key>
      <real>14.950000000000001</real>
      <key>x</key>
      <real>14.950000000000001</real>
    </dict>
    <key>x</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
      <key>periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen_left</key>
      <integer>-20</integer>
      <key>public.kern2.o_left</key>
      <real>-28.983333333333334</real>
      <key>public.kern2.t_left</key>
      <real>9.966666666666667</real>
      <key>public.kern2.w_left</key>
      <real>19.933333333333334</real>
      <key>public.kern2.y_left</key>
      <real>9.966666666666667</real>
      <key>question</key>
      <integer>-20</integer>
      <key>v</key>
      <real>19.933333333333334</real>
      <key>x</key>
      <real>24.916666666666668</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>fraction</key>
      <integer>160</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>ordfeminine</key>
      <integer>-20</integer>
      <key>public.kern2.t_left</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
