<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H-bar</key>
    <string>H_-bar.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>flig1</key>
    <string>flig1.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
  </dict>
</plist>
