<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
  </dict>
</plist>
