<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
  </dict>
</plist>
