<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Engeng</key>
    <string>E_ngeng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>Oslash.rvrn</key>
    <string>O_slash.rvrn.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.rvrn</key>
    <string>Q_.rvrn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
    <key>question-bottom</key>
    <string>question-bottom.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
  </dict>
</plist>
