<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1492</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>copyright</key>
    <string>Copyright 2015 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-360</integer>
    <key>familyName</key>
    <string>Google Sans Flex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>WePH2kbeP1</string>
        <key>name</key>
        <string>baseline</string>
        <key>x</key>
        <integer>489</integer>
        <key>y</key>
        <integer>501</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>YTSnL8GYo9</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>353</integer>
        <key>y</key>
        <integer>492</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>0vqg5ELzF6</string>
        <key>name</key>
        <string>overshoot top</string>
        <key>x</key>
        <integer>668</integer>
        <key>y</key>
        <integer>1451</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>JOPyDqrwrO</string>
        <key>name</key>
        <string>overshoot denominator</string>
        <key>x</key>
        <integer>525</integer>
        <key>y</key>
        <integer>-10</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>c2UGBHI5Mu</string>
        <key>x</key>
        <integer>1016</integer>
        <key>y</key>
        <integer>1184</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DR4erfipNu</string>
        <key>x</key>
        <integer>57</integer>
        <key>y</key>
        <integer>1308</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>9TxOAwzA4d</string>
        <key>name</key>
        <string>top</string>
        <key>x</key>
        <integer>103</integer>
        <key>y</key>
        <integer>1573</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/07/06 09:41:44</string>
    <key>openTypeHheaAscender</key>
    <integer>1932</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-572</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Google Sans Authors</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://design.google</string>
    <key>openTypeNameLicense</key>
    <string>Google offers many fonts on open source terms. Google Sans Flex is not one of them. Please see google.com/fonts for alternatives.</string>
    <key>openTypeNameManufacturer</key>
    <string>Google LLC</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://design.google</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>612</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>168</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1300</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>150</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1200</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1300</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1200</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1932</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-572</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>1</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2214</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>999</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>510</integer>
      <integer>526</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-320</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>168</integer>
    <key>postscriptWeightName</key>
    <string>Thin</string>
    <key>styleName</key>
    <string>opsz6-wdth25-wght400-ROND0</string>
    <key>trademark</key>
    <string>Google Sans is a trademark of Google.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>1086</integer>
  </dict>
</plist>
