<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>t</key>
    <string>t.glif</string>
  </dict>
</plist>
