<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
  </dict>
</plist>
