<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1432.0</real>
    <key>capHeight</key>
    <real>1432.0</real>
    <key>copyright</key>
    <string>Copyright 2015 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <real>-432.0</real>
    <key>familyName</key>
    <string>Google Sans Flex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.99183,0,0.86166,1</string>
        <key>identifier</key>
        <string>7eY5O0zdwh</string>
        <key>name</key>
        <string>diacritics-t</string>
        <key>x</key>
        <integer>83</integer>
        <key>y</key>
        <integer>1432</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.99183,0,0.86166,1</string>
        <key>identifier</key>
        <string>1J7afeoK8b</string>
        <key>name</key>
        <string>diacritics-b</string>
        <key>x</key>
        <integer>101</integer>
        <key>y</key>
        <integer>1169</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.25208,0.92329,1,1</string>
        <key>identifier</key>
        <string>b0dnCNjBzs</string>
        <key>name</key>
        <string>numerators-base</string>
        <key>x</key>
        <integer>338</integer>
        <key>y</key>
        <integer>685</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.25208,0.92329,1,1</string>
        <key>identifier</key>
        <string>4ngGTFkMKj</string>
        <key>name</key>
        <string>numerator-osb</string>
        <key>x</key>
        <integer>566</integer>
        <key>y</key>
        <integer>670</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.25208,0.92329,1,1</string>
        <key>identifier</key>
        <string>WB4Pk0otXq</string>
        <key>name</key>
        <string>numerator-ost</string>
        <key>x</key>
        <integer>564</integer>
        <key>y</key>
        <integer>1446</integer>
      </dict>
    </array>
    <key>note</key>
    <string># Adjustment notes

- All legacy marks have been made out of components to reduce the repetition in hinting
- All accent marks have been slightly modified in height and position to align better. This is true in ALL optical sizes

- Numbers (0123456789) (+tf variants) jump at optical size 14 to avoid a form morphing in interim steps (Angled to straight forms), which can look strange.


– symbols – fixed minor spacing errors (tabular forms in the period.tf comma.tf colon.tf)

– tcommaaccent.alt had an incorrect form 
– tcedilla.alt was missing. Added in!
– jdotless.alt jcircumflex.alt added
– t_f t_f.alt – changed the f terminal to be inline with all of the other f components

</string>
    <key>openTypeHeadCreated</key>
    <string>2017/07/06 05:41:44</string>
    <key>openTypeHheaAscender</key>
    <integer>1932</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-572</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Google Sans Authors</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://design.google</string>
    <key>openTypeNameLicense</key>
    <string>Google offers many fonts on open source terms. Google Sans Flex is not one of them. Please see google.com/fonts for alternatives.</string>
    <key>openTypeNameManufacturer</key>
    <string>Google LLC</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://design.google</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>612</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>168</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1300</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>150</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1200</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1300</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1200</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1932</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-572</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>11</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2214</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>999</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>510</integer>
      <integer>526</integer>
      <integer>580</integer>
      <integer>596</integer>
      <integer>716</integer>
      <integer>732</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-232</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-320</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>168</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>opsz144-wdth100-wght1-ROND0</string>
    <key>trademark</key>
    <string>Google Sans is a trademark of Google.</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>1020</integer>
  </dict>
</plist>
