<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G</key>
    <string>G_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>Oslash.rvrn</key>
    <string>O_slash.rvrn.glif</string>
    <key>Q.rvrn</key>
    <string>Q_.rvrn.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
  </dict>
</plist>
