<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Oslash.rvrn</key>
    <string>O_slash.rvrn.glif</string>
    <key>Q.rvrn</key>
    <string>Q_.rvrn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>ae.alt</key>
    <string>ae.alt.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>oslash.rvrn</key>
    <string>oslash.rvrn.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
  </dict>
</plist>
