<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight.numerator</key>
    <string>eight.numerator.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam-top</key>
    <string>exclam-top.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>four.numerator</key>
    <string>four.numerator.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.numerator</key>
    <string>one.numerator.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>percentbar</key>
    <string>percentbar.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>zero.numerator</key>
    <string>zero.numerator.glif</string>
  </dict>
</plist>
