<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
  </dict>
</plist>
