<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
