<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A_right</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Aogonek</string>
    </array>
    <key>public.kern1.C_right</key>
    <array>
      <string>Cacute</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>C</string>
      <string>Ccaron</string>
    </array>
    <key>public.kern1.E_right</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>OE</string>
    </array>
    <key>public.kern1.G_right</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.H_right</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>J</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Hbar</string>
      <string>Icircumflex</string>
      <string>Ncaron</string>
    </array>
    <key>public.kern1.K_right</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L_right</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O_right</key>
    <array>
      <string>D</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Omacron</string>
      <string>Dcaron</string>
      <string>Ocircumflex</string>
      <string>Oslash</string>
    </array>
    <key>public.kern1.R_right</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcommaaccent</string>
      <string>Rcaron</string>
    </array>
    <key>public.kern1.S_right</key>
    <array>
      <string>Sacute</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern1.T_right</key>
    <array>
      <string>T</string>
      <string>Tcommaaccent</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
    </array>
    <key>public.kern1.U_right</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
    </array>
    <key>public.kern1.W_right</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Wcircumflex</string>
    </array>
    <key>public.kern1.Y_right</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ycircumflex</string>
    </array>
    <key>public.kern1.Z_right</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.a_right</key>
    <array>
      <string>aacute</string>
      <string>abreve</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a</string>
      <string>acaron</string>
      <string>acircumflex</string>
    </array>
    <key>public.kern1.c_right</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
    </array>
    <key>public.kern1.colon_right</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.d_right</key>
    <array>
      <string>d</string>
      <string>dcroat</string>
      <string>dcaron</string>
    </array>
    <key>public.kern1.e_right</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>oe</string>
      <string>ae.alt</string>
      <string>ae</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>eogonek</string>
    </array>
    <key>public.kern1.f_right</key>
    <array>
      <string>f</string>
      <string>t_f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.g_right</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>q</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.guillemetleft_right</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemetright_right</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen_right</key>
    <array>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.k_right</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>f_f_k</string>
      <string>f_k</string>
    </array>
    <key>public.kern1.n_right</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>hbar</string>
      <string>f_f_h</string>
      <string>f_h</string>
      <string>ncaron</string>
    </array>
    <key>public.kern1.o_right</key>
    <array>
      <string>b</string>
      <string>eth</string>
      <string>o</string>
      <string>oacute</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>omacron</string>
      <string>f_b</string>
      <string>f_f_b</string>
      <string>ocircumflex</string>
      <string>oslash</string>
    </array>
    <key>public.kern1.period_right</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>horizontalelipsis</string>
    </array>
    <key>public.kern1.quotes_base_right</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.quotes_left</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quotes_right</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotes_straight_right</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r_right</key>
    <array>
      <string>racute</string>
      <string>rcommaaccent</string>
      <string>r</string>
      <string>rcaron</string>
    </array>
    <key>public.kern1.s_right</key>
    <array>
      <string>sacute</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern1.t_right</key>
    <array>
      <string>t</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>f_t</string>
      <string>t_t</string>
      <string>f_f_t</string>
      <string>tcaron</string>
    </array>
    <key>public.kern1.u_right</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>a.alt</string>
      <string>ubreve</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>acaron.alt</string>
      <string>acircumflex.alt</string>
      <string>adieresis.alt</string>
      <string>agrave.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>atilde.alt</string>
      <string>ucircumflex</string>
      <string>uhungarumlaut</string>
    </array>
    <key>public.kern1.w_right</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
    </array>
    <key>public.kern1.y_right</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
    </array>
    <key>public.kern1.z_right</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
    </array>
    <key>public.kern2.A_left</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Aogonek</string>
    </array>
    <key>public.kern2.H_left</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Eth</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>R</string>
      <string>Racute</string>
      <string>Thorn</string>
      <string>Edotaccent</string>
      <string>Rcommaaccent</string>
      <string>Hbar</string>
      <string>Dcaron</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Germandbls</string>
      <string>Icircumflex</string>
      <string>Ncaron</string>
      <string>Rcaron</string>
    </array>
    <key>public.kern2.O_left</key>
    <array>
      <string>Cacute</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Cdotaccent</string>
      <string>Omacron</string>
      <string>Gdotaccent</string>
      <string>C</string>
      <string>Ccaron</string>
      <string>OE</string>
      <string>Ocircumflex</string>
      <string>Oslash</string>
    </array>
    <key>public.kern2.S_left</key>
    <array>
      <string>Sacute</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2.T_left</key>
    <array>
      <string>T</string>
      <string>Tcommaaccent</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
    </array>
    <key>public.kern2.U_left</key>
    <array>
      <string>Uacute</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Ubreve</string>
      <string>U</string>
      <string>Ucircumflex</string>
    </array>
    <key>public.kern2.W_left</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>Wcircumflex</string>
    </array>
    <key>public.kern2.Y_left</key>
    <array>
      <string>Y</string>
      <string>Ydieresis</string>
      <string>Yacute</string>
      <string>Ygrave</string>
      <string>Ycircumflex</string>
    </array>
    <key>public.kern2.Z_left</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.a_left</key>
    <array>
      <string>aacute</string>
      <string>abreve</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>ae</string>
    </array>
    <key>public.kern2.colon_left</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.f_left</key>
    <array>
      <string>f</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_f_t</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f_t</string>
    </array>
    <key>public.kern2.guillemetleft_left</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.h_left</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>thorn</string>
      <string>hbar</string>
      <string>kcommaaccent</string>
      <string>germandbls</string>
      <string>lcaron</string>
      <string>lslash</string>
    </array>
    <key>public.kern2.hyphen_left</key>
    <array>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern2.i_left</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>idieresis</string>
      <string>idotless</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>icircumflex</string>
      <string>j</string>
      <string>jdotless</string>
    </array>
    <key>public.kern2.n_left</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>p</string>
      <string>racute</string>
      <string>rcommaaccent</string>
      <string>ncaron</string>
      <string>r</string>
      <string>rcaron</string>
    </array>
    <key>public.kern2.o_left</key>
    <array>
      <string>a.alt</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eth</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>odieresis</string>
      <string>oe</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>otilde</string>
      <string>q</string>
      <string>aacute.alt</string>
      <string>abreve.alt</string>
      <string>acaron.alt</string>
      <string>acircumflex.alt</string>
      <string>adieresis.alt</string>
      <string>ae.alt</string>
      <string>agrave.alt</string>
      <string>amacron.alt</string>
      <string>aogonek.alt</string>
      <string>aring.alt</string>
      <string>atilde.alt</string>
      <string>omacron</string>
      <string>gdotaccent</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
      <string>dcaron</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>eogonek</string>
      <string>ocircumflex</string>
      <string>oslash</string>
    </array>
    <key>public.kern2.period_left</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>horizontalelipsis</string>
    </array>
    <key>public.kern2.quotes_base_left</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quotes_left</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quotes_right</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotes_straight_left</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s_left</key>
    <array>
      <string>sacute</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.t_left</key>
    <array>
      <string>t</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_f</string>
      <string>t_t</string>
      <string>tcaron</string>
    </array>
    <key>public.kern2.u_left</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>uhungarumlaut</string>
    </array>
    <key>public.kern2.w_left</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
    </array>
    <key>public.kern2.y_left</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
    </array>
    <key>public.kern2.z_left</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
    </array>
  </dict>
</plist>
