<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1432</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-432</integer>
    <key>familyName</key>
    <string>GoogleSansFlexItalic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.25208,0.92329,1,1</string>
        <key>identifier</key>
        <string>Z5EZXSf3PJ</string>
        <key>name</key>
        <string>numerators_base</string>
        <key>x</key>
        <integer>368</integer>
        <key>y</key>
        <integer>572</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.25208,0.92329,1,1</string>
        <key>identifier</key>
        <string>XVDZIZw3KY</string>
        <key>name</key>
        <string>numeratos_ostop</string>
        <key>x</key>
        <integer>69</integer>
        <key>y</key>
        <integer>1451</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.25208,0.92329,1,1</string>
        <key>identifier</key>
        <string>UMh4V7GH55</string>
        <key>name</key>
        <string>numeratos_os-base</string>
        <key>x</key>
        <integer>194</integer>
        <key>y</key>
        <integer>566</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>AnW7QB4ehy</string>
        <key>x</key>
        <integer>493</integer>
        <key>y</key>
        <integer>1036</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>kMuHjFtKvv</string>
        <key>x</key>
        <integer>57</integer>
        <key>y</key>
        <integer>-15</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>opsz18-wdth25-wght1-RON0</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <integer>1020</integer>
  </dict>
</plist>
