<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1432</integer>
    <key>capHeight</key>
    <integer>1432</integer>
    <key>descender</key>
    <integer>-432</integer>
    <key>familyName</key>
    <string>GoogleSansFlex</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0,0.99513,0.99513,1</string>
        <key>identifier</key>
        <string>ML3Q78kaNU</string>
        <key>name</key>
        <string>numerator-b</string>
        <key>x</key>
        <integer>393</integer>
        <key>y</key>
        <integer>685</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0,1,0.89433,1</string>
        <key>identifier</key>
        <string>vPD9yvFXJX</string>
        <key>name</key>
        <string>overshoot-top</string>
        <key>x</key>
        <integer>250</integer>
        <key>y</key>
        <integer>1447</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0,1,0.86621,1</string>
        <key>identifier</key>
        <string>Aaz7ySTytE</string>
        <key>name</key>
        <string>overshoot-base</string>
        <key>x</key>
        <integer>583</integer>
        <key>y</key>
        <integer>670</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.61038,0.51396,1,1</string>
        <key>identifier</key>
        <string>aDEeqdnkpM</string>
        <key>name</key>
        <string>denominator-top</string>
        <key>x</key>
        <integer>326</integer>
        <key>y</key>
        <integer>747</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.67643,0.60744,1,1</string>
        <key>identifier</key>
        <string>AvGI3MURAn</string>
        <key>name</key>
        <string>overshoot-base</string>
        <key>x</key>
        <integer>706</integer>
        <key>y</key>
        <integer>-15</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.67643,0.60744,1,1</string>
        <key>identifier</key>
        <string>ws6F63d5z0</string>
        <key>name</key>
        <string>denomitator-overshoot</string>
        <key>x</key>
        <integer>355</integer>
        <key>y</key>
        <integer>762</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>color</key>
        <string>0.79727,1,0.98166,1</string>
        <key>identifier</key>
        <string>8OZlZx3ZDV</string>
        <key>name</key>
        <string>superiors</string>
        <key>x</key>
        <integer>291</integer>
        <key>y</key>
        <integer>835</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>8</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>294</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>84</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-412</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>84</integer>
    <key>postscriptWeightName</key>
    <string>Normal</string>
    <key>styleName</key>
    <string>opsz144-wdth100-wght400-ROND0</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <integer>1020</integer>
  </dict>
</plist>
