<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Engeng</key>
    <string>E_ngeng.glif</string>
    <key>Eth-bar</key>
    <string>E_th-bar.glif</string>
    <key>H-bar</key>
    <string>H_-bar.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>diagonalbarl-lc</key>
    <string>diagonalbarl-lc.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>flig1</key>
    <string>flig1.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greaterequal-stroke</key>
    <string>greaterequal-stroke.glif</string>
    <key>horizontalbarlc</key>
    <string>horizontalbarlc.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>notequal-slash</key>
    <string>notequal-slash.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>percentbar.tf</key>
    <string>percentbar.tf.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
  </dict>
</plist>
