<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
  </dict>
</plist>
