{
displayStrings = (
"HAHĄHÆHBHCHDHEHĘHFHGHHHIHĮHJHKHLHMHNHOHŒHPHÞHQHRHSHẞHTHUHŲHVHWHXHYHZH/G.super H
oaoąoæobocodoðoeoęofogohoioıoįojoȷonlklnolomonoooœopoþoqorosonlßlnotouoųovowoxoyozo/a.alt o/aogonek.alt o/ae.alt o/g.alt oaªºoμo",
01020H030405060708090,
".,:;·•*#///backslash/colon.time -–—_(){}[]‘’‹›\"'
n.n,n:n;n·n•n*n#n//n/backslash n/colon.time n-n–n—n_n(H){H}[H]H‘H’H‹H›H\"H'H",
"O@&o¶§©®™°|¦€¢¤$£¥+−×÷=><±~¬^◌",
"̈ ̇ ̀ ́ ̋ ̂ ̌ ̆ ̊ ̃ ̄ ̒ ̦ ̧ ̨
̈ ÄËÏÖÜẄŸaäëïöüẅÿ/adieresis.alt ¨ 
̇ĊĖĠİŻ̇ċėijġż/gdotaccent.alt ˙ 
̀ÀÈÌÒÙẀỲàèìòùẁỳ/agrave.alt ` 
́ÁĆÉÍĹŃÓŔŚÚẂÝŹ ́ ́áćéíĺńóŕśúẃýź/aacute.alt ´ 
̋ ̋ŐŰőű˝ 
Ľďľť 
̂ÂÊÎÔÛŴŶâêîôûŵŷ/acircumflex.alt/gcircumflex.alt ˆ 
̌ǍČĎĚŇŘŠŤŽǎčěňřšž/acaron.alt ˇ 
̆ ĂĞŬăğŭ/abreve.alt/gbreve.alt ˘ 
̊ÅŮaåů/aring.alt ˚ 
̃ÃÑÕãñõ/atilde.alt ˜ 
̄ĀĒĪŌŪāēīōū/amacron.alt ¯ 
̒ģ/gcommaaccent.alt  
̦ĢĶĻŅŖȘȚķļņŗșț 
̧CÇSŞŢcçsştţ¸ 
o ̨˛ ",
"nbodbgbhmnp
þqu/a.alt 358@  ",
"æ",
"̨˛",
"/zero.denominator",
"/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/nine.denominator 
/zero.numerator/one.numerator/two.numerator/three.numerator/four.numerator/five.numerator/six.numerator/seven.numerator/eight.numerator/nine.numerator 
/zero.numerator/zero.sinf/one.sinf/two.sinf/three.sinf/four.sinf/five.sinf/six.sinf/seven.sinf/eight.sinf/nine.sinf 
₀₁₂₃₄₅₆₇₈₉
⁰¹²³⁴⁵⁶⁷⁸⁹
½¼¾",
"̸ø",
"/slashlongcomb.case Ø",
"/slashshortcomb.case LŁ
/strokelongcomb.case HĦ??¿
!¡
̷ł /_tail.Q Q",
"ÐĐØøL/slashshortcomb.case Ł̷łlĦ≠?¿!¡%/percent.tf Q
        ̇i  nȷjnȷjojo
̇ĊĖĠİŻċöėiġjż/gdotaccent.alt ˙",
"˙",
"₀",
"¿",
"¿?!¡",
q
);
}
