{
displayStrings = (
"HAHĄHÆHBHCHDHEHĘHFHGHHHIHĮHJHKHLHMHNHOHŒHPHÞHQHRHSHẞHTHUHŲHVHWHXHYHZH/G.super H
oaoąoæobocodoðoeoęofogohoioıoįojoȷonlklnolomonoooœopoþoqorosonlßlnotouoųovowoxoyozo/a.alt o/aogonek.alt o/ae.alt o/g.alt oaªºoμo",
01020H030405060708090,
"s.,:z;    ·•*#///backslash/colon.time -–—_(H){H}[Hq]‘’‹›\"'
n.n,n:n;n·n•n*n#n//n/backslash n/colon.time n-n–n—n_n(H){H}[H]H‘H’H‹H›H\"H'H",
"O@&o¶§©®™°|¦€¢¤$£¥+−×÷=><±~¬^◌",
"̈ ̇ ̀ ́ ̋ ̂ ̌ ̆ ̊ ̃ ̄ ̒ ̦ ̧ ̨
̈ ÄËÏÖÜẄŸaäëïöüẅÿ/adieresis.alt ¨ 
̇ĊĖĠİŻ̇ċėijġż/gdotaccent.alt ˙ 
̀ÀÈÌÒÙẀỲàèìòùẁỳ/agrave.alt ` 
́ÁĆÉÍĹŃÓŔŚÚẂÝŹ ́ ́áćéíĺńóŕśúẃýź/aacute.alt ´ 
̋ ̋ŐŰőű˝ 
Ľďľť 
̂ÂÊÎÔÛŴŶâêîôûŵŷ/acircumflex.alt/gcircumflex.alt ˆ 
̌ǍČĎĚŇŘŠŤŽǎčěňřšž/acaron.alt ˇ 
̆ ĂĞŬăğŭ/abreve.alt/gbreve.alt ˘ 
̊ÅŮaåů/aring.alt ˚ 
̃ÃÑÕãñõ/atilde.alt ˜ 
̄ĀĒĪŌŪāēīōū/amacron.alt ¯ 
̒ģ/gcommaaccent.alt  
̦ĢĶĻŅŖȘȚķļņŗșț 
̧CÇSŞŢcçsştţ¸ 
o ̨˛ ",
"HAMBURGEFONTSIVCLD
HAMBURGEFONTSIVCLD 
hamburgefontsivcld
hamburgefontsivcld",
"/slashlongcomb.case Ø",
"//",
"̷",
A,
"HĮKTąæįkœ/ae.alt 9/eight.denominator/nine.denominator )›&§¤$£×~^̸̃/slashshortcomb.case/slashlongcomb.case/_tail.Q"
);
}
