{
displayStrings = (
"HAHĄHÆHBHCHDHEHĘHFHGHHHIHĮHJHKHLHMHNHOHŒHPHÞHQHRHSHẞHTHUHŲHVHWHXHYHZH/G.super H
oaoąoæobocodoðoeoęofogohoioıoįojoȷokolomonoooœopoþoqorosoßotouoųovowoxoyozo/a.alt o/aogonek.alt o/ae.alt o/g.alt oªoºoμo",
ABCDnEFGHnIJKLMNHOPQRSTUVWXYZ,
012H3456789,
"/zero.numerator/one.numerator/zero.numerator/two.numerator/zero.numerator/three.numerator/zero.numerator/four.numerator/zero.numerator/five.numerator/zero.numerator/six.numerator/zero.numerator/seven.numerator/zero.numerator/eight.numerator/zero.numerator/nine.numerator/zero.numerator",
"/one.tf/two.tf/three.tf/four.tf/five.tf/seven.tf",
"ŒÞẞŲ",
"aeæœ",
"ąęßų/a.alt/ae.alt",
"/g.alt",
"CDGJKOPQRSUXŲŒ//Thornẞ
abcdefghȷjmnopqrsuxæœ/a.alt/aogonek.alt/ae.alt/g.alt 
ªº

0235689
/two.tf/three.tf/five.tf 

/zero.numerator/two.numerator/three.numerator/five.numerator/six.numerator/eight.numerator/nine.numerator",
"ȷ",
"ðþop",
".,:;·•*#///backslash/colon.time -–—_(){}[]‘’‹›\"'",
"O@&o¶§©®™°|¦€¢¤$£¥+−×÷=><±~¬^◌",
"̈ ̇ ̀ ́ ̋ /caroncomb.alt  ̂ ̌ ̆ ̊ ̃ ̄ ̒ ̦ ̧ ̨
̈ ÄËÏÖÜẄŸaäëïöüẅÿ/adieresis.alt ¨ 
̇ĊĖĠİŻċėġż/gdotaccent.alt ˙ 
̀ÀÈÌÒÙẀỲàèìòùẁỳ/agrave.alt ` 
́ÁĆÉÍĹŃÓŔŚÚẂÝŹáćéíĺńóŕśúẃýź/aacute.alt ´ 
̋ŐŰőű˝ 
Ľďľť 
̂ÂÊÎÔÛŴŶâêîôûŵŷ/acircumflex.alt/gcircumflex.alt ˆ 
̌ǍČĎĚŇŘŠŤŽǎčěňřšž/acaron.alt ˇ 
̆ ĂĞŬăğŭ/abreve.alt/gbreve.alt ˘ 
̊ÅŮåů/aring.alt ˚ 
̃ÃÑÕãñõ/atilde.alt ˜ 
̄ĀĒĪŌŪāēīōū/amacron.alt ¯ 
̒ģ/gcommaaccent.alt  
̦ĢĶĻŅŖȘȚķļņŗșț 
̧ÇŞŢçşţ¸ 
o ̨˛ ",
" ̈ ̇ ̀ ́ ̋ /caroncomb.alt  ̂ ̌ ̆ ̊ ̃ ̄ ̒ ̦ ̧ ̨ ",
"HAHĄHÆHBHCHDHEHĘHFHGHHHIHĮHJHKHLHMHNHOHŒHPHÞHQHRHSHẞHTHUHŲHVHWHXHYHZH/G.super H
oaoąoæobocodoðoeoęofogohoioıoįojoȷokolomonoooœopoþoqorosoßotouoųovowoxoyozo/a.alt o/aogonek.alt o/ae.alt o/g.alt oªoºoμo",
HINPBO,
"aąæbcdðeęfghiıįjȷklmnoœpþqrsßtuųvwxyz/a.alt/aogonek.alt/ae.alt/g.alt ªºμ"
);
}
