<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>flig2</key>
    <string>flig2.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
