<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>{18, 25, 699, 100, 0, 0}</string>
      <string>glyphs.{18, 25, 699, 100, 0, 0}</string>
    </array>
    <array>
      <string>{18, 25, 700, 100, 0, 0}</string>
      <string>glyphs.{18, 25, 700, 100, 0, 0}</string>
    </array>
    <array>
      <string>{18, 25, 401, 100, 0, 0}</string>
      <string>glyphs.{18, 25, 401, 100, 0, 0}</string>
    </array>
    <array>
      <string>{18, 25, 519, 100, 0, 0}</string>
      <string>glyphs.{18, 25, 519, 100, 0, 0}</string>
    </array>
    <array>
      <string>{18, 25, 520, 100, 0, 0}</string>
      <string>glyphs.{18, 25, 520, 100, 0, 0}</string>
    </array>
  </array>
</plist>
