<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>O</key>
      <integer>0</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>0</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>0</integer>
      <key>question</key>
      <integer>0</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.hyphen_left</key>
      <integer>0</integer>
      <key>public.kern2.period_left</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Y_right</key>
    <dict>
      <key>germandbls</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.n_right</key>
    <dict>
      <key>quotedbl</key>
      <integer>0</integer>
      <key>quotesingle</key>
      <integer>0</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>Y</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
