<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>H-bar</key>
    <string>H_-bar.glif</string>
    <key>Oslash-bar</key>
    <string>O_slash-bar.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>oslash-bar</key>
    <string>oslash-bar.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>tlig</key>
    <string>tlig.glif</string>
  </dict>
</plist>
