{
displayStrings = (
"hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
adhesion
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld",
"hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld
hamburgefontsivcld",
lfO,
"/Oslash-bar Ø"
);
}
