{
displayStrings = (
"a ov dbhoovonpqn b hnovcesion 
viíjdcoue  ospang n
HVADANEDOFGCOM   ",
"naohn dpqba",
01234HO56789,
ABCaDEFGHIJKLMNOPQRSTUVWXYZ,
"abcdefghı̇ıiȷ̇jklmnopqrstuvwxyz",
"abcdehnobpqs u",
BCGJOS,
"àáâãäåçąăā",
"aàá̂âãäåçűąăāģ̌ě",
"/dot-composite/dot-composite/exclam-top !",
"/question-top/dot-composite ?¿",
"S$€HOS&@¢£§",
"c¢",
"HOHCHHGHMSV
novaodpantveaoahn",
"æa",
"abcdehȷjnopqsu",
abcdehjnopqsu,
"$&238@CGMOSVabcd      ehjnopqsu¢£§"
);
}
