{
displayStrings = (
"nn/eight.denominator nno
no/zero.denominator/one.denominator/eight.denominator/zero.denominator 
n/zero.denominator/two.denominator 
/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/six.denominator/nine.denominator",
"S$¢c"
);
}
