{
displayStrings = (
abdhnpqn,
"hamburgefontnsivcld 
hamburgefontnsivcld 
hambunrngnenfontnsivcld 

HAMBURGEFONTSIVCDL
HHOHHOHOH
HHBHH
HHCHH
HHSHH
HAMBURGEFONTSIVCDL
HHAHHOHH
HHSHH E
HAMBURGEFONTSIVCDL
Hamburgefonstiv 
HOBOH
HHBHH

",
" ",
"⁄",
"/zero.numr.percent %",
"àáâ̊åčůűăģļ",
"àáâãä̊åűă̄ā",
hamburgefontsivcld,
ij,
"/_tail.Q OQ",
tH
);
}
