<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
  </dict>
</plist>
