<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>c</key>
    <string>c.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
  </dict>
</plist>
