{
.appVersion = "3217";
.formatVersion = 3;
axes = (
{
name = "Optical size";
tag = opsz;
},
{
name = Width;
tag = wdth;
},
{
name = Weight;
tag = wght;
},
{
name = Italic;
tag = ital;
},
{
name = Round;
tag = ROND;
},
{
name = Grade;
tag = GRAD;
}
);
customParameters = (
{
disabled = 1;
name = glyphOrder;
value = (
.notdef,
uni000D,
space,
exclam,
quotedbl,
numbersign,
dollar,
cent,
currency,
dollar,
Euro,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
nbspace,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemetleft,
logicalnot,
softhyphen,
registered,
macron,
degree,
plusminus,
twosuperior,
threesuperior,
acute,
micro,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemetright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
idotless,
circumflex,
caron,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
ringcomb,
hungarumlautcomb,
caroncomb,
cedillacomb,
ogonekcomb,
mu,
guilsinglleft,
guilsinglright,
fraction,
foursuperior,
f_i,
f_l,
Germandbls,
OE,
oe,
commaaccentcomb,
commaturnedabovecomb,
Ccaron,
ccaron,
Dcaron,
dcaron,
Ecaron,
ecaron,
Ncaron,
ncaron,
Rcaron,
rcaron,
Scaron,
scaron,
Tcaron,
tcaron,
Uring,
uring,
Zcaron,
zcaron,
IJ,
ij,
jdotless,
Ydieresis,
Ohungarumlaut,
ohungarumlaut,
Uhungarumlaut,
uhungarumlaut,
Edotaccent,
edotaccent,
Iogonek,
iogonek,
Umacron,
umacron,
Uogonek,
uogonek,
Aogonek,
aogonek,
Cacute,
cacute,
Eogonek,
eogonek,
Ldot,
ldot,
Lslash,
lslash,
Nacute,
nacute,
Sacute,
sacute,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Abreve,
abreve,
Scommaaccent,
scommaaccent,
Tcommaaccent,
tcommaaccent,
Tcedilla,
tcedilla,
Scedilla,
scedilla,
Lacute,
lacute,
Lcaron,
lcaron,
Racute,
racute,
Amacron,
amacron,
Emacron,
emacron,
Gcommaaccent,
gcommaaccent,
Imacron,
imacron,
Kcommaaccent,
kcommaaccent,
Lcommaaccent,
lcommaaccent,
Ncommaaccent,
ncommaaccent,
Wcircumflex,
wcircumflex,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Ycircumflex,
ycircumflex,
Gbreve,
gbreve,
Idotaccent,
Dcroat,
dcroat,
greaterequal,
lessequal,
approxequal,
notequal,
G.logo,
e.logo,
g.logo,
l.logo,
o.logo,
Google.logo,
G.super,
Gsuper,
f_b,
f_f,
f_f_b,
f_f_h,
f_f_i,
f_f_j,
f_f_k,
f_f_l,
f_f_t,
f_h,
f_i,
f_j,
f_k,
f_l,
f_t,
t_f,
t_t,
zero.denominator,
one.denominator,
two.denominator,
three.denominator,
four.denominator,
five.denominator,
six.denominator,
seven.denominator,
eight.denominator,
nine.denominator,
zero.numerator,
one.numerator,
two.numerator,
three.numerator,
four.numerator,
five.numerator,
six.numerator,
seven.numerator,
eight.numerator,
nine.numerator,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
period.tf,
comma.tf,
colon.tf,
semicolon.tf,
numbersign.tf,
colon.time,
space.tf,
cent.tf,
currency.tf,
dollar.tf,
Euro.tf,
sterling.tf,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
logicalnot.tf,
percent.tf,
section.tf,
a.alt,
aacute.alt,
abreve.alt,
acaron.alt,
acircumflex.alt,
adieresis.alt,
agrave.alt,
amacron.alt,
aogonek.alt,
aring.alt,
atilde.alt,
ae.alt,
g.alt,
gbreve.alt,
gcommaaccent.alt,
gdotaccent.alt,
caroncomb.alt,
zero.slash,
zeroslash,
zeroslash.tf,
wiggle.medium,
quoteright,
quoteleft,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
bullet,
endash,
emdash,
minus,
horizontalelipsis,
trademark,
emspace,
enspace,
thinspace,
hairspace,
figurespace,
fourperemspace,
sixperemspace,
threeperemspace,
zerowidthspace,
acaron,
Acaron,
cdotaccent,
Cdotaccent,
gdotaccent,
Gdotaccent,
hbar,
Hbar,
omacron,
Omacron,
rcommaaccent,
Rcommaaccent,
ubreve,
Ubreve,
ygrave,
Ygrave,
zero.sinf,
one.sinf,
two.sinf,
three.sinf,
four.sinf,
five.sinf,
six.sinf,
seven.sinf,
eight.sinf,
nine.sinf,
zerosuperscript,
onesuperscript,
twosuperscript,
threesuperscript,
foursuperscript,
fivesuperscript,
sixsuperscript,
sevensuperscript,
eightsuperscript,
ninesuperscript,
zerosubscript,
onesubscript,
twosubscript,
threesubscript,
foursubscript,
fivesubscript,
sixsubscript,
sevensubscript,
eightsubscript,
ninesubscript,
flig2,
flig1,
tlig,
gcircumflex.alt,
zeropercent,
percentbar,
"exclam-top",
"question-top",
"exclam-bottom",
"question-bottom",
"dot-composite",
"dot-composite-top",
"Eth-bar",
"Oslash-bar",
"oslash-bar",
diagonalbarl,
horizontalbarlc,
"H-bar",
Engeng,
"notequal-slash",
"greaterequal-stroke",
percentbar.tf,
diagonalbarllc,
"diagonalbarl-lc"
);
},
{
name = openTypeHheaCaretSlopeRise;
value = 1;
},
{
name = openTypeHheaCaretSlopeRun;
value = 0;
},
{
name = licenses;
value = "Google offers many fonts on open source terms. Google Sans Flex is not one of them. Please see google.com/fonts for alternatives.";
},
{
name = panose;
value = (
2,
11,
5,
3,
3,
5,
2,
4,
2,
4
);
},
{
name = openTypeOS2SubscriptXOffset;
value = 0;
},
{
name = openTypeOS2SubscriptXSize;
value = 1300;
},
{
name = openTypeOS2SubscriptYOffset;
value = 150;
},
{
name = openTypeOS2SubscriptYSize;
value = 1200;
},
{
name = openTypeOS2SuperscriptXOffset;
value = 0;
},
{
name = openTypeOS2SuperscriptXSize;
value = 1300;
},
{
name = openTypeOS2SuperscriptYOffset;
value = 700;
},
{
name = openTypeOS2SuperscriptYSize;
value = 1200;
},
{
name = fsType;
value = (
);
},
{
name = vendorID;
value = GOOG;
},
{
name = trademarks;
value = "Google Sans is a trademark of Google.";
}
);
date = "2017-07-06 09:41:44 +0000";
familyName = "Google Sans Flex";
featurePrefixes = (
{
code = "include(family.fea);";
disabled = 1;
name = Prefix;
}
);
fontMaster = (
{
axesValues = (
18,
25,
1,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
},
{
name = paramArea;
value = 295;
},
{
name = paramDepth;
value = 13;
},
{
name = paramOver;
value = 0;
}
);
guides = (
{
pos = (325,576);
},
{
pos = (308,566);
},
{
pos = (127,1448);
},
{
pos = (127,1432);
},
{
pos = (31,0);
},
{
pos = (-9,-10);
},
{
pos = (47,1036);
},
{
pos = (76,856);
},
{
pos = (76,866);
},
{
pos = (213,-417);
},
{
pos = (213,-407);
},
{
pos = (20,186);
showMeasurement = 1;
},
{
pos = (65,1876);
},
{
pos = (98,1226);
showMeasurement = 1;
},
{
pos = (15,1460);
},
{
pos = (-9,-16);
}
);
id = "6F2368DB-63B6-430D-B9CD-08A6184CB9E7";
metricValues = (
{
over = 16;
pos = 1432;
},
{
over = 16;
pos = 1432;
},
{
over = 16;
pos = 1020;
},
{
over = -16;
},
{
over = -16;
pos = -432;
},
{
over = -16.452;
},
{
over = 16;
pos = 510;
},
{
over = 16;
pos = 580;
},
{
over = 16;
pos = 716;
},
{
over = -16;
pos = -216;
}
);
name = "opsz18-wdth25-wght1-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
25,
400,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (561,1623);
},
{
name = undershoot;
pos = (450,573);
},
{
pos = (-106,1472);
},
{
pos = (409,560);
},
{
pos = (358,1432);
},
{
pos = (41,0);
},
{
pos = (41,-13);
},
{
pos = (266,859);
},
{
pos = (266,872);
},
{
pos = (-152,1228);
}
);
id = "F6F68A98-DCEF-4963-8274-BBC8AF17E072";
metricValues = (
{
over = 16;
pos = 1432;
},
{
over = 16;
pos = 1432;
},
{
over = 16;
pos = 1020;
},
{
over = -16;
},
{
over = -16;
pos = -432;
},
{
},
{
over = 16;
pos = 510;
},
{
over = 16;
pos = 580;
},
{
over = 16;
pos = 716;
},
{
over = -16;
pos = -216;
}
);
name = "opsz18-wdth25-wght400-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
25,
1000,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
},
{
name = paramArea;
value = "175";
},
{
name = paramDepth;
value = "12";
},
{
name = paramOver;
value = 0;
}
);
guides = (
{
pos = (286,1432);
},
{
pos = (489,562);
},
{
pos = (1007,461);
showMeasurement = 1;
},
{
pos = (286,1456);
},
{
pos = (286,1020);
},
{
pos = (286,1044);
},
{
pos = (286,1432);
},
{
pos = (286,1456);
}
);
id = "0B6E8B28-0A6B-4789-81CC-53B6E98EF6CB";
metricValues = (
{
over = 24;
pos = 1432;
},
{
over = 24;
pos = 1432;
},
{
over = 24;
pos = 1020;
},
{
over = -24;
},
{
over = -24;
pos = -432;
},
{
},
{
over = 24;
pos = 510;
},
{
over = 24;
pos = 580;
},
{
over = 24;
pos = 716;
},
{
over = -24;
pos = -216;
}
);
name = "opsz18-wdth25-wght1000-Ital0-Rond0-Grad0-DEF";
},
{
axesValues = (
18,
100,
1,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (226,771);
},
{
pos = (452,573);
},
{
pos = (517,566);
},
{
pos = (521,1465);
}
);
id = "2AD89F5A-D51E-448D-8643-C2A32E07200C";
metricValues = (
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1020;
},
{
over = -32;
},
{
over = -32;
pos = -432;
},
{
},
{
over = 32;
pos = 510;
},
{
over = 32;
pos = 580;
},
{
over = 32;
pos = 716;
},
{
over = -32;
pos = -216;
}
);
name = "opsz18-wdth100-wght1-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
100,
400,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (-40,1228);
},
{
pos = (-40,1472);
}
);
id = m001;
metricValues = (
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1020;
},
{
over = -32;
},
{
over = -32;
pos = -432;
},
{
},
{
over = 32;
pos = 510;
},
{
over = 32;
pos = 580;
},
{
over = 32;
pos = 716;
},
{
over = -32;
pos = -216;
}
);
name = "opsz18-wdth100-wght400-Ital0-Rond0-Grad0";
visible = 1;
},
{
axesValues = (
18,
100,
1000,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (557,565);
},
{
angle = 180;
pos = (147,1464);
},
{
pos = (253,956);
showMeasurement = 1;
},
{
pos = (557,565);
},
{
pos = (408,510);
showMeasurement = 1;
},
{
angle = 180;
pos = (147,1432);
},
{
angle = 180;
pos = (147,0);
},
{
angle = 180;
pos = (147,-32);
},
{
angle = 180;
pos = (147,1052);
},
{
angle = 180;
pos = (147,1020);
}
);
id = "3FE559C8-92B2-4945-98E1-957E28CC3242";
metricValues = (
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1020;
},
{
over = -32;
},
{
over = -32;
pos = -432;
},
{
},
{
over = 32;
pos = 510;
},
{
over = 32;
pos = 580;
},
{
over = 32;
pos = 716;
},
{
over = -32;
pos = -216;
}
);
name = "opsz18-wdth100-wght1000-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
151,
1,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
},
{
name = paramArea;
value = 530;
},
{
name = paramDepth;
value = 16;
},
{
name = paramOver;
value = 0;
}
);
guides = (
{
pos = (9,1057);
},
{
pos = (9,1020);
},
{
pos = (-7,-37);
},
{
pos = (72,859);
},
{
pos = (72,881);
},
{
pos = (-7,-22);
},
{
pos = (-74,1584);
},
{
pos = (-113,1226);
},
{
pos = (-74,1552);
},
{
pos = (-74,-216);
},
{
pos = (-74,-248);
}
);
id = "0021AA3E-33E2-4F1E-9FD6-8297B68C23E5";
metricValues = (
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1020;
},
{
over = -37;
},
{
over = -37;
pos = -432;
},
{
},
{
over = 37;
pos = 510;
},
{
over = 37;
pos = 580;
},
{
over = 37;
pos = 716;
},
{
over = -37;
pos = -216;
}
);
name = "opsz18-wdth151-wght1-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
151,
400,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (822,1469);
},
{
pos = (821,559);
},
{
pos = (729,573);
}
);
id = "1FEA22D7-2068-4056-88D4-2AD2F85FF1E6";
metricValues = (
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1020;
},
{
over = -37;
},
{
over = -37;
pos = -432;
},
{
},
{
over = 37;
pos = 510;
},
{
over = 37;
pos = 580;
},
{
over = 37;
pos = 716;
},
{
over = -37;
pos = -216;
}
);
name = "opsz18-wdth151-wght400-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
151,
1000,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
},
{
name = paramArea;
value = 390;
},
{
name = paramDepth;
value = 16;
},
{
name = paramOver;
value = 0;
}
);
guides = (
{
pos = (1092,1446);
},
{
pos = (618,540);
showMeasurement = 1;
},
{
pos = (766,573);
}
);
id = "82EDAE61-C337-4E57-86ED-8ABB62F5EE04";
metricValues = (
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1020;
},
{
over = -37;
},
{
over = -37;
pos = -432;
},
{
},
{
over = 37;
pos = 510;
},
{
over = 37;
pos = 580;
},
{
over = 37;
pos = 716;
},
{
over = -37;
pos = -216;
}
);
name = "opsz18-wdth151-wght1000-Ital0-Rond0-Grad0";
},
{
axesValues = (
0,
151,
400,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (822,1469);
},
{
pos = (821,559);
},
{
pos = (729,573);
}
);
id = "A54C7893-B668-445E-87CD-B719012B931B";
metricValues = (
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1020;
},
{
over = -37;
},
{
over = -37;
pos = -432;
},
{
},
{
over = 37;
pos = 510;
},
{
over = 37;
pos = 580;
},
{
over = 37;
pos = 716;
},
{
over = -37;
pos = -216;
}
);
name = "opsz18-151-400-ORIGINAL";
},
{
axesValues = (
0,
151,
399,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
},
{
name = paramArea;
value = 530;
},
{
name = paramDepth;
value = 16;
},
{
name = paramOver;
value = 0;
}
);
guides = (
{
pos = (9,1057);
},
{
pos = (9,1020);
},
{
pos = (-7,-37);
},
{
pos = (72,859);
},
{
pos = (72,881);
},
{
pos = (-7,-22);
},
{
pos = (-74,1584);
},
{
pos = (-113,1226);
},
{
pos = (-74,1552);
},
{
pos = (-74,-216);
},
{
pos = (-74,-248);
},
{
pos = (163,305);
showMeasurement = 1;
}
);
id = "59C106D9-34D8-4EDF-9467-5A22D3D96ECF";
metricValues = (
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1432;
},
{
over = 37;
pos = 1020;
},
{
over = -37;
},
{
over = -37;
pos = -432;
},
{
},
{
over = 37;
pos = 510;
},
{
over = 37;
pos = 580;
},
{
over = 37;
pos = 716;
},
{
over = -37;
pos = -216;
}
);
name = "opsz18-151-400-INTERPOLADA";
},
{
axesValues = (
0,
80,
1000,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
},
{
name = paramArea;
value = "175";
},
{
name = paramDepth;
value = "12";
},
{
name = paramOver;
value = 0;
}
);
guides = (
{
pos = (286,1432);
},
{
pos = (489,562);
},
{
pos = (1007,461);
showMeasurement = 1;
},
{
pos = (286,1456);
},
{
pos = (286,1020);
},
{
pos = (286,1044);
},
{
pos = (286,1432);
},
{
pos = (286,1456);
}
);
id = "06F43A2B-FC69-4951-8075-62840BDECA33";
metricValues = (
{
over = 30;
pos = 1432;
},
{
over = 30;
pos = 1432;
},
{
over = 30;
pos = 1020;
},
{
over = -30;
},
{
over = -30;
pos = -432;
},
{
},
{
over = 30;
pos = 510;
},
{
over = 30;
pos = 580;
},
{
over = 30;
pos = 716;
},
{
over = -30;
pos = -216;
}
);
name = "opsz18-100-1000-interpolada";
},
{
axesValues = (
0,
100,
1000,
0,
0,
0
);
customParameters = (
{
name = typoAscender;
value = 1932;
},
{
name = typoDescender;
value = -572;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1932;
},
{
name = hheaDescender;
value = -572;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2214;
},
{
name = winDescent;
value = 999;
},
{
name = strikeoutPosition;
value = 612;
},
{
name = strikeoutSize;
value = 168;
},
{
name = underlineThickness;
value = 168;
},
{
name = underlinePosition;
value = -320;
}
);
guides = (
{
pos = (557,565);
},
{
angle = 180;
pos = (147,1464);
},
{
pos = (516,573);
},
{
pos = (557,565);
},
{
pos = (773,1455);
},
{
pos = (516,573);
},
{
angle = 180;
pos = (147,1432);
},
{
angle = 180;
pos = (147,0);
},
{
angle = 180;
pos = (147,-32);
}
);
id = "F279BE48-A950-4D00-8AEF-D05103F867ED";
metricValues = (
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1432;
},
{
over = 32;
pos = 1020;
},
{
over = -32;
},
{
over = -32;
pos = -432;
},
{
},
{
over = 32;
pos = 510;
},
{
over = 32;
pos = 580;
},
{
over = 32;
pos = 716;
},
{
over = -32;
pos = -216;
}
);
name = "opsz18-100-1000-ORIGINAL";
}
);
instances = (
{
axesValues = (
18,
25,
1,
0,
0,
0
);
instanceInterpolations = {
"6F2368DB-63B6-430D-B9CD-08A6184CB9E7" = 1;
};
name = "opsz18-wdth25-wght1-Ital0-Rond0-Grad0";
visible = 0;
},
{
axesValues = (
18,
25,
400,
0,
0,
0
);
exports = 0;
instanceInterpolations = {
"F6F68A98-DCEF-4963-8274-BBC8AF17E072" = 1;
};
name = "opsz18-wdth25-wght400-Ital0-Rond0-Grad0";
visible = 0;
},
{
axesValues = (
18,
25,
1000,
0,
0,
0
);
instanceInterpolations = {
"0B6E8B28-0A6B-4789-81CC-53B6E98EF6CB" = 1;
};
name = "opsz18-wdth25-wght1000-Ital0-Rond0-Grad0-DEF";
},
{
axesValues = (
18,
100,
1,
0,
0,
0
);
exports = 0;
instanceInterpolations = {
"2AD89F5A-D51E-448D-8643-C2A32E07200C" = 1;
};
name = "opsz18-wdth100-wght1-Ital0-Rond0-Grad0";
visible = 0;
},
{
axesValues = (
18,
100,
400,
0,
0,
0
);
exports = 0;
instanceInterpolations = {
m001 = 1;
};
name = "opsz18-wdth100-wght400-Ital0-Rond0-Grad0";
visible = 0;
},
{
axesValues = (
18,
100,
1000,
0,
0,
0
);
exports = 0;
instanceInterpolations = {
"3FE559C8-92B2-4945-98E1-957E28CC3242" = 1;
};
name = "opsz18-wdth100-wght1000-Ital0-Rond0-Grad0";
},
{
axesValues = (
18,
151,
1,
0,
0,
0
);
instanceInterpolations = {
"0021AA3E-33E2-4F1E-9FD6-8297B68C23E5" = 1;
};
name = "opsz18-wdth151-wght1-Ital0-Rond0-Grad0";
visible = 0;
},
{
axesValues = (
18,
151,
400,
0,
0,
0
);
exports = 0;
instanceInterpolations = {
"1FEA22D7-2068-4056-88D4-2AD2F85FF1E6" = 1;
};
name = "opsz18-wdth151-wght400-Ital0-Rond0-Grad0";
visible = 0;
},
{
axesValues = (
18,
151,
1000,
0,
0,
0
);
instanceInterpolations = {
"82EDAE61-C337-4E57-86ED-8ABB62F5EE04" = 1;
};
name = "opsz18-wdth151-wght1000-Ital0-Rond0-Grad0";
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
},
{
name = "zone 1";
},
{
name = "zone 2";
},
{
name = "zone 3";
},
{
name = "zone 4";
}
);
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Google Sans Authors";
}
);
},
{
key = designerURL;
value = "https://design.google";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Google LLC";
}
);
},
{
key = manufacturerURL;
value = "https://design.google";
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2015 Google LLC. All Rights Reserved.";
}
);
},
{
key = vendorID;
value = GOOG;
},
{
key = licenses;
values = (
{
language = dflt;
value = "Google offers many fonts on open source terms. Google Sans Flex is not one of them. Please see google.com/fonts for alternatives.";
}
);
},
{
key = trademarks;
values = (
{
language = dflt;
value = "Google Sans is a trademark of Google.";
}
);
}
);
settings = {
disablesNiceNames = 1;
};
unitsPerEm = 2000;
userData = {
GSDimensionPlugin.Dimensions = {
"0021AA3E-33E2-4F1E-9FD6-8297B68C23E5" = {
HH = "31";
HV = "32";
OH = "31";
OV = "35";
nV = "31";
oH = "30";
oV = "32";
};
"0B6E8B28-0A6B-4789-81CC-53B6E98EF6CB" = {
HH = "400";
HV = "430";
OH = "410";
OV = "440";
nV = "425";
oH = "395";
oV = "430";
tH = "302";
};
"1FEA22D7-2068-4056-88D4-2AD2F85FF1E6" = {
HH = "158";
HV = "170";
OH = "154";
OV = "180";
};
"2B0BF085-F989-4EBC-AD2D-3BA663661F50" = {
HH = "28";
HV = "30";
OH = "28";
OV = "32";
nV = "28";
oH = "27";
oV = "28";
tH = "27";
};
"3FE559C8-92B2-4945-98E1-957E28CC3242" = {
HH = "444";
HV = "480";
OH = "468";
OV = "480";
nV = "474";
oH = "384";
oV = "456";
tH = "328";
};
"59C106D9-34D8-4EDF-9467-5A22D3D96ECF" = {
HH = "156";
HV = "170";
OH = "154";
OV = "180";
};
"6F2368DB-63B6-430D-B9CD-08A6184CB9E7" = {
HH = "28";
HV = "30";
OH = "28";
OV = "32";
nV = "28";
oH = "28";
oV = "28";
tH = "27";
};
"82EDAE61-C337-4E57-86ED-8ABB62F5EE04" = {
HH = "412";
HV = "480";
OH = "415";
OV = "500";
nV = "474";
oH = "358";
oV = "478";
tH = "326";
};
};
UFO.lib = {
public.openTypeCategories = {
A = base;
AE = base;
B = base;
C = base;
D = base;
E = base;
F = base;
G = base;
H = base;
I = base;
J = base;
K = base;
L = base;
M = base;
N = base;
O = base;
P = base;
Q = base;
R = base;
S = base;
T = base;
Thorn = base;
U = base;
V = base;
W = base;
X = base;
Y = base;
Z = base;
a = base;
a.alt = base;
acutecomb = mark;
ae = base;
b = base;
brevecomb = mark;
c = base;
caroncomb = mark;
caroncomb.alt = mark;
cedillacomb = mark;
circumflexcomb = mark;
commaaccentcomb = mark;
commaturnedabovecomb = mark;
d = base;
dieresiscomb = mark;
dotaccentcomb = mark;
e = base;
eth = base;
f = base;
g = base;
g.alt = base;
germandbls = base;
gravecomb = mark;
h = base;
hungarumlautcomb = mark;
i = base;
idotless = base;
jdotless = base;
k = base;
l = base;
m = base;
macroncomb = mark;
n = base;
o = base;
ogonekcomb = mark;
p = base;
q = base;
r = base;
ringcomb = mark;
s = base;
t = base;
thorn = base;
tildecomb = mark;
u = base;
uni25CC = base;
v = base;
w = base;
x = base;
y = base;
z = base;
};
public.postscriptNames = {
Acaron = uni01CD;
"Eth-bar" = Ethbar;
Gcommaaccent = uni0122;
Germandbls = uni1E9E;
"H-bar" = Hbar;
Kcommaaccent = uni0136;
Lcommaaccent = uni013B;
Ncommaaccent = uni0145;
"Oslash-bar" = Oslashbar;
Rcommaaccent = uni0156;
Scommaaccent = uni0218;
Tcedilla = uni0162;
Tcommaaccent = uni021A;
acaron = uni01CE;
acaron.alt = uni01CE.alt;
brevecomb = uni0306;
caroncomb = uni030C;
caroncomb.alt = uni030C.alt;
cedillacomb = uni0327;
circumflexcomb = uni0302;
commaaccentcomb = uni0326;
commaturnedabovecomb = uni0312;
"diagonalbarl-lc" = diagonalbarllc;
dieresiscomb = uni0308;
"dot-composite" = dotcomposite;
"dot-composite-top" = dotcompositetop;
dotaccentcomb = uni0307;
eightsubscript = uni2088;
eightsuperscript = uni2078;
emspace = uni2003;
enspace = uni2002;
"exclam-bottom" = exclambottom;
"exclam-top" = exclamtop;
fivesubscript = uni2085;
fivesuperscript = uni2075;
fourperemspace = uni2005;
foursubscript = uni2084;
foursuperior = uni2074;
foursuperscript = uni2074;
gcommaaccent = uni0123;
gcommaaccent.alt = uni0123.alt;
"greaterequal-stroke" = greaterequalstroke;
guillemetleft = guillemotleft;
guillemetright = guillemotright;
hairspace = uni200A;
hungarumlautcomb = uni030B;
idotless = dotlessi;
jdotless = uni0237;
kcommaaccent = uni0137;
lcommaaccent = uni013C;
macroncomb = uni0304;
micro = uni00B5;
mu = uni03BC;
ncommaaccent = uni0146;
ninesubscript = uni2089;
ninesuperscript = uni2079;
"notequal-slash" = notequalslash;
ogonekcomb = uni0328;
onesubscript = uni2081;
onesuperior = uni00B9;
"oslash-bar" = oslashbar;
"question-bottom" = questionbottom;
"question-top" = questiontop;
rcommaaccent = uni0157;
ringcomb = uni030A;
scommaaccent = uni0219;
sevensubscript = uni2087;
sevensuperscript = uni2077;
sixperemspace = uni2006;
sixsubscript = uni2086;
sixsuperscript = uni2076;
softhyphen = uni00AD;
tcedilla = uni0163;
tcommaaccent = uni021B;
thinspace = uni2009;
threeperemspace = uni2004;
threesubscript = uni2083;
threesuperior = uni00B3;
twosubscript = uni2082;
twosuperior = uni00B2;
zerosubscript = uni2080;
zerosuperscript = uni2070;
zerowidthspace = uni200B;
};
};
UFOFormat = 3;
UFOLayerName = foreground;
};
versionMajor = 1;
versionMinor = 0;
}
