{
displayStrings = (
"μu012C34578
μu012C34578
μu012C34578
μu012C34578
/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④ /zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④
/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④ /zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④",
"฿/baht.tf"
);
}
