{
displayStrings = (
"μu012C34578
/zero.tf/one.tf/two.tf/three.tf/four.tf/five.tf/seven.tf/eight.tf 
/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④ /zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④
/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④ /zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/seven.denominator/eight.denominator ④",
"฿/baht.tf",
" /backslash –—_",
"«»‹›",
"/zero.numr.percent ⁄/zero.dnom.percent %/zero.numr.percent/percentbar.tab/zero.dnom.percent/percent.tf/zero.tf",
"",
ADHESION,
"Ga/comp_eth ðeg/e.alt ฿¢$/comp_eth/comp_eth_bar/_tail.Q"
);
}
