{
displayStrings = (
"AÆBCDEƏFGHIJKƘLMNOØŒPÞRSsẞTUVWXYƳZ/G.super aæbɓcdɗðeəfghıȷkƙlmnoøœpþqrsßtuvwxyƴz/a.alt/ae.alt/g.alt/e.alt/g.ss03/dcroat_comp/hbar_comp hªaºˣμ𝛡012345678/zero.denominator/one.denominator/two.denominator/three.denominator/four.denominator/five.denominator/six.denominator/seven.denominator/eight.denominator/zero.slash/one.tf/two.tf/three.tf/four.tf/five.tf/seven.tf ④⁄/zero.dnom.percent/.notdef .,!?•*#///backslash -–—_)}]›'฿@&¶§™°|¦€¢¤$⃁₹£₩¥/riyalSaudi.tf/won.tf/yen.tf ⁻+−×<±~¬^√⇦⇩⌘",
z,
"ưus/nine.denominator ➈➒"
);
}
