<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
  </dict>
</plist>
