{
displayStrings = (
Google,
"ĘĮŞȘṢŲąąįŕŕřřŗŗų999999„„„„ʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻ",
Google,
"/e.alt",
"ĘĮŞȘṢŲąąįľľľľľľľľľľľľľľľľľłłłłłŕŕřřŗŗưưưưưưưưhnưưưưưưưų/aogonek.alt/f_b/f_b/f_b/f_b/f_b/f_f_b/f_f_b/f_f_b/f_f_b/f_f_b/f_f_h/f_f_h/f_f_h/f_f_h/f_f_h/f_f_h/f_f_k/f_f_k/f_f_k/f_f_k/f_f_k/f_f_k ﬄﬄﬄﬄﬄﬄ/f_h/f_h/f_h/f_h/f_h/f_h/f_k/f_k/f_k/f_k/f_k/f_k ﬂﬂﬂﬂﬂﬂ999999„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„„‹≥≥≥ʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻʻ",
"ưư"
);
}
