{
displayStrings = (
"
ďl
 aďbďcďdďeďfďgďhďiďjďkďlďmďnďoďpďqďrďsďtďuďvďwďxďyďzď
ľaľbľcľdľeľfľgľhľiľjľkľlľmľnľoľpľqľrľsľtľuľvľwľxľyľzľ
ťaťbťcťdťeťfťgťhťiťjťkťlťmťnťoťpťqťrťsťtťuťvťwťxťyťzť
ßaßbßcßdßeßfßgßhßißjßkßlßmßnßoßpßqßrßsßtßußvßwßxßyßzß

ďAďBďCďCďEďFďGďHďIďJďKďLďMďNďOďPďQďRďSďTďUďVďWďXďYďZď
ľAľBľCľDľEľFľGľHľIľJľKľľMľNľOľPľQľRľSľTľUľVľWľXľYľZľ
ťAťBťCťDťEťFťGťHťIťJťKťLťMťNťOťPťQťRťSťTťUťVťWťXťYťZť



",
"
ďaďbďcďdďeďfďgďhďiďjďkďlďmďnďoďpďqďrďsďtďuďvďwďxďyďzď
ľaľbľcľdľeľfľgľhľiľjľkľlľmľnľoľpľqľrľsľtľuľvľwľxľyľzľ
ťaťbťcťdťeťfťgťhťiťjťkťlťmťnťoťpťqťrťsťtťuťvťwťxťyťzť
ßaßbßcßdßeßfßgßhßißjßkßlßmßnßoßpßqßrßsßtßußvßwßxßyßzß


ďAďBďCďCďEďFďGďHďIďJďKďLďMďNďOďPďQďRďSďTďUďVďWďXďYďZď
ľAľBľCľDľEľFľGľHľIľJľKľľMľNľOľPľQľRľSľTľUľVľWľXľYľZľ
ťAťBťCťDťEťFťGťHťIťJťKťLťMťNťOťPťQťRťSťTťUťVťWťXťYťZť
ßAßBßCßDßEßFßGßHßIßJßKßLßMßNßOßPßQßRßSßTßUßVßWßXßYßZß



",
"
ďaďbďcďdďeďfďgďhďiďjďkďlďmďnďoďpďqďrďsďtďuďvďwďxďyďzď
ľaľbľcľdľeľfľgľhľiľjľkľlľmľnľoľpľqľrľsľtľuľvľwľxľyľzľ
ťaťbťcťdťeťfťgťhťiťjťkťlťmťnťoťpťqťrťsťtťuťvťwťxťyťzť",
"
ďAďBďCďCďEďFďGďHďIďJďKďLďMďNďOďPďQďRďSďTďUďVďWďXďYďZď
ľAľBľCľDľEľFľGľHľIľJľKľľMľNľOľPľQľRľSľTľUľVľWľXľYľZľ
ťAťBťCťDťEťFťGťHťIťJťKťLťMťNťOťPťQťRťSťTťUťVťWťXťYťZť


",
"

ďaďbďcďdďeďfďgďhďiďjďkďlďmďnďoďpďqďrďsďtďuďvďwďxďyďzď
ľaľbľcľdľeľfľgľhľiľjľkľlľmľnľoľpľqľrľsľtľuľvľwľxľyľzľ
ťaťbťcťdťeťfťgťhťiťjťkťlťmťnťoťpťqťrťsťtťuťvťwťxťyťzť


ďAďBďCďCďEďFďGďHďIďJďKďLďMďNďOďPďQďRďSďTďUďVďWďXďYďZď
ľAľBľCľDľEľFľGľHľIľJľKľľMľNľOľPľQľRľSľTľUľVľWľXľYľZľ
ťAťBťCťDťEťFťGťHťIťJťKťLťMťNťOťPťQťRťSťTťUťVťWťXťYťZť
",
"/zero.tf/rupeeIndian.tf",
"„",
"{}",
"Ĳ",
"UÚŬÛÜỤÙỦƯỨỰỪỬỮŰŪŲŮŨ"
);
}
